[2020-06-06 10:22] CAMOBAP opened #308 "Implement system mia-bel-Cerl-Latn-2008"
### Intro

During preparing test data for new tests for `icao-bel-Cyrl-Latn-9303` based on real passport's data of my friends (as I  already did in https://github.com/interscript/interscript/commit/68bbc591b51f38ed4103fee78ebe6291479f595c), I have found that some name didn't pass validation, examples:
 - Евгений -> Yauheni
 - Дзмітрый ->Dzmitry

### Investigation

Also, I have found that in Belaru

[2020-06-07 07:46] ronaldtse commented on #308
I found the abbreviation of the Belarussian Ministry of Internal Affairs is MVD (https://www.mvd.gov.by/), so that would be more appropriate?

This means that there are 2 systems for `bel` and `rus`.

In this case there are a few systems:
* `mvd-bel-Cyrl-Latn-2008`
* `mvd-rus-Cyrl-Latn-2008`
* `mvd-bel-Cyrl-Latn-2010`
* `mvd-rus-Cyrl-Latn-2010` (only if the 2010 version affect the Russian translit

[2020-06-08 03:14] ronaldtse opened #309 "Implement Arabic transliteration and a "fully-pointed Arabic" form"
Some written scripts do not usually specify all phonemic elements in a word. These include Arabic, Syriac, and Hebrew.

In the transliteration of Arabic script to other scripts, the 3 short vowels and the shadda (double consonant) are missing. The fully expressed form of Arabic script is called "pointed script", but it still does not necessarily represent all linguistic elements (e.g. shadda). Mos

[2020-06-08 06:23] ronaldtse opened #310 "Create website that shows all implemented systems"
We need to create a website to display all implemented systems and the description of them, including their description and their rules.

[2020-06-08 09:28] ronaldtse opened #311 "Create API/website to allow dynamic transliteration"
This can be done via an AWS Lambda with this code embedded. Should be straightforward.

Do you have time for this @phuonghuynh?

[2020-06-08 12:04] phuonghuynh commented on #311
Yes, @ronaldtse

[2020-06-10 08:38] phuonghuynh commented on #311
Could we add LamdbaHandler to this repo?

[2020-06-10 08:47] ronaldtse commented on #311
Yup, please create PR. Thanks!

[2020-07-11 07:45] ronaldtse opened #312 "Create and catch errors"
I think we need to elaborate these errors in interscript gem and catch them in the lambda.

- no system provided, no content provided
- conversion system specified doesn’t exist
- conversion process failure
- time-out (eg conversion too long)
- conversion text too long (need to define a max length)
- too many calls

_Originally posted by @ronaldtse in https://github.com/interscript/infrastructure/

[2020-07-11 07:47] ronaldtse opened #313 "Interscript web API"
For API we also need:
- list out all supported systems (key by language code)
- list out system limits (timeout, size limits)

_Originally posted by @ronaldtse in https://github.com/interscript/infrastructure/issues/1#issuecomment-657009964_

[2020-07-16 07:53] ronaldtse commented on #309
The goal of this task is to transliterate Arabic place names using different transliteration systems. e.g. some systems write "Mekkah", some "Mecca"

In Arabic, in my very simplistic understanding, does not usually write out short vowels and the shadda.

In this screenshot, you can see that the Arabic does not write out all short vowels:
<img width="1159" alt="image" src="https://user-images.githu

[2020-07-17 05:38] phuonghuynh opened #315 "Deploy current version to Gems"
/cc @ronaldtse

Since lambda-api using quiet old version of the gem

[2020-07-17 15:42] CAMOBAP commented on #293
no response from land@land.gov.ua we may fix this on-demand

[2020-07-17 15:42] #293 closed

[2020-07-17 15:52] CAMOBAP commented on #84
@ronaldtse the doc above refers to 2009 and 2013 years and I sure that it's related to https://github.com/interscript/interscript/issues/272

So we still have no spec for this one

[2020-07-17 16:10] ronaldtse commented on #84
Yes you're right. Let me ask for the spec, but could we link this test data with the #272 systems for now? Maybe they would already suit this system?

[2020-07-19 11:46] CAMOBAP commented on #263
Done

[2020-07-19 11:46] #263 closed

[2020-07-19 11:46] CAMOBAP commented on #269
Done

[2020-07-19 11:46] #269 closed

[2020-07-19 11:46] CAMOBAP commented on #270
Done

[2020-07-19 11:46] #270 closed

[2020-07-19 11:46] CAMOBAP commented on #272
Done

[2020-07-19 11:46] #272 closed

[2020-07-19 11:46] CAMOBAP commented on #279
Done

[2020-07-19 11:46] #279 closed

[2020-07-19 11:50] CAMOBAP commented on #138
@ronaldtse could you please point to a spec/refs?

[2020-07-19 13:33] CAMOBAP commented on #150
Was done a while ago https://github.com/interscript/interscript/blob/master/maps/bgnpcgn-rus-Cyrl-Latn-1947.yaml

[2020-07-19 13:33] #150 closed

[2020-07-19 15:05] CAMOBAP commented on #71
@ronaldtse could you please point to some reference / specification, wasn't managed to google it

[2020-07-19 15:06] CAMOBAP commented on #72
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829203/TABLE_OF_CORRESPONDENCES__FOR_BASHKIR.pdf

[2020-07-20 01:18] ronaldtse commented on #138
Here it is: http://catdir.loc.gov/catdir/cpso/romanization/mongolia.pdf

[2020-07-20 01:20] ronaldtse commented on #71
Here it is: http://catdir.loc.gov/catdir/cpso/romanization/azerbaij.pdf

[2020-07-20 08:41] #308 closed

[2020-07-20 08:41] #70 closed

[2020-07-20 08:41] #72 closed

[2020-07-27 13:19] CAMOBAP commented on #308
Got response we are implemented this in the right way
[ответ18.pdf](https://github.com/interscript/interscript/files/4982204/18.pdf)

[2020-07-28 04:09] phuonghuynh commented on #315
@ronaldtse do you think we should implement GHA for this kind of task?

[2020-07-28 05:56] ronaldtse commented on #315
@phuonghuynh do you mean the auto-publish of the gem via GHA to Rubygems?

@CAMOBAP has done that before. @CAMOBAP can you help with this? Thanks!

[2020-07-28 15:54] ronaldtse opened #320 "Fix sequitur build"
The old git tag was failing, and the latest one sequitur-g2p/sequitur-g2p@9b7c505 worked.

[2020-07-28 15:55] #320 closed

[2020-07-28 15:58] ronaldtse opened #321 "Add documentation in README on how to setup gem"
These steps need to be described:

[code]

[2020-07-28 16:07] ronaldtse opened #322 "Unable to install sequitur on Windows"
https://github.com/interscript/interscript/runs/919664896?check_suite_focus=true

[code]

[2020-07-28 16:10] #311 closed

[2020-07-29 10:29] ronaldtse commented on #315
Works now. Thanks @CAMOBAP !

[2020-07-29 10:29] #315 closed

[2020-07-29 13:02] ronaldtse commented on #309
Ping @AhMohsen46

[2020-07-30 04:02] ronaldtse opened #323 "Create JS interscript version via Opal"
https://github.com/opal/opal

So that an interscript.js file can be used by browsers directly. We can also deploy this in parallel with the web server version on www.interscript.com.

[2020-07-30 04:02] ronaldtse commented on #323
We will have to exclude the non-Ruby code (i.e. Python) and the maps that depend on the non-Ruby code.

[2020-07-30 12:31] ronaldtse opened #324 "Adopt BSD license for the Interscript project"
We've decided to adopt the BSD license for the interscript project and its related work. We will adopt the same BSD 2-clause license as applied to RNP.

[2020-07-30 12:34] ronaldtse commented on #324
Done in c07282a

[2020-07-30 12:34] #324 closed

[2020-07-31 03:57] ronaldtse opened #325 "Develop Rust version of interscript transliteration code"
Migrating from Ruby code to Rust: https://deliveroo.engineering/2019/02/14/moving-from-ruby-to-rust.html

Model training: https://www.lpalmieri.com/posts/2019-12-01-taking-ml-to-production-with-rust-a-25x-speedup/

The goal is to develop a Rust version that allows fast conversion of text from one language/script to another language/script pair using the defined systems inside Interscript (the syst

[2020-07-31 17:11] phuonghuynh opened #326 "Fix Rpsec error (master branch)"
/cc @ronaldtse

We getting failed cases in Rspec.
[rspec_results.zip](https://github.com/interscript/interscript/files/5008186/rspec_results.zip)

[2020-07-31 17:13] ronaldtse commented on #326
<img width="296" alt="Screen Shot 2020-08-01 at 1 12 38 AM" src="https://user-images.githubusercontent.com/11865/89059618-18a04a80-d394-11ea-88a6-eb90d11eac79.png">

@phuonghuynh there is no failure in master branch... see GHA. This latest failure on windows is due to network issues.

[2020-07-31 17:14] ronaldtse commented on #326
@phuonghuynh you have to see the GHA workflow to see how to setup the Python usage.

[2020-07-31 17:16] ronaldtse commented on #326
https://github.com/interscript/interscript/blob/c07282af44ba1d3ccaa0ca8c55d74f3a5b6139c3/.github/workflows/test.yml#L47-L73

[2020-07-31 17:20] phuonghuynh commented on #326
Thanks @ronaldtse , my bad, good now,

[2020-07-31 17:20] #326 closed

[2020-07-31 18:53] ronaldtse commented on #326
Thanks @phuonghuynh , hope this will be fixed in interscript-api.

[2020-08-05 09:11] #278 closed

[2020-08-05 13:58] #276 closed

[2020-08-05 16:05] #275 closed

[2020-08-05 16:05] #274 closed

[2020-08-05 17:11] #273 closed

[2020-08-06 07:09] ronaldtse commented on #191
Specification: https://www.eki.ee/wgrs/rom1_ur.htm

Specification: https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/pubs/UNGEGN%20tech%20ref%20manual_m87_combined.pdf

<img width="719" alt="Screen Shot 2020-08-06 at 3 09 34 PM" src="https://user-images.githubusercontent.com/11865/89501987-d729f800-d7f6-11ea-8a4e-28dbc20c1632.png">

<img width="729" alt="Screen Shot 2020-08-06 at 3 09 43 PM" src="ht

[2020-08-06 10:43] #271 closed

[2020-08-06 14:18] #267 closed

[2020-08-11 02:53] ronaldtse opened #327 "Chinese should use `zho` language code"
https://github.com/interscript/interscript/blob/c3dfab376cc96fbecd28b2e41a00f4862db8fec5/maps/bgnpcgn-chn-Hans-Latn-1979.yaml#L4

From interscript.com:

<img width="662" alt="Screen Shot 2020-08-11 at 10 53 18 AM" src="https://user-images.githubusercontent.com/11865/89852177-df03e680-dbc0-11ea-9aca-66874175c27c.png">

[2020-08-11 02:57] ronaldtse commented on #327
Actually there are three kinds of codes used in Interscript -- 639-2, 639-3 and 639-5. We need to differentiate them.

[2020-08-11 10:57] strogonoff opened #328 "Document which ISO 639-2 language code is part of SCS identifier (B or T)"
3-letter codes can be B or T, README doesn’t say which🤔

[2020-08-11 11:15] ronaldtse commented on #328
We should define. Interscript can technically be used for both bibliography or terminology, but we should stick to one.

Let's follow ISO/DIS 24229 (ping @ribose-jeffreylau):
<img width="489" alt="Screen Shot 2020-08-11 at 7 15 23 PM" src="https://user-images.githubusercontent.com/11865/89891068-02518480-dc07-11ea-9b98-710d1b5c7ca9.png">

[2020-08-11 11:18] ronaldtse commented on #328
Updated README.

[2020-08-11 11:18] #328 closed

[2020-08-11 11:26] ronaldtse commented on #327
Fixed in bdeac5a.

[2020-08-11 11:26] #327 closed

[2020-08-11 11:27] ronaldtse opened #329 "Generalize language code in ISCS maps"
There are few kinds of language codes used in Interscript -- ISO 639-1, 639-2, 639-3 and 639-5. We need to differentiate them.

e.g. `iso-639-1:ru`, `iso-639-2:rus`

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/issues/327#issuecomment-671695341_

[2020-08-15 10:18] AhMohsen46 opened #330 "interscript example in Readme not working"
on running the following from command line
[code]

it exits with the following error
`transliterate_file': wrong number of arguments (given 3, expected 4) (ArgumentError)`

[2020-08-15 14:13] AhMohsen46 commented on #330
this [PR#331](https://github.com/interscript/interscript/pull/331) fixes is

[2020-08-15 23:26] AhMohsen46 commented on #330
@ronaldtse we may close this linking to the PR, thanks!

[2020-08-15 23:27] AhMohsen46 commented on #330
@ronaldtse  we may close this linking to the PR, thanks!

[2020-08-15 23:27] #330 closed

[2020-08-16 12:30] ronaldtse commented on #309
@AhMohsen46 Feel free to continue on #33 , however:

1. You will want to work on the transliteration system with a backing data file.

For Arabic, you can see that:
* ara_Arab2Latn_BGN_1956 has 26.6 MB
* ara_Arab2Latn_ALA_1997 has 14 KB
* the other systems only have 1 or few rows, which makes them hard to test

<img width="518" alt="Screen Shot 2020-08-16 at 8 21 48 PM" src="https://user-images.gi

[2020-08-16 19:09] ronaldtse commented on #323
@webdev778 is handling this. Thanks!

[2020-08-19 13:07] AhMohsen46 opened #333 "Arabic fully pointed transliteration"
Arabic words like `قطر` if transliterated immediately would be like `qtr`
hence it should be transliterated as a fully pointed word so `قطر` should be `قَطَر` with FATHA ` َ  ` on both ق and ط
to be transliterated to Qatar as it's pronounced

also for Morocco  `المغرب` without pointing it'll be `Al Mghrb`
hence it should be transliterated as a fully pointed word so `المغرب` should be `المَغرِب` wi

[2020-08-19 13:15] ronaldtse opened #334 "Potentially using Rumale as a Ruby-native ML library"
https://github.com/yoshoku/rumale

[2020-08-19 13:17] ronaldtse opened #335 "Using suika the Japanese morphological analyzer"
https://github.com/yoshoku/suika

[2020-08-19 14:08] AhMohsen46 commented on #333
https://github.com/interscript/interscript/pull/336 pull request related for the above issue

note that some letters are conflicting in transliteration between https://unstats.un.org/unsd/geoinfo/geonames/ and http://www.eki.ee/wgrs/rom1_ar.pdf

example

مِصر "EGYPT" is Mişr in UN
`ص` is `ş`

but in http://www.eki.ee/wgrs/rom1_ar.pdf
ص is `s̱`

also in Qatar
قَطَر
ط is `ţ` in UN

but in http://ww

[2020-08-19 14:21] AhMohsen46 opened #337 "conflict between EKI and UNGEGN"
#336 pull request related for issue #333

note that some letters are conflicting in transliteration between https://unstats.un.org/unsd/geoinfo/geonames/ and http://www.eki.ee/wgrs/rom1_ar.pdf

example

مِصر "EGYPT" is Mişr in UN
ص is ş

but in http://www.eki.ee/wgrs/rom1_ar.pdf
ص is s̱

also in Qatar
قَطَر
ط is ţ in UN

but in http://www.eki.ee/wgrs/rom1_ar.pdf
ط is ṯ

[2020-08-19 14:50] AhMohsen46 commented on #337
@ronaldtse issue for UNGEGN

[2020-08-19 15:30] AhMohsen46 opened #338 "Transliterate Arabic sun letters / moon letters"
When the definite article AL `ال` precedes a word beginning with one of the "sun letters" (t, th, d, dh, r, z, s, sh, s̱, ḏ, ṯ, d͟h, l, n) the l of the definite article is assimilated with the first consonant of the word:
-الشارقة Ash Shāriqah.
-السعودية As Su‘ūdīyah

while for other names starting with `ال` but followed with one of the "moon letters" it's transliterated to AL like:
-المغرب Al Ma

[2020-08-19 17:22] ronaldtse commented on #337
Thanks @AhMohsen46 ! I have contacted UNGEGN to see what they think about this discrepancy. Will update!

[2020-08-19 17:26] AhMohsen46 commented on #337
will be waiting, thanks!

[2020-08-21 10:31] AhMohsen46 opened #340 "Transliterate (ة) tā’ marbūṭah in different contexts"
ة can be transliterated to (at) or (ah)
examples:
EGYPT formal name:
-`جُمهُوريَة مِصر العَربيَة`
is transliterated to:
-`Jumhūrīyat Mişr al ‘Arabīyah`

-`ة` in `جُمهُوريَة` is transliterated to `at`

-`ة` in `العَربيَة` is transliterated to `ah`

another example
- السُعُودِية
is transliterated to
-`as su‘ūdīyah`

-`ة`  is transliterated to `ah`

one more example:
capital of Eritrea is
-`أسمرة`
wh

[2020-08-22 02:55] ronaldtse opened #341 "kp-kor-Hang-Latn-2002: some un-transliterated characters"
Perhaps we should make this a spec.

Some characters are not covered by existing Jamo => Latn rules:
* Kuhyŏᆫ (trailing ᆫ)
* Paeyŏᆯ (trailing ᆯ)
* Khŏmphyuthiᆼ (trailing ᆼ)

Original:

[code]

[2020-08-23 15:53] AhMohsen46 opened #344 "Transliterate ّ "shadda" in different contexts of Arabic"
`مَكّة` should be transliterated to `makkah`
without taking `ّ` into consideration `makah`

`جِدّة` should be transliterated to `jiddah`
without taking `ّ` into consideration `jidah`

"shadda" doubles consonant letters in each word

[2020-08-23 22:12] #340 closed

[2020-08-23 23:06] AhMohsen46 commented on #344
handled in https://github.com/interscript/interscript/pull/345
@ronaldtse

[2020-08-25 06:07] ronaldtse commented on #337
@AhMohsen46 from UNGEGN:

This means that the database uses the previous system and has not been updated to use the new system. Therefore,
1. The Arabic in the UN Stats database data should be extracted and used to test the previous UN Arabic system
2. We need to come up with new examples (or compatible examples) to test the new UN Arabic system.

[2020-08-25 16:11] AhMohsen46 commented on #337
@ronaldtse so when the UNstats examples conflicts with EKI, I should trust EKI, right?
also, on some -very few cases- conflicts between the two systems are in letters, that they might be blocking testing the specific letters for them both, I either transliterate ص to ş or s̱

[2020-08-25 16:12] AhMohsen46 commented on #337
I've added a few examples fully covering all the issues open for arabic system and every feature added

[2020-08-25 16:59] ronaldtse commented on #337
@AhMohsen46 this means that we should have 2 systems:

1. the 2017 system: https://github.com/interscript/interscript/blob/master/maps/un-ara-Arab-Latn-2017.yaml
2. the 1972 system that is supposed to match with http://www.eki.ee/wgrs/rom1_ar.pdf ("UN 1972 System")

For 2, specifically:

Because they should share most rules, you can create an inherited map, you can find examples in the maps direct

[2020-08-25 17:03] ronaldtse opened #347 "Implement un-ara-Arab-Latn-1972"
As described in #337 and http://www.eki.ee/wgrs/rom1_ar.pdf.

We should implement un-ara-Arab-Latn-1972 system based on un-ara-Arab-Latn-2017. We could implement the rules in the 1972 system and have the 2017 system inherit common rules from it:

Ref:
https://github.com/interscript/interscript/blob/master/maps/un-ara-Arab-Latn-2017.yaml

[2020-08-25 17:03] ronaldtse commented on #337
@AhMohsen46 once https://github.com/interscript/interscript/issues/347 is done we can close this. Thanks!

[2020-08-25 17:04] ronaldtse commented on #68
<img width="915" alt="Screen Shot 2020-08-26 at 1 04 11 AM" src="https://user-images.githubusercontent.com/11865/91205388-0ec1fb00-e738-11ea-9744-8d109689b545.png">

[2020-08-25 17:06] ronaldtse opened #348 "Implement system `iso-ara-arab-latn-233-1984` (ISO 233:1984)"
<img width="923" alt="Screen Shot 2020-08-26 at 1 05 21 AM" src="https://user-images.githubusercontent.com/11865/91205480-37e28b80-e738-11ea-9ffd-1e306c1450ea.png">

This system can be directly mapped to the UN 2017 system, so it should be straightforward to implement.

[2020-08-25 17:27] ronaldtse opened #349 "Extract interscript maps to separate repository"
We may have multiple interscript transliteration engines, and between them they share the interscript maps.

We should make the maps available in a separate repository, and allow the different transliteration engines to share the same set. We should also store any trained models in that repository (in some interoperable format).

[2020-08-26 01:09] AhMohsen46 commented on #347
WIP: https://github.com/interscript/interscript/pull/350
to be finalized tomorrow
two more slight conflicts between 1972 "on UN site" and 2017
1-`خ` is kh on UN site
on 2017 it's `kẖ`
so my assumption it should have been changed from `kḩ`, but if UN is perfectly fitting 1972, so it's not

2- Ar Riyāḑ "الرِياض"
`ي` with ِ` `  before it is transliterated to `ī` in 2017
but in UN it's just a normal `

[2020-08-26 06:56] ronaldtse opened #351 "Implement seq2seq engine as a transformer"
This is necessary for transliterations/transcriptions in certain languages, and for pointing Arabic words.

[2020-08-26 06:58] ronaldtse opened #352 "Implement machine learning training for "pointing of Arabic script""
Depends on #351.

According to @AhMohsen46 the pointing of Arabic script is locale-specific (country, language). We need to probably train/use these models separately.

[2020-08-26 06:59] ronaldtse opened #353 "Implement un-ara-Arab-Latn-2017"
Described here:
http://www.eki.ee/wgrs/rom1_ar.pdf

With dataset:
https://unstats.un.org/unsd/geoinfo/geonames/

(actually this dataset uses the 1972 system, but nonetheless they are similar enough except for a few rules.

[2020-08-26 07:00] ronaldtse commented on #353
Implemented in 0a3c9dfebe361d04ec74588eb19aca0d40e0a280 .

[2020-08-26 07:00] #353 closed

[2020-08-26 07:03] ronaldtse commented on #347
@AhMohsen46 can you give specific examples so we can ask UNGEGN? Thanks.

[2020-08-26 07:17] AhMohsen46 commented on #347
Will provide more examples as soon as I start today, let us keep this till we we finish 1972 version, or maybe till we finish the two versions, in order to get back to them once and for all

[2020-08-27 15:31] AhMohsen46 commented on #347
examples for
kh:
1-خ is kh on UN site
on 2017 it's kẖ
so my assumption it should have been changed from kḩ, but if UN is perfectly fitting 1972, so it's not
Sudan Captial:
الخرطوم
Al Khurţūm
and city in saudi arabia
خــــميس مشــــيط - Khamīs Mushayţ

iy
2- Ar Riyāḑ "الرِياض"
ي with ِ before it is transliterated to ī in 2017
but in UN it's just a normal i, does this mean that in 1972 ي with ِ was

[2020-08-28 12:23] AhMohsen46 commented on #347
@ronaldtse check the last comment please, thanks!

[2020-08-28 14:43] AhMohsen46 commented on #337
from #347

examples for
kh:
1-خ is kh on UN site
on 2017 it's kẖ
so my assumption it should have been changed from kḩ, but if UN is perfectly fitting 1972, so it's not
Sudan Captial:
الخرطوم
Al Khurţūm
and city in saudi arabia
خــــميس مشــــيط - Khamīs Mushayţ

iy
2- Ar Riyāḑ "الرِياض"
ي with ِ before it is transliterated to ī in 2017
but in UN it's just a normal i, does this mean that in 1972 ي

[2020-08-28 14:45] AhMohsen46 commented on #347
@ronaldtse
implemented in https://github.com/interscript/interscript/pull/350
I will keep track of every inconsistency of each version in the main ticket we have open for UNGEN, and close the implementation tickets one by one

[2020-08-28 14:45] #347 closed

[2020-08-28 16:34] ronaldtse opened #355 "Verify UN Arabic 1972 system rule for `i` (and other rules)"
From #347

From UN 2017 system:
http://www.eki.ee/wgrs/rom1_ar.pdf

<img width="825" alt="Screen Shot 2020-08-29 at 12 32 57 AM" src="https://user-images.githubusercontent.com/11865/91591228-3068ef80-e98f-11ea-9c9c-0a444eb42dd0.png">

It is not described in the UN 1972 system that `i` is transliterated differently.

<img width="878" alt="Screen Shot 2020-08-29 at 12 33 15 AM" src="https://user-ima

[2020-08-28 16:34] ronaldtse commented on #347
@AhMohsen46 posted question in https://github.com/interscript/interscript/issues/355 .

[2020-08-28 17:05] ronaldtse commented on #355
https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_C3_R.6_Rev.2.pdf

This is the original UN 1972 Arabic system.

[E_Conf61_C3_R.6_Rev.2.pdf](https://github.com/interscript/interscript/files/5143281/E_Conf61_C3_R.6_Rev.2.pdf)

<img width="610" alt="Screen Shot 2020-08-29 at 1 03 33 AM" src="https://user-images.githubusercontent.com/11865/91593841-7922a780-e993-11ea-9b69-a7e00

[2020-08-28 17:05] ronaldtse commented on #355
@AhMohsen46 could you also verify that the 1972 system implemented fully adheres to this document? Thanks!

[2020-08-29 13:14] AhMohsen46 commented on #355
I've been comparing the doc for the last hour
I can see it's almost 100% matching, except for one rule related to Ar Riyad
as per the screenshot attached,  ya' `ي` preceded by kasra ` ِ ` should be  `ī`
however, on UNstats, Ar Riyāḑ "الرِياض"
also, funny fact, in the image, you can find the rule in the last line
in المَدِينة it's transliterated to `Al Madīnah`
it's done correctly
and in the first

[2020-08-29 16:01] AhMohsen46 commented on #68
@ronaldtse since the mapping here is from latin to latin, how about that, we inherit from 2017, and add post-rules to do this mapping?

would be more intuitive?
or should I track back and override characters mapping?, am okay doing any of them, they are more or less the same for me

second question, for letters having multiple mappings like

s = s(c)
or
q = q(k)

this might be helpful for reverse

[2020-08-29 16:08] ronaldtse commented on #68
It would be better to do a direct Arabic to Latin mapping. The documentation on top was just to indicate the comparison between the two systems.

When there are multiple transliteration rules, let’s just use the first rule. I know the second rule may be used depending on context (which may be used when there is machine learning).

[2020-08-31 01:11] ronaldtse commented on #355
This is the official answer from UNGEGN:

Is this issue resolved? If so please close this, thanks!

[2020-08-31 01:17] AhMohsen46 commented on #355
It makes perfect sense, thanks for the great help!

[2020-08-31 09:31] AhMohsen46 commented on #68
PR https://github.com/interscript/interscript/pull/357

[2020-08-31 10:10] ronaldtse opened #358 "Automatically push interscript js to interscript-js repo"
On release tag, automatically generate interscript.js and maps.json to interscript-js repo.

https://github.com/interscript/interscript-js/

[2020-08-31 23:42] AhMohsen46 opened #362 "(The Survey of Egypt System) ses-ara-arab-latn-1930 inquiry"
1-do we have a dataset for The Survey of Egypt System?
2-also, in [doc](http://www.eki.ee/wgrs/rom1_ar.pdf)  Not all the variations have been given above., is there is a better resource?, or is this all what we need to transliterate based on Survey of Egypt System?
3-just to assure ḏ = ḍ this is a dot under d instead of sub-macron (_); it's not a the cedilla (¸), right?

[2020-09-01 00:03] AhMohsen46 commented on #68
related issue https://github.com/interscript/interscript/issues/362

[2020-09-01 00:04] #68 closed

[2020-09-01 00:14] AhMohsen46 commented on #59
related PR https://github.com/interscript/interscript/pull/357
related issues https://github.com/interscript/interscript/issues/362 , https://github.com/interscript/interscript/issues/68

[2020-09-01 00:41] AhMohsen46 commented on #362
point 3 can be disregarded based on examples (here)[https://www.loc.gov/maps/?fa=subject%3Amaps%7Ccontributor%3Aegypt.+maslahat+al-misahah&dates=1930-1939&st=list&c=50&all=true]

[2020-09-01 02:01] AhMohsen46 commented on #355
https://github.com/interscript/interscript/pull/363 for i, as soon as we're done with kh, we can close this
@ronaldtse

[2020-09-01 02:37] #338 closed

[2020-09-01 10:15] AhMohsen46 commented on #337
this is good to close, thanks for to great effort @ronaldtse !

[2020-09-01 10:15] #337 closed

[2020-09-01 10:16] #344 closed

[2020-09-01 10:45] ronaldtse commented on #337
I've asked UNGEGN about kh vs kh with underbar, let's see what the response will be. Thanks!

[2020-09-01 10:57] ronaldtse commented on #355
I requested clarification for the kh issue, will update when I get a reply.

[2020-09-01 11:17] ronaldtse commented on #347
From UNGEGN:

The 1971 UN system is called the Beirut system (with underlines), and the 1972 UN system is called the “modified Beirut system" (with cedillas replacing all underlines).

(E/CONF.61/C.3/R.6/Rev.2: https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_C3_R.6_Rev.2.pdf)

[2020-09-01 11:17] ronaldtse commented on #337
kh is explained here: https://github.com/interscript/interscript/issues/347#issuecomment-684777658

[2020-09-01 11:51] AhMohsen46 commented on #355
Thanks @ronaldtse [url](https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_C3_R.6_Rev.2.pdf) here it's optional to be with underbars or without, but I can see on https://unstats.un.org/unsd/geoinfo/geonames/ it's all with no underbars; if unstats is following 1972 as I knew, it should be with underbars, or it might mean that underbars occur in a very limited cases

[2020-09-01 14:09] ronaldtse commented on #347
From UNGEGN:

The full page attached below:
<img width="932" alt="Screen Shot 2020-09-01 at 10 08 30 PM" src="https://user-images.githubusercontent.com/11865/91861668-acb94680-ec9f-11ea-8b8a-a5323f5813da.png">
<img width="895" alt="Screen Shot 2020-09-01 at 10 08 37 PM" src="https://user-images.githubusercontent.com/11865/91861686-b04ccd80-ec9f-11ea-8e87-bc920656beee.png">

There are actually 2 sy

[2020-09-01 14:11] ronaldtse commented on #347
This also means that the current system we have should be moved to 1971, and the 1972 one needs to be updated according to the above tables.

[2020-09-01 14:16] ronaldtse opened #364 "Differentiate un-ara-Arab-Latn-{1971,1972} systems"
From UNGEGN:

The full page attached below:
<img width="932" alt="Screen Shot 2020-09-01 at 10 08 30 PM" src="https://user-images.githubusercontent.com/11865/91861668-acb94680-ec9f-11ea-8b8a-a5323f5813da.png">
<img width="895" alt="Screen Shot 2020-09-01 at 10 08 37 PM" src="https://user-images.githubusercontent.com/11865/91861686-b04ccd80-ec9f-11ea-8e87-bc920656beee.png">

There are actually 2 sy

[2020-09-01 14:36] AhMohsen46 commented on #364
as per my understanding now, 1971 is in the table in the screenshot attached page 175 in the document

here in this link http://www.eki.ee/wgrs/res/res_2_8.htm
it states the following to reference: 1 – Second United Nations Conference on the Standardization of Geographical Names: Vol. II. Technical papers, 1972, p. 31.

page 31(38 digital copy), page 31 got line under kh

the only match I see for

[2020-09-01 16:59] ronaldtse commented on #355
Clarified in #364 , closing this now.

[2020-09-01 16:59] #355 closed

[2020-09-02 11:53] AhMohsen46 commented on #364
@ronaldtse
in examples page 170, all the articles are having `-` between the definition and the word, not sure if that's a rule that they forgot mentioning, as there is a similar one in Egypt 1930

[2020-09-03 00:02] AhMohsen46 commented on #364
PR https://github.com/interscript/interscript/pull/365 fixes this

[2020-09-03 01:27] ronaldtse commented on #364
Thanks @AhMohsen46 !

[2020-09-03 01:27] #364 closed

[2020-09-03 01:28] #322 closed

[2020-09-03 09:06] ronaldtse opened #366 "Support transcription to phonetic languages"
e.g. http://www.photransedit.com/Online/Text2Phonetics.aspx

IPA is also a kind of script. If we are able to do seq2seq learning, I imagine that Text => IPA would also work (not sure about accuracy though).

Transcription library here:
http://www.photransedit.com/Resources/Transcriptions.aspx

[2020-09-03 09:22] ronaldtse commented on #362
We don't have a specific database for the SES system, but maybe their maps as you have found will contain those names?

[2020-09-03 09:33] #362 closed

[2020-09-03 11:11] AhMohsen46 commented on #348
this should be covering both the docs above https://github.com/interscript/interscript/pull/367

[2020-09-04 01:09] ronaldtse commented on #348
This is done. Thanks @AhMohsen46 !

[2020-09-04 01:09] #348 closed

[2020-09-04 01:10] ronaldtse commented on #323
This is completed in #354 .

[2020-09-04 01:10] #323 closed

[2020-09-04 14:02] ronaldtse opened #368 "Add validation on authority codes, script codes and language codes"
Script codes must be ISO 15924 codes.

Language codes must be ISO 639-X codes. Each code should be namespaced to the actual standard number.

Filename must be made of pattern `{authority-code}-{language-code}-{source-script-code}-{target-script-code}-{id}.yaml`.

Only a number of authority codes are allowed:

[code]

[2020-09-06 17:18] bilashsaha commented on #141
@ronaldtse Here is a [PR](https://github.com/interscript/interscript/pull/370) for this issue

[2020-09-07 02:22] ronaldtse commented on #141
@bilashsaha thanks for the PR -- I noticed I forgot to provide the original specification, which is here now:
[BGN_Romanization_Guide_1964_nepali_1964.pdf](https://github.com/interscript/interscript/files/5180758/BGN_Romanization_Guide_1964_nepali_1964.pdf)

<img width="651" alt="Screen Shot 2020-09-07 at 10 21 59 AM" src="https://user-images.githubusercontent.com/11865/92342636-f8cb1780-f0f3-11ea

[2020-09-07 02:25] ronaldtse commented on #139
[BGN_Romanization_Guide_1964_mongolian_1964.pdf](https://github.com/interscript/interscript/files/5180767/BGN_Romanization_Guide_1964_mongolian_1964.pdf)
<img width="695" alt="Screen Shot 2020-09-07 at 10 25 09 AM" src="https://user-images.githubusercontent.com/11865/92342759-6a0aca80-f0f4-11ea-8f55-8b5afef8ec4f.png">
<img width="617" alt="Screen Shot 2020-09-07 at 10 25 18 AM" src="https://user-i

[2020-09-07 02:26] ronaldtse opened #372 "Implement system `bgnpcgn-mul-arab-latn-1964` (BGN/PCGN Arabic (1964, 1956))"
[BGN_Romanization_Guide_1964_arabic_1956.pdf](https://github.com/interscript/interscript/files/5180770/BGN_Romanization_Guide_1964_arabic_1956.pdf)

[2020-09-07 02:27] ronaldtse opened #373 "Implement system `bgnpcgn-bul-cyrl-latn-1964` (BGN/PCGN Bulgarian (1964, 1952))"
[BGN_Romanization_Guide_1964_bulgarian_1952.pdf](https://github.com/interscript/interscript/files/5180773/BGN_Romanization_Guide_1964_bulgarian_1952.pdf)

[2020-09-07 02:27] ronaldtse opened #374 "Implement system `bgnpcgn-zho-hani-latn-1964` (BGN/PCGN Chinese (1964, 1943))"
[BGN_Romanization_Guide_1964_chinese_1943.pdf](https://github.com/interscript/interscript/files/5180775/BGN_Romanization_Guide_1964_chinese_1943.pdf)

[2020-09-07 02:28] ronaldtse opened #375 "Implement system `bgnpcgn-far-latn-latn-1964` (BGN/PCGN Faeroese (1964))"
[BGN_Romanization_Guide_1964_faeroese.pdf](https://github.com/interscript/interscript/files/5180777/BGN_Romanization_Guide_1964_faeroese.pdf)

[2020-09-07 02:28] ronaldtse opened #376 "Implement system `bgnpcgn-ell-grek-latn-1964` (BGN/PCGN Greek (1964, 1962))"
[BGN_Romanization_Guide_1964_greek_1962.pdf](https://github.com/interscript/interscript/files/5180780/BGN_Romanization_Guide_1964_greek_1962.pdf)

[2020-09-07 02:29] ronaldtse opened #377 "Implement system `bgnpcgn-heb-hebr-latn-1964` (BGN/PCGN Hebrew (1964, 1962))"
[BGN_Romanization_Guide_1964_hebrew_1962.pdf](https://github.com/interscript/interscript/files/5180783/BGN_Romanization_Guide_1964_hebrew_1962.pdf)

[2020-09-07 02:29] ronaldtse opened #378 "Implement system `bgnpcgn-isl-latn-latn-1964` (BGN/PCGN Icelandic (1964, 1947))"
[BGN_Romanization_Guide_1964_icelandic_1947.pdf](https://github.com/interscript/interscript/files/5180785/BGN_Romanization_Guide_1964_icelandic_1947.pdf)

[2020-09-07 02:30] ronaldtse opened #379 "Implement system `bgnpcgn-jap-hrkt-latn-1930` (BGN/PCGN Japanese (1964, 1930))"
[BGN_Romanization_Guide_1964_japanese_1930.pdf](https://github.com/interscript/interscript/files/5180795/BGN_Romanization_Guide_1964_japanese_1930.pdf)

[2020-09-07 02:30] ronaldtse opened #380 "Implement system `bgnpcgn-kor-hang-latn-1939` (BGN/PCGN Korean (1964, 1939))"
[BGN_Romanization_Guide_1964_korean_1939.pdf](https://github.com/interscript/interscript/files/5180797/BGN_Romanization_Guide_1964_korean_1939.pdf)

[2020-09-07 02:32] ronaldtse commented on #60
Original spec: [BGN_Romanization_Guide_1964_arabic_1956.pdf](https://github.com/interscript/interscript/files/5180770/BGN_Romanization_Guide_1964_arabic_1956.pdf)

[2020-09-07 02:33] ronaldtse commented on #372
Duplicate of #60

[2020-09-07 02:33] #372 closed

[2020-09-07 02:33] ronaldtse commented on #380
Duplicate of #240

[2020-09-07 02:33] #380 closed

[2020-09-07 02:33] ronaldtse commented on #379
Duplicate of #239

[2020-09-07 02:33] #379 closed

[2020-09-07 02:34] ronaldtse commented on #373
Duplicate of #81

[2020-09-07 02:35] ronaldtse commented on #376
Duplicate of #198

[2020-09-07 02:35] #376 closed

[2020-09-07 02:37] ronaldtse opened #381 "Implement system `bgnpcgn-srp-cyrl-latn-1962` (BGN/PCGN Serbian (1964, 1962))"
[BGN_Romanization_Guide_1964_serbian_1962.pdf](https://github.com/interscript/interscript/files/5180818/BGN_Romanization_Guide_1964_serbian_1962.pdf)

[2020-09-07 02:37] ronaldtse commented on #96
[BGN_Romanization_Guide_1964_persian_1958.pdf](https://github.com/interscript/interscript/files/5180821/BGN_Romanization_Guide_1964_persian_1958.pdf)

[2020-09-07 02:38] ronaldtse commented on #60
This task is being done in #371 .

[2020-09-07 02:40] ronaldtse commented on #377
Duplicate of #102

[2020-09-07 02:40] #377 closed

[2020-09-07 02:45] ronaldtse opened #382 "Implement system `un-nep-deva-latn-1972` (UNGEGN Nepali (1972))"
https://www.eki.ee/wgrs/v3_0/rom1_ne.pdf

[2020-09-07 02:52] ronaldtse opened #383 "Implement system `dos-nep-deva-latn-1997` (Nepal Survey Department Nepali (1997))"
Survey Department, Ministry of Land Management, Cooperatives and Poverty Alleviation, Government of Nepal.
<img width="531" alt="Screen Shot 2020-09-07 at 10 47 36 AM" src="https://user-images.githubusercontent.com/11865/92343885-8bb98100-f0f7-11ea-8cb2-c7d4a66bd0ff.png">
[translation2.pdf](https://github.com/interscript/interscript/files/5180860/translation2.pdf)
<img width="615" alt="Screen Shot

[2020-09-07 03:00] ronaldtse commented on #21
Clarification from UNGEGN:

[2020-09-07 03:07] ronaldtse opened #384 "Implement ALA-LC Mongolian in Classical Mongolian vertical script (alalc-mon-mong-latn-1997)"
https://www.loc.gov/catdir/cpso/romanization/mongolia.pdf
<img width="678" alt="Screen Shot 2020-09-07 at 11 04 25 AM" src="https://user-images.githubusercontent.com/11865/92344740-e522af80-f0f9-11ea-83f3-dc5730b8b2e6.png">
<img width="673" alt="Screen Shot 2020-09-07 at 11 04 32 AM" src="https://user-images.githubusercontent.com/11865/92344746-e8b63680-f0f9-11ea-86c4-dc5a773d14cb.png">
[mongolia.

[2020-09-07 10:32] ronaldtse commented on #382
For @bilashsaha

[2020-09-07 10:32] ronaldtse commented on #383
For @bilashsaha

[2020-09-07 14:10] AhMohsen46 opened #386 "Issues in BGN/PCGN Romanization for Arabic (1956) specification"
In this [original specification](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/858000/ROMANIZATION_OF_ARABIC.pdf)

1-  `الثُّلَيثُوَات` is transliterated to `ath thulaythuwāt`

I assume there is a missing sokoon that had to be on `ya'` so it had to be like this `الثُّلَيْثُوَات`
otherwise it'd have been transliterated to `ath thulaīthuwāt` given th

[2020-09-07 14:11] AhMohsen46 commented on #60
issue for two example given in the doc https://github.com/interscript/interscript/issues/386

[2020-09-07 14:30] #60 closed

[2020-09-07 14:39] ronaldtse commented on #386
@AhMohsen46 for 2, what will that be transliterated according to the system if strictly enforced?

[2020-09-07 14:44] AhMohsen46 commented on #386
expected: "Mazzah Vīllāt Gharbīyah"
got: "mazzat vīllāt gharbīyah"

the `ة` is tranlisterated to `at` instead if `ah`, based on the fact that the system may consider `مَزََّة` as "modaf"
same as in `جُمهوريَّة مِصر العَرَبية` being transliterated to `jumhūrīyat mis̱r al ‘arabīyah`

[2020-09-07 21:44] AhMohsen46 opened #388 "Apply capital initial definite article"
The definite article is always written with a capital initial: الزيتون Az Zaytūn, البلد Al Balad,
الضنية منية Minyat Aḏ Ḏinniyyah. from [UN doc](http://www.eki.ee/wgrs/rom1_ar.pdf)

Initial definite articles should be capitalized and hyphens should not be used to
connect parts of names, e.g. Ash Shāriqah. When appearing medially in a name the
initial ‘a’ should be lower case, e.g. Tall al Laḩm. fr

[2020-09-07 22:01] AhMohsen46 commented on #388
https://github.com/interscript/interscript/pull/387

[2020-09-08 04:56] ronaldtse commented on #61
Ping @tsega

[2020-09-08 04:56] ronaldtse commented on #62
Ping @tsega

[2020-09-08 04:59] ronaldtse commented on #62
Spec: http://catdir.loc.gov/catdir/cpso/romanization/amharic.pdf
[amharic.pdf](https://github.com/interscript/interscript/files/5186108/amharic.pdf)

[2020-09-08 05:00] ronaldtse opened #389 "Implement system `alalc-amh-ethi-latn-2011` (ALA-LC Romanization Table -- Amharic (2011)"
Spec: https://www.loc.gov/catdir/cpso/romanization/amharic.pdf
[alalc-amharic-2011.pdf](https://github.com/interscript/interscript/files/5186115/alalc-amharic-2011.pdf)

[2020-09-08 05:00] ronaldtse commented on #389
Ping @tsega

[2020-09-08 05:05] ronaldtse commented on #61
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693663/ROMANIZATION_OF_AMHARIC.pdf
[ROMANIZATION_OF_AMHARIC.pdf](https://github.com/interscript/interscript/files/5186125/ROMANIZATION_OF_AMHARIC.pdf)

[2020-09-08 05:12] ronaldtse opened #390 "Add UN Amharic transliteration 1967 system"
Originally from the Imperial Ethiopian Mapping and Geography Institute.

See http://www.eki.ee/wgrs/rom1_am.htm for spec.

Original spec: https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_4_Add1_e.pdf
<img width="706" alt="Screen Shot 2020-09-08 at 1 11 05 PM" src="https://user-images.githubusercontent.com/11865/92435384-c2b19480-f1d4-11ea-8252-21d9160cf1c4.png">
<img width=

[2020-09-08 05:14] ronaldtse opened #391 "Encyclopaedia Aethiopica Gǝʿǝz and Amharic transliteration system"
https://brill.com/view/book/edcoll/9789004419582/front-11.xml?language=en

![image](https://user-images.githubusercontent.com/11865/92435530-30f65700-f1d5-11ea-912b-a497ab7bcc84.jpeg)
![image](https://user-images.githubusercontent.com/11865/92435534-3358b100-f1d5-11ea-86a0-bfcd19da609e.jpeg)
![image](https://user-images.githubusercontent.com/11865/92435537-35227480-f1d5-11ea-8b59-d3313faa096c.jpeg

[2020-09-08 05:49] ronaldtse commented on #390
For @tsega

[2020-09-08 05:49] ronaldtse commented on #391
For @tsega

[2020-09-08 06:09] ronaldtse commented on #386
![image](https://user-images.githubusercontent.com/11865/92438879-4ae76800-f1dc-11ea-9953-f6ca9e535191.png)
![image](https://user-images.githubusercontent.com/11865/92438884-4e7aef00-f1dc-11ea-865c-a532bfa4a105.png)

Sorry I'm a bit lost... These rules say that if the "ة" is in an "idafah" noun phase, it should become "t" instead of "h".

The question is, is مَزََّة ڤِيلَّات غَرْبِيَّة an "idafah"

[2020-09-08 09:09] AhMohsen46 commented on #386
@ronaldtse sorry for not explaining further in the issue description
so, yes for the system, it seems like an"idafah", exactly the same as "محافظة بغداد"

our system is currently detecting `ah`

we're detecting definite articles so the `ة` is transliterated to `ah`
we're detecting ة at the end of the sentence like in حماة to transliterate it to `ah`
otherwise it's `at`

the point with `مَزََّة ڤِي

[2020-09-08 09:44] ronaldtse commented on #386
Got it. @AhMohsen46 then is the following explanation accurate?

1. Our system can't recognize all "idafah" yet (because it's complex, obviously).
2. We have some way of recognizing some "idafah" but because this name is a composite name from non-standard Arabic, the "idafah" is more difficult to detect.

[2020-09-08 09:45] AhMohsen46 commented on #386
@ronaldtse yes, this briefs it perfectly

[2020-09-08 09:51] ronaldtse commented on #386
@AhMohsen46 does this mean this issue is something we should improve on, or is this a bug of the system?

[2020-09-08 10:04] AhMohsen46 commented on #386
@ronaldtse I would say the system is doing great detecting how to transliterate almost 100% of `ة` across different positions of the sentence, but this was a corner case, that I assume won't frequently occur
as the word origin is مزة as in this [like](https://en.wikipedia.org/wiki/Mezzeh)
and فيلات غربية is "western villas"
I guess it might be like `avenue` for example in New York avenue, it's not

[2020-09-08 11:50] ronaldtse commented on #141
Done in #385

[2020-09-08 11:50] #141 closed

[2020-09-08 23:56] ronaldtse commented on #386
Or do you mean `mazzah vīllāt gharbīyah`?

[2020-09-09 00:40] AhMohsen46 commented on #386
@ronaldtse no, I'd say it mazzat -if I've never heard before-, weird I know, I've done more research
apparently, the word مزَّة origin is Roman
I guess the source of this conflict is that the `western villas` area name is attached to the city name which is `mazzah`
we're using it for different purposes in arabic nowadays, we call some kind of food مزَّة for example
it's definitely an outlier

[2020-09-09 00:52] AhMohsen46 commented on #388
still

initial ‘a’ should be lower case, e.g. Tall al Laḩm
left

[2020-09-09 15:49] bilashsaha commented on #383
PR: https://github.com/interscript/interscript/pull/392

[2020-09-09 16:09] bilashsaha commented on #382
PR: https://github.com/interscript/interscript/pull/393

[2020-09-09 22:37] bilashsaha commented on #144
PR : https://github.com/interscript/interscript/pull/394

[2020-09-09 23:48] bilashsaha commented on #132
PR: https://github.com/interscript/interscript/pull/395

[2020-09-10 00:10] AhMohsen46 commented on #388
done in https://github.com/interscript/interscript/pull/387

[2020-09-10 00:10] #388 closed

[2020-09-10 00:40] ronaldtse commented on #132
Thanks @bilashsaha !

[2020-09-10 00:40] #132 closed

[2020-09-10 01:05] #383 closed

[2020-09-10 01:05] #382 closed

[2020-09-10 05:01] ronaldtse commented on #202
Unicode seems to have updated their charts to YAML, and the language used.

Features:

1. Differentiate unidirectional and bidirectional transforms.
    - `ሀ > ha`
    - `ኢ < i`
    - `ለ <> lə`

2. Fully utilize Unicode characters and their composites.
    - `t͡ʃ``
    - symbols: `< [ˈˌ\\. ̯̃]`
    - `< [ ̃  ̰  ̋  ́  ̄  ̀  ̏  ̌  ̂ ˥ ˦ ˧ ˨ ˩ ꜜ ꜛ ↗ ↘ ]`

3. Context separators `{}` are used to separa

[2020-09-10 07:54] tsega commented on #62
@ronaldtse the 6th order mapping has two values
[code]
From my understanding it should simply be `he` as Amharic letters come with their vowels.

[2020-09-10 08:21] tsega commented on #62
The data from the geonmaes-transliteration-data application in `pairs/amh_Ethi2Latn_ALA_1997.csv` seems to be incorrect

[code]

[2020-09-10 10:32] bilashsaha commented on #144
@ronaldtse this should be done by https://github.com/interscript/interscript/pull/394 which is merged already

[2020-09-10 10:33] bilashsaha commented on #103
@ronaldtse this should be done by https://github.com/interscript/interscript/pull/369 . which is merged already.

[2020-09-10 10:33] ronaldtse commented on #144
Thanks @bilashsaha !

[2020-09-10 10:33] #144 closed

[2020-09-10 10:34] ronaldtse commented on #103
Thanks @bilashsaha !

[2020-09-10 10:34] #103 closed

[2020-09-10 11:29] ronaldtse commented on #211
@bilashsaha this standard spans different languages and scripts, so I’m not sure whether what language code - script code pairs we need. We should discuss.

[2020-09-10 11:32] bilashsaha commented on #211
@ronaldtse Yes You are right. I have not started it. I will finish the other ones first and then come to this one.

[2020-09-10 12:37] bilashsaha commented on #69
PR: https://github.com/interscript/interscript/pull/397

[2020-09-10 15:18] ronaldtse commented on #69
Thanks @bilashsaha !

[2020-09-10 15:18] #69 closed

[2020-09-10 22:14] bilashsaha commented on #286
PR: https://github.com/interscript/interscript/pull/398

[2020-09-11 00:40] ronaldtse commented on #286
Thank you @bilashsaha for the awesome work!

[2020-09-11 03:57] ronaldtse commented on #286
Looks like we still have another system for Urdu in Urdu script. Will file new issue.

[2020-09-11 04:51] ronaldtse opened #399 "Implement ODNI Urdu for Urdu script 2015 (odni-urd-Arab-Latn-2015)"
This issue is to implement the transliteration system of `odni-urd-Arab-Latn-2015`.

Name: "Office of the Director Of National Intelligence Hindi Urdu Personal Names 2015 System, ICS-630-01 Annex F"

Reference:
* https://github.com/interscript/ics-630-01/blob/master/reference-docs/ANNEX%20F%20-%20Hindi_Urdu_Personal_Names_FLTS%20(U).pdf

[2020-09-11 04:54] #286 closed

[2020-09-11 10:10] ronaldtse commented on #399
Actually @bilashsaha already did it.

@AhMohsen46 could you have a look to see if the system implemented aligns with the other Arabic systems? Thanks!

[2020-09-11 12:06] #21 closed

[2020-09-11 17:13] ronaldtse commented on #211
Interscript maps are named after "language" and "script". Since IS 13194 deals with many scripts, it also seems to deal with many languages. I wasn't sure if this is a one-to-many, many-to-one, or many-to-many relationships. e.g. can Bengali be written in `Deva`, etc?

The suggestion of using mul in the issue is just to reflect this unknown. If for example Bengali is only written in `Beng`, then i

[2020-09-11 23:39] AhMohsen46 commented on #399
@ronaldtse it looks good to me, except for shadda part I guess is missing?
also, I can't see examples using pointing, not sure if we have a better set of examples for this map?

[2020-09-12 03:56] ronaldtse commented on #62
Completed, closing.

[2020-09-12 03:56] #62 closed

[2020-09-12 04:38] ronaldtse commented on #399
We don't have better examples other than the ones provided at the end of the spec. Could you make use of those to craft examples?

[2020-09-13 12:42] AhMohsen46 opened #403 "alalc-ara-Arab-1997 issues"
in the first screenshot from [doc](http://catdir.loc.gov/catdir/cpso/romanization/arabic.pdf)
`كُتُب إقتَنَتهَا` is transliterated to `kutub iqtanatʹhā`
similarly
`مَعرِفَة مَا يَجِبُ لَهُم` to `ma‘rifat mā yajibu la-hum`

is it based on rule 21?, if yes, is there a set of letters combination that might be separated with prime? `ʹ`
![image](https://user-images.githubusercontent.com/34799755/930180

[2020-09-14 15:18] bilashsaha commented on #211
PR : https://github.com/interscript/interscript/pull/404

[2020-09-14 23:37] AhMohsen46 commented on #403
for Rule 15 which is more into grammar, `Pronouns, pronominal suffixes, and demonstratives`, it might need some ML, however, I can transliterate `waw al-atf` "similar to AND in english"
so it'll work for examples like this
  - source: مُؤَلَّفَاتُهُ وَشُرُوحُهَا
    expected: mu’allafātuhu wa-shurūḥuhā
where و is not a part of the second word, but for "atf"

but it may collide with some examples l

[2020-09-14 23:50] AhMohsen46 commented on #403
https://github.com/interscript/interscript/pull/402/files

[2020-09-14 23:51] AhMohsen46 commented on #63
https://github.com/interscript/interscript/issues/403

[2020-09-14 23:54] AhMohsen46 commented on #399
@ronaldtse I will take a pull of this now and add pointing/shadda rules and examples

[2020-09-15 01:03] ronaldtse commented on #211
Closing as #404 is merged. Thanks!

[2020-09-15 01:03] #211 closed

[2020-09-15 01:25] ronaldtse commented on #63
Mostly implemented in #402, the remaining is difficult to implement without proper ML. Remaining issues in #403.

[2020-09-15 01:25] #63 closed

[2020-09-15 01:30] ronaldtse opened #405 "Double checking all Devanagari systems"
From ISO 24229:

[code]

@bilashsaha can you help check which of the systems in this list is not yet implemented? We should create separate issues for each unimplemented system. Thanks!

[2020-09-15 10:37] bilashsaha commented on #405
@ronaldtse
Here are the list of systems which are not yet implemented in our system.

[code]

[2020-09-16 08:46] ronaldtse opened #406 "Implement ISO 15919 for Devanagari"
https://www.chatranjali.fr/Scripts/Standards/ISO15919.pdf

https://web.archive.org/web/20191217130008/https://www.chatranjali.fr/Scripts/Standards/ISO15919.pdf

These systems:
[code]

[2020-09-16 10:19] ronaldtse opened #407 "Add UN Romanization of Hindi version un-hin-deva-latn-2016"
Add:

un-hin-deva-latn-2016
UN Romanization of Hindi version 4.0
`un,iso-639-2,hin,Deva,Latn,2016,UN Romanization of Hindi version 4.0,,,2016-03-30`

[2020-09-16 10:19] ronaldtse opened #408 "Add UN Romanization of Marathi version 4.0 `un-mar-deva-latn-2016`"
un-mar-deva-latn-2016,UN Romanization of Marathi version 4.0,un,iso-639-2,mar,Deva,Latn,2016,UN Romanization of Marathi version 4.0,,,2016-03-30

[2020-09-16 10:20] ronaldtse opened #409 "Add UN Romanization of Nepali version 4.0 `un-nep-deva-latn-2013`"
un-nep-deva-latn-2013,UN Romanization of Nepali version 4.0,un,iso-639-2,nep,Deva,Latn,2013,UN Romanization of Nepali version 4.0,,,2013-02-26

[2020-09-16 10:21] ronaldtse opened #410 "Implement Devanagari Hunterian system (Hindu, Marathi)"
var-hin-deva-latn-hunterian-1872,Hindu Devanagari Hunterian System,var,iso-639-2,hin,Deva,Latn,hunterian-1872,Hunterian System,,,
var-mar-deva-latn-hunterian-1872,Marathi Devanagari Hunterian System,var,iso-639-2,mar,Deva,Latn,hunterian-1872,Hunterian System,,,

[2020-09-16 10:21] ronaldtse opened #411 "Add IAST 1912 Devanagari systems (Prakit, Sanskrit)"
var-pra-deva-latn-iast-1912,IAST Prakit Devanagari System,var,iso-639-2,pra,Deva,Latn,iast-1912,<<IAST1912>>,,,
var-san-deva-latn-iast-1912,IAST Sanskrit Devanagari System,var,iso-639-2,san,Deva,Latn,iast-1912,<<IAST1912>>,,,

[2020-09-16 10:23] ronaldtse commented on #409
This may be identical to #382 `un-nep-deva-latn-1972` (UNGEGN Nepali (1972))

[2020-09-16 10:24] ronaldtse opened #412 "Implement ALA-LC Devanagari systems"
alalc-asm-deva-latn-2012,ALA-LC Romanization Table -- Assamese (2012),alalc,iso-639-2,asm,Deva,Latn,2012,ALA-LC Romanization Table -- Assamese (2012),,,2012
alalc-hin-deva-latn-2011,ALA-LC Romanization Table -- Hindi (2011),alalc,iso-639-2,hin,Deva,Latn,2011,ALA-LC Romanization Table -- Hindi (2011),,,2011
alalc-mar-deva-latn-2011,ALA-LC Romanization Table -- Marathi (2011),alalc,iso-639-2,mar,Dev

[2020-09-16 10:24] ronaldtse commented on #405
ISO 15919 issue: https://github.com/interscript/interscript/issues/406
IAST: https://github.com/interscript/interscript/issues/411
Hunterian: https://github.com/interscript/interscript/issues/410
UN Nepali: https://github.com/interscript/interscript/issues/409
UN Marathi: https://github.com/interscript/interscript/issues/408
UN Hindi: https://github.com/interscript/interscript/issues/407
ALA-LC: h

[2020-09-16 10:25] ronaldtse opened #413 "Implement DIN 33904 Devanagari to Latn/German systems"
din-hin-deva-latn-33904-2018,DIN 33904:2018 Information and documentation -- Romanization Devanagari (2018-10),din,iso-639-2,hin,Deva,Latn,33904-2018,<<DIN33904>>,,,
din-mar-deva-latn-33904-2018,DIN 33904:2018 Information and documentation -- Romanization Devanagari (2018-10),din,iso-639-2,mar,Deva,Latn,33904-2018,<<DIN33904>>,,,
din-nep-deva-latn-33904-2018,DIN 33904:2018 Information and document

[2020-09-16 10:26] #405 closed

[2020-09-16 23:49] ronaldtse commented on #390
@tsega can you confirm this is implemented in #32 ? Thanks!

[2020-09-17 00:55] ronaldtse commented on #37
The problem with `kökeqota` is at https://github.com/interscript/interscript/blob/fdc760394f0b7446e3b96d76ab5ad28b0bd06e67/maps/un-mon-Mong-Latn-2013.yaml#L99

Clarification from UNGEGN:

We may need to use a seq2seq approach (https://github.com/secryst) to achieve this without special cases.

[2020-09-17 00:56] ronaldtse opened #415 "Add tests for `un-mon-Mong-Latn-2013` Mongolian"
Right now we only have one test:

https://github.com/interscript/interscript/blob/fdc760394f0b7446e3b96d76ab5ad28b0bd06e67/maps/un-mon-Mong-Latn-2013.yaml#L42-L44

We need to add a lot more tests for this system.

[2020-09-17 00:56] ronaldtse commented on #415
Related to #37

[2020-09-17 04:29] ronaldtse opened #416 "Bump version of gem and API"

[2020-09-17 06:41] tsega commented on #390
@ronaldtse I can confirm that the #414 implements **Table 2. Amharic-to-English transliteration system of the Imperial Ethiopian Mapping and Geography Institute.**

[2020-09-17 06:41] ronaldtse commented on #390
Thank you @tsega! Closing this.

[2020-09-17 06:41] #390 closed

[2020-09-17 18:36] ronaldtse opened #420 "Update `bgnpcgn-amh-ethi-latn-1967` handling of dates and numbers"
From @tsega:

Related to #61. Originally merged in #417 .

[2020-09-18 08:25] ronaldtse opened #425 "apcbg-bul-Cyrl-Latn not properly performing"
The input of:
[code]

Became:
[code]

Which still contains some Cyrillic. This is strange since it used to work before?

[2020-09-18 08:26] ronaldtse opened #426 "bas-rus system not working on interscript.com"
<img width="767" alt="image" src="https://user-images.githubusercontent.com/11865/93574949-9ca5a480-f9cb-11ea-8314-3a90de84e9f7.png">

The resulting system after clicking on `bas` is not even selected.

<img width="771" alt="Screen Shot 2020-09-18 at 4 26 31 PM" src="https://user-images.githubusercontent.com/11865/93575031-b6df8280-f9cb-11ea-9037-9c98a3d8764e.png">

Usually you get this:
<img widt

[2020-09-18 08:29] bilashsaha commented on #407
Ref Doc : https://www.eki.ee/wgrs/rom1_hi.pdf

[2020-09-18 08:31] bilashsaha commented on #409
Ref Doc : https://www.eki.ee/wgrs/rom1_ne.pdf

[2020-09-18 08:31] bilashsaha commented on #408
Ref Doc : https://www.eki.ee/wgrs/rom1_ne.pdf

[2020-09-18 09:34] bilashsaha commented on #409
PR : https://github.com/interscript/interscript/pull/427

[2020-09-18 21:46] bilashsaha commented on #407
PR : https://github.com/interscript/interscript/pull/427

[2020-09-18 23:00] bilashsaha commented on #408
PR: https://github.com/interscript/interscript/pull/428

[2020-09-19 02:28] webdev778 commented on #341
I fixed it
`bundle exec bin/interscript samples/hangul.txt --system kp-kor-Hang-Latn-2002
Segyerül Hyanghan Taehwa, Yunikhodüro Hasipsio. Je10hoe Yunikhodü Kukje Hoeüiga 1997nyŏn 3wol 10ilbuthŏ 12ilkkaji Togirüi Mainjüesŏ Yŏllimnida. Jigüm Tüngnokhasipsio. I Hoeüiesŏnün Ŏpkye Jŏnbanüi Jŏnmun-gadüri Hamkke Moyŏ Taümgwa Katthün Punyarül Tarumnida. - Inthŏnetkwa Yunikhodü, Kukjehwawa Jiyŏkhwa, Unyŏng

[2020-09-19 05:40] ronaldtse opened #431 "Review regex in kp-kor-Hang-Latn-2002 (lines 621 to 658)"
In #430 from @webdev778

https://github.com/interscript/interscript/blob/a15afed07632642a5fc1cac45fdc0f05f1b9d470/maps/kp-kor-Hang-Latn-2002.yaml#L621-L658

They may have to change to something like these:

https://github.com/interscript/interscript/blob/a15afed07632642a5fc1cac45fdc0f05f1b9d470/maps/kp-kor-Hang-Latn-2002.yaml#L889-L892

[2020-09-19 05:41] ronaldtse commented on #341
Closed in #430 . Thanks @webdev778 !

[2020-09-19 05:41] #341 closed

[2020-09-19 05:41] ronaldtse commented on #407
Thanks @bilashsaha !

[2020-09-19 05:41] #407 closed

[2020-09-19 05:41] ronaldtse commented on #409
Thanks @bilashsaha !

[2020-09-19 05:41] #409 closed

[2020-09-19 06:25] ronaldtse commented on #416
Done with 1.6.

[2020-09-19 06:25] #416 closed

[2020-09-19 06:25] ronaldtse commented on #408
Thanks @bilashsaha !

[2020-09-19 06:25] #408 closed

[2020-09-19 06:31] ronaldtse opened #432 "Implement ISO R 259:1962 for Hebrew"
https://en.wikipedia.org/wiki/ISO_259

https://www.ub.uio.no/bibliotekene/uhs/uhs/samlinger/transkribering/transkr-hebraisk.pdf

[2020-09-19 06:36] ronaldtse opened #433 "Implement YIVO Hebrew transliteration"
https://www.yiddishwit.com/transliteration.html
https://jart.biu.ac.il/files/jart/forms/yivo_transliteration_chart.pdf

[2020-09-19 06:41] ronaldtse commented on #432
ISO 259-3:
http://www.cs.technion.ac.il/~ornan/maamarim/taatiq-latini/ISO.doc
https://web.archive.org/web/20200802052818/http://www.cs.technion.ac.il/~ornan/maamarim/taatiq-latini/ISO.doc

[2020-09-19 06:42] ronaldtse opened #434 "Implement ISO 9984 Georgian"
http://transliteration.eki.ee/pdf/Georgian.pdf

[2020-09-19 06:44] ronaldtse opened #435 "Implement ISO 9985 Armenian"
https://cdn.standards.iteh.ai/samples/17893/541b3f56ebc146d1b94026a625d57f80/ISO-9985-1996.pdf

[ISO-9985-1996.pdf](https://github.com/interscript/interscript/files/5249219/ISO-9985-1996.pdf)
http://transliteration.eki.ee/pdf/Armenian_2.0.pdf

[2020-09-19 06:45] ronaldtse commented on #434
[ISO-9984-1996.pdf](https://github.com/interscript/interscript/files/5249220/ISO-9984-1996.pdf)

[2020-09-19 06:56] ronaldtse opened #436 "Implement ISO 11940 Thai and ISO 11940-2 Thai (simplified)"
https://en.wikipedia.org/wiki/ISO_11940

https://en.wikipedia.org/wiki/ISO_11940-2

Part of the standard:
[ISO-11940-2-2007.pdf](https://github.com/interscript/interscript/files/5249229/ISO-11940-2-2007.pdf)

[2020-09-19 06:57] ronaldtse commented on #436
[SIST-ISO-11940-2005.pdf](https://github.com/interscript/interscript/files/5249230/SIST-ISO-11940-2005.pdf)

[2020-09-19 07:03] ronaldtse opened #437 "Implement ISO/TR 11941:1996 Korean Romanization system"
[SIST-TP-ISO-TR-11941-2005.pdf](https://github.com/interscript/interscript/files/5249244/SIST-TP-ISO-TR-11941-2005.pdf)
[ISO-TR-11941-1996.pdf](https://github.com/interscript/interscript/files/5249245/ISO-TR-11941-1996.pdf)

[2020-09-19 07:03] ronaldtse commented on #437
https://www.eki.ee/wgrs/rom2_ko.pdf

[2020-09-19 07:06] ronaldtse opened #438 "Implement UNGEGN poster with examples"
Implement a page of examples from the UNGEGN poster:
https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/10th-uncsgn-docs/Exhibition%20posters/WG%20on%20Romanization_4.pdf

We should be able to dynamically generate all these transliterations using Interscript.

<img width="628" alt="Screen Shot 2020-09-19 at 3 06 19 PM" src="https://user-images.githubusercontent.com/11865/93661351-ae4d8180-fa89-11ea-8

[2020-09-19 07:18] ronaldtse opened #439 "ISO 9 applies to many languages, not only to `rus`, need to either link maps or find way to list them"
https://github.com/interscript/interscript/blob/master/maps/iso-rus-Cyrl-Latn-9-1995.yaml

[2020-09-19 07:20] ronaldtse commented on #434
<img width="580" alt="Screen Shot 2020-09-19 at 3 20 33 PM" src="https://user-images.githubusercontent.com/11865/93661614-aabafa00-fa8b-11ea-9245-d20c183dd69f.png">
<img width="556" alt="Screen Shot 2020-09-19 at 3 20 40 PM" src="https://user-images.githubusercontent.com/11865/93661615-ae4e8100-fa8b-11ea-962e-9f9a5b0a677c.png">
<img width="522" alt="Screen Shot 2020-09-19 at 3 20 47 PM" src="https

[2020-09-19 07:21] ronaldtse commented on #434
Ping @antonsviridenko would you have time for this? Thanks!

[2020-09-19 07:39] ronaldtse opened #440 "Show statistics"
1. Number of languages supported
2. Number of source scripts, number of target scripts
3. Total number of rules in interscript

4. Number of script authorities
  * Number of conversion systems per authority (e.g. ODNI => 16)
  * Number of rules per authority

Interesting facts
* Which system has the most rules
* Which script authority has the most systems
* Which language has the most systems
* Wh

[2020-09-19 09:32] ronaldtse commented on #438
We want to implement this demo page on interscript.com called the "UNGEGN Romanization poster", and the transliterations should be generated dynamically using JS (or API).

[2020-09-19 16:56] antonsviridenko commented on #434
ok

[2020-09-19 22:51] AhMohsen46 opened #442 "Issues in bgnpcgn-prs-Arab-Latn-2007"
1.

a) in the following examples, `و` is transliterated to `ō` :

![image](https://user-images.githubusercontent.com/34799755/93690468-0cee1c00-fad9-11ea-9ac8-654530dc3462.png)
![image](https://user-images.githubusercontent.com/34799755/93690482-36a74300-fad9-11ea-8f77-97945f77bacc.png)

In this example it's also `ō`, but the damma is omitted:
![image](https://user-images.githubusercontent.com/347

[2020-09-19 23:00] bilashsaha commented on #410
@ronaldtse for Hunterian system, upon researching, I found two reference

1. https://transliteration.eki.ee/pdf/Hindi-Marathi-Nepali.pdf and
2. https://en.wikipedia.org/wiki/Hunterian_transliteration

In the the first source the mapping is called Hunterian(3.0) and the wikipedia does not give any version or something. But the transliteration are little different in both of them for corresponding c

[2020-09-20 02:38] ronaldtse commented on #434
Thanks @antonsviridenko !

[2020-09-20 04:14] ronaldtse commented on #413
DIN 33904 | 2018-10 | Information und Dokumentation - Transliteration Devanagari : Information and documentation – Romanization Devanagari | Deva | Latn | san pra pli hin mar nep
-- | -- | -- | -- | -- | --

[2020-09-20 05:24] ronaldtse opened #443 "Implement DIN 1460:1982 for Cyrl to Latn"
https://www.slav.uni-heidelberg.de/md/slav/downloads/transliterationstabelle.pdf

[transliterationstabelle.pdf](https://github.com/interscript/interscript/files/5251164/transliterationstabelle.pdf)

Supports languages: ru, uk, be, rs, sh, mk, bg.

[2020-09-20 06:32] ronaldtse opened #444 "Implement DIN 32707:2010 for Georgian to Latn/German"
Spec available here: https://de.wikipedia.org/wiki/Georgisches_Alphabet

DIN 32707 | 2010-01 | Information und Dokumentation - Umschrift des georgischen Alphabets : Information and documentation – Romanization of the Georgian alphabet | Geor | Latn | geo
-- | -- | -- | -- | -- | --

[2020-09-20 06:33] ronaldtse opened #445 "Implement DIN 32706 Armenian to Latn/German"
Spec available here: https://de.wikipedia.org/wiki/Armenisches_Alphabet

[2020-09-20 06:34] ronaldtse opened #446 "Implement DIN 31636 Hebrew, Yiddish to Latn/German"
https://en.wikipedia.org/wiki/DIN_31636

[2020-09-20 06:35] ronaldtse commented on #446
https://de.wikipedia.org/wiki/DIN_31636

[2020-09-20 06:36] ronaldtse opened #447 "Implement DIN 31635 Arabic to Latn/German"
https://en.wikipedia.org/wiki/DIN_31635

https://en.wikipedia.org/wiki/Romanization_of_Arabic

[2020-09-20 06:40] ronaldtse opened #448 "Implement DIN 31634:2011 Greek to Latn/German"
https://byzantinistik.phil-fak.uni-koeln.de/sites/IfA/Byzantinistik/Allgemeine_Bilder/DIN_31634_2011.pdf

https://web.archive.org/web/20200920064007/https://byzantinistik.phil-fak.uni-koeln.de/sites/IfA/Byzantinistik/Allgemeine_Bilder/DIN_31634_2011.pdf

DIN 31634 | 2011-10 | Information und Dokumentation - Umschrift des griechischen Alphabets : Information and Documentation – Romanization of the

[2020-09-20 06:42] ronaldtse opened #449 "DIN 31625 Africa Alphabet to Latn/German"
https://de.wikipedia.org/wiki/Afrika-Alphabet

[2020-09-20 06:48] ronaldtse opened #450 "Implement ISO 233-3 Arabic/Persian simplified transliteration to Latn"
ISO 233-3
Information and documentation — Transliteration of Arabic characters into Latin characters — Part 3: Persian language — Simplified transliteration

https://web.archive.org/web/20200920064754/http://www.freeprotocols.org/content/republished/doc.public/standards/communication/iso/iso-233/iso-233-3.pdf

http://www.freeprotocols.org/content/republished/doc.public/standards/communication/iso/

[2020-09-20 07:03] ronaldtse opened #451 "Implement ISO 233-2 Arab to Latn "Simplified transliteration""
https://cdn.standards.iteh.ai/samples/4118/2f03c828842c4055a5619c1bded39381/ISO-233-2-1993.pdf

[ISO-233-2-1993.pdf](https://github.com/interscript/interscript/files/5251236/ISO-233-2-1993.pdf)

<img width="469" alt="Screen Shot 2020-09-20 at 2 59 10 PM" src="https://user-images.githubusercontent.com/11865/93705696-d9030d00-fb51-11ea-87cb-2f1506d020fb.png">
<img width="471" alt="Screen Shot 2020-0

[2020-09-20 07:05] ronaldtse commented on #444
@antonsviridenko while you're at the other task can you also help this? Thanks! 👍

[2020-09-20 07:13] ronaldtse opened #452 "Implement system `odni-kur-Arab-Latn-romanized-kurmanji-2015 ` (ODNI Kurdish Personal Names 2015 System, ICS-630-01 Annex G)"
This issue is to implement the transliteration system of `odni-kur-Arab-Latn-romanized-kurmanji-to-standard-2015`.

Name: "Office of the Director Of National Intelligence Kurdish Personal Names 2015 System, ICS-630-01 Annex G" Romanized Kurmanji

Reference:

https://github.com/interscript/ics-630-01/blob/master/reference-docs/ANNEX%20G%20-%20Kurdish_Personal_Names_FLTS%20(U).pdf

[2020-09-20 07:15] ronaldtse opened #453 "Implement system `odni-kur-Cyrl-Latn-standard-2015 ` (ODNI Kurdish Personal Names 2015 System, ICS-630-01 Annex G)"
This issue is to implement the transliteration system of `odni-kur-Cyrl-Latn-standard-2015`: Kurdish Cyrillic to Standard.

Name: "Office of the Director Of National Intelligence Kurdish Personal Names 2015 System, ICS-630-01 Annex G" Romanized Kurmanji

Reference:

https://github.com/interscript/ics-630-01/blob/master/reference-docs/ANNEX%20G%20-%20Kurdish_Personal_Names_FLTS%20(U).pdf

[2020-09-20 07:26] ronaldtse opened #454 "Implement DIN 1460-2"
DIN 1460-2 | 2011-10 | Umschrift kyrillischer Alphabete - Teil 2: Umschrift kyrillischer Alphabete nicht-slawischer Sprachen : Romanization of cyrillic alphabets – Part 2: Romanization of cyrillic alphabets of non-slavic languages | Cyrl | Latn | 62 languages (specification on demand)
-- | -- | -- | -- | -- | --

[2020-09-20 07:27] ronaldtse commented on #447
DIN 31635 | 2011-07 | Information und Dokumentation - Umschrift des arabischen Alphabets für die Sprachen Arabisch, Osmanisch-Türkisch, Persisch, Kurdisch, Urdu und Paschtu : Information and Documentation – Romanization of the Arabic Alphabet for Arabic, Ottoman-Turkish, Persian, Kurdish, Urdu and Pushto | Arab | Latn | ara ota per kur urd pus
-- | -- | -- | -- | -- | --

[2020-09-20 07:29] ronaldtse opened #455 "Implement DIN 32708 Japanese to Latn/German"
DIN 32708 | 2014-08 | Information und Dokumentation - Umschrift des Japanischen : Information and documentation – Romanization of Japanese | Jpan | Latn | jpn
-- | -- | -- | -- | -- | --

[2020-09-20 07:29] ronaldtse opened #456 "Implement DIN 33903 Tamil to Latn/German"
DIN 33903 | 2016-02 | Information und Dokumentation - Umschrift Tamil : Information and documentation – Romanization of Tamil | Taml | Latn | tam
-- | -- | -- | -- | -- | --

[2020-09-20 22:27] AhMohsen46 commented on #442
related PR https://github.com/interscript/interscript/pull/441

[2020-09-20 23:42] bilashsaha commented on #412
PR : https://github.com/interscript/interscript/pull/457

[2020-09-21 09:36] AhMohsen46 commented on #59
@ronaldtse I guess we can close this

[2020-09-21 09:36] #59 closed

[2020-09-21 14:57] ronaldtse commented on #410
The Hungarian system noted in Ref 1 has a (3.0), which refers to this:
<img width="768" alt="Screen Shot 2020-09-21 at 10 56 48 PM" src="https://user-images.githubusercontent.com/11865/93782934-bbbb6500-fc5d-11ea-9721-3259e711a0a7.png">

Let's follow the first one for now. Thanks!

[2020-09-21 20:10] bilashsaha commented on #411
PR: https://github.com/interscript/interscript/pull/461

[2020-09-21 21:55] bilashsaha commented on #410
PR: https://github.com/interscript/interscript/pull/462

[2020-09-22 09:08] tsega commented on #391
@ronaldtse the reference document does not have the metadata as the others. The file name scheme is not clear as well.

[2020-09-22 09:36] #373 closed

[2020-09-22 09:36] ronaldtse commented on #425
@CAMOBAP can you have a look? Thanks!

[2020-09-22 09:54] ronaldtse commented on #391
The Interscript system format follows CC/ISO 24229: https://calconnect.gitlab.io/tc-localization/csd-transcription-systems/documents/iso-24229.html

i.e.
1. Authority name: let's use `var` here because this is a book
2. ISO 639 language code: this is `amh` and `get`.
3. ISO 15924 source and target script codes: this is `Ethi` to `Latn`
4. Some unique ID: let's use `eae-2003` as Wikipedia abbreviat

[2020-09-22 10:05] ronaldtse commented on #444
4 principles of transcription
When transcribing Georgian letters, refer to Section 7, Table 1, last column. The principle of transliteration is followed.

5 punctuation
The punctuation marks in modern Georgian correspond to those used in languages with the Latin script.
When transcribing old Georgian texts (see [3]), users are free to proceed according to ISO 9984: 1996, Section 5 (see Appendix A)

[2020-09-22 10:08] ronaldtse commented on #456
4 principles of transcription
Since the Tamil script is a syllabic script, the consonant -a inherent in the transliteration is always written, even in the final.

A point above the consonant, the so-called "pulli", means in Tamil that the inherent -a is omitted:

<img width="143" alt="Screen Shot 2020-09-22 at 6 06 36 PM" src="https://user-images.githubusercontent.com/11865/93869433-5e2b2500-fcfe-

[2020-09-22 10:11] ronaldtse commented on #454
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-22 10:12] ronaldtse commented on #447
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-22 10:12] ronaldtse commented on #455
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-22 10:13] ronaldtse commented on #446
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-22 10:13] ronaldtse commented on #445
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-22 10:13] ronaldtse commented on #413
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-22 11:56] webdev778 commented on #42
I'm working on here

[2020-09-22 12:29] CAMOBAP commented on #425
@ronaldtse actually the test text above from the Russian language, some Russian letters are missing in the Bulgarian.

We are using exactly the same test text in https://github.com/interscript/interscript/blob/master/maps/bas-rus-Cyrl-Latn-2017-bss.yaml#L30-L40

According to my understanding, this is expected behavior, can you confirm this?

[2020-09-22 12:37] ronaldtse commented on #425
Aha! Thank you 👍

[2020-09-22 12:37] #425 closed

[2020-09-23 02:54] ronaldtse commented on #444
Details can be found here: https://github.com/interscript/interscript-private-references/tree/master/din

[2020-09-23 07:16] webdev778 commented on #437
PR #463

[2020-09-23 07:47] ronaldtse commented on #437
There's also this document:
http://std.dkuug.dk/jtc1/sc2/wg2/docs/n2918.pdf
[n2918.pdf](https://github.com/interscript/interscript/files/5266448/n2918.pdf)

[2020-09-23 07:58] ronaldtse commented on #437
For reference this is a partial extract of 11941: http://asadal.cs.pusan.ac.kr/~gimgs0/hangeul/rom/ts11941/index.html

[2020-09-23 09:20] ronaldtse commented on #437
Implemented in #463

[2020-09-23 09:20] #437 closed

[2020-09-23 10:34] bilashsaha commented on #413
PR: https://github.com/interscript/interscript/pull/464

[2020-09-23 11:19] ronaldtse opened #465 "Mechanism that converts between two transliteration systems"
Currently Interscript allows "source script =(system A)=> transliterated script".

This ticket is to implement "transliterated script from system A => transliterated script from system B". This presumably depends on whether:

* "transliterated script from system A => transliterated script from system B" works directly
* "transliterated script from system A => reverse transliterated original script

[2020-09-23 22:38] #434 closed

[2020-09-23 22:54] bilashsaha commented on #456
PR: https://github.com/interscript/interscript/pull/466

[2020-09-24 04:51] ronaldtse commented on #139
Implemented in #467.

[2020-09-24 04:51] #139 closed

[2020-09-24 05:25] javkhaanj7 opened #468 "Fix minor translate issue in BGN_Romanization_Guide_1964_mongolian_1964.pdf doc"
**dz** romanize should be just **z** for з character

BGN_Romanization_Guide_1964_mongolian_1964.pdf can be found in https://github.com/interscript/interscript/issues/139

[2020-09-24 11:08] #444 closed

[2020-09-24 14:22] ronaldtse commented on #368
We have to add:

[code]

[2020-09-24 14:23] webdev778 commented on #368
I'll add it

[2020-09-24 14:59] webdev778 commented on #368
PR  #470

[2020-09-24 15:05] webdev778 commented on #368
I'm considering whether we will have the yaml files for these codes of auth, lang, script in the codebase

[2020-09-25 00:11] ronaldtse commented on #368
For authorities codes, let’s keep the YAML in this codebase. For script and Lang codes, we can depend on gems or just keep the YAML here.

[2020-09-25 00:20] #120 closed

[2020-09-25 00:21] #123 closed

[2020-09-25 14:17] ronaldtse opened #472 "Differentiate ISO 639 codes from parts 2, 3, 5"
Each language code should be namespaced to iso-639-2 or 3 or 5.

[2020-09-25 17:01] ronaldtse commented on #202
Fully agree with @chaaklau on the desired features.

9. Bi-directional indication of rules so we can see what systems can support bi-directional conversions.

[2020-09-25 17:03] ronaldtse commented on #406
As asked by @bilashsaha `inc` is the ISO 639-5 code for Indic scripts.

[2020-09-25 18:01] #472 closed

[2020-09-25 18:01] ronaldtse commented on #406
When we use `inc`, the line should be this:

[code]

[2020-09-25 18:02] ronaldtse opened #474 "Implement Sequitir in Ruby"
http://www.sequitur.info

[2020-09-26 05:27] webdev778 commented on #202
##Idea 1: Onigmo dependency.
Having an Onigmo dependency doesn't stop us from deploying the library in different environments.
Onigmo is a (quite small) C library which can be dynamically linked.
###a) C API implementation
The current code could be rewritten in C/C++/Rust and provide bindings to languages like Python
using either FFI or a native extension. This codebase can also be used to replace

[2020-09-27 13:49] AhMohsen46 opened #475 "Issues in ODNI ARABIC #284"
https://github.com/interscript/interscript/issues/284 in the document attached,
1-
a)defined article such as "عبدالرحمن" Abd-al-Rahman
is sometimes having an Hyphen as a separation
as here
![image](https://user-images.githubusercontent.com/34799755/94366111-204f4780-00d6-11eb-99a8-51fdcd23d2ec.png)
and sometimes it's not like here
![image](https://user-images.githubusercontent.com/34799755/9436612

[2020-09-27 20:25] AhMohsen46 commented on #451
looks like a quick win, getting it done now

[2020-09-28 03:50] ronaldtse commented on #475
For b) since Special Rule 1 says "names marked by the lineage/family marker “Al” (e.g., Al Thani) are not hyphenated", I assume this is "Al Jumhuriyah". Right?

Is this because the "Al" in "Al Thani" (اَل ثاني) and "Al Jumhuriyah" (الجمهورية) cannot be distinguished?

[2020-09-28 03:57] ronaldtse commented on #139
The 2019 version of the 1964 system is available here: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/816781/ROMANIZATION_OF_MONGOLIAN.pdf

[2020-09-28 03:58] ronaldtse commented on #468
@javkhaanj7 according to the latest 2019 version of the BGN 1964 system, it is still `dz`:
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/816781/ROMANIZATION_OF_MONGOLIAN.pdf

<img width="552" alt="Screen Shot 2020-09-28 at 11 58 08 AM" src="https://user-images.githubusercontent.com/11865/94389230-e176cb80-0181-11eb-8656-1a081ba65b5e.png">

Where do

[2020-09-28 04:27] javkhaanj7 commented on #468
@ronaldtse `dz` is for IPA (phonetic notation) of `з`. We have to use `z` instead 'dz' for the romanization translate

![image](https://user-images.githubusercontent.com/3781718/94390216-a1651800-0184-11eb-8a1b-f782ef61cd8c.png)

More reference links:
https://en.wikipedia.org/wiki/Mongolian_Latin_alphabet
https://en.wikipedia.org/wiki/Mongolian_Cyrillic_alphabet

[2020-09-28 04:30] ronaldtse commented on #475
Clarifications requested from BGN.

[2020-09-28 17:21] bilashsaha commented on #406
@ronaldtse May be we are missing `iso-pan-Grum-Latn-15919-2001` here. Its for `panjabi` language with source script is `Gurmukhi`

[2020-09-28 22:28] bilashsaha commented on #406
PR : https://github.com/interscript/interscript/pull/479
Does not cover :
[code]

[2020-09-29 07:17] ronaldtse opened #480 "Implement Mongolian MNS 5217:2012 for Latin Characters"
Codes:
- `mns-mon-Cyrl-Latn-5217-2012` (Cyrillic to Latin)
- `mns-mon-Latn-Cyrl-5217-2012` (Latin to Cyrillic)

Official spec:
- http://estandard.gov.mn/standard/v/4635
- read here: http://estandard.gov.mn/standard/reader/4635

Useable spec:
- https://fr.wikipedia.org/wiki/MNS_5217:2012
- http://batsaikhan.mn/монгол-кирил-үсгийн-латин-хөрвүүлэг-mns-52172012-стандарт-батлагдлаа/

[2020-09-29 07:22] ronaldtse opened #481 "Implement Mongolian script to Mongolian Latin Alphabet"
Code: `var-mon-Mong-Latn-1930`

Spec: https://en.m.wikipedia.org/wiki/Mongolian_Latin_alphabet

[2020-09-29 08:38] ronaldtse opened #482 "Implement var-mon-Mong-Latn-vpmc"
Mostaert-Vladimirtsov system in:
https://collab.its.virginia.edu/wiki/tibetan-script/Transliteration%20Schemes%20for%20Mongolian%20Vertical%20Script.html

https://fr.wikipedia.org/wiki/Translittération_VPMC

[2020-09-29 08:49] ronaldtse opened #483 "Implement var-mon-Mong-Latn-lessing"
The mapping can be found digitally here: https://collab.its.virginia.edu/wiki/tibetan-script/Transliteration%20Schemes%20for%20Mongolian%20Vertical%20Script.html

The original spec from Lessing's Mongolian-English Dictionary is available here:
<img width="417" alt="Screen Shot 2020-09-29 at 4 43 47 PM" src="https://user-images.githubusercontent.com/11865/94535037-aa80e280-0273-11eb-90c4-c9197a809b

[2020-09-29 08:52] ronaldtse commented on #37
Closing this because `kökeqota` is actually not a transliteration of the UN system, it is from the system in #482! Glad that this is confirmed.

[2020-09-29 08:52] #37 closed

[2020-09-29 09:01] ronaldtse opened #484 "Add Nepali examples for `un-nep-deva-latn-2013`"
Original specs in #409

[2020-09-29 09:27] ronaldtse opened #485 "Add Nepali examples for `dos-nep-deva-latn-1997`"
Original system implemented in #383

[2020-09-29 09:31] ronaldtse opened #486 "Add examples for `un-nep-deva-latn-1972`"
Spec in #382 .

[2020-09-29 09:32] ronaldtse opened #487 "Add examples for `bgnpcgn-nep-deva-latn-1964`"
Spec in #141

[2020-09-29 10:54] ronaldtse opened #488 "Implement missing systems in UN poster"
Currently, 23 of systems are missing as following

- Assamese [UN 1972, II/11; 1977, III/12]
- Bulgarian [UN 1977, III/10]
- Burmese [BGN/PCGN 1970]
- Dzongkha [national 1997]
- Gujarati [UN 1972, II/11; 1977, III/12]
- Kazakh [BGN/PCGN 1979]
- Khmer [UN 1972, II/10]
- Kirghiz [BGN/PCGN 1979]
- Lao [national 1966]
- Macedonian Cyrillic [UN 1977, III/11]
- Malayalam [UN 1972, II/11; 1977, III/12]
-

[2020-09-29 11:06] ronaldtse commented on #488
@andrew2net @CAMOBAP can you help with these?
* Bulgarian [UN 1977, III/10]
* Macedonian Cyrillic [UN 1977, III/11]
* Serbian [UN 1977, III/11; 2002, VIII/14]
* Ukrainian [national 2007]
* Kazakh [BGN/PCGN 1979]
* Tajik [BGN/PCGN 1994]
* Kirghiz [BGN/PCGN 1979]

@AhMohsen46 can you help with these?
* Persian [UN 1967, I/13]
* Urdu [UN 1972, II/11; 1977, III/12]

@bilashsaha can you help with these

[2020-09-29 11:14] AhMohsen46 commented on #488
@ronaldtse yes I think I can, but is there a link to a doc for persian?

I found this on google, not sure if it helps, but it looks good to me
http://www.eki.ee/wgrs/v2_2/rom1_fa.htm

[2020-09-29 11:21] AhMohsen46 opened #489 "Implement Persian [UN 1967, I/13]"
Implement map for Persian UN 1967 as requested in https://github.com/interscript/interscript/issues/488

doc url: http://www.eki.ee/wgrs/v2_2/rom1_fa.htm

[2020-09-29 11:24] AhMohsen46 opened #490 "Implement Urdu [UN 1972, II/11; 1977, III/12]"
as requested in https://github.com/interscript/interscript/issues/488
doc url: https://www.eki.ee/wgrs/rom1_ur.htm

[2020-09-29 11:29] ronaldtse commented on #489
@AhMohsen46 FYI the other Persian systems are: ALALC in #94, BGNPCGN in #96 , ODNI in #98 and #288 , DIN in #447, ISO in #450

[2020-09-29 11:58] ronaldtse opened #491 "Implement `un-ukr-Cyrl-Latn-2012`"
This system is used in https://github.com/interscript/interscript/issues/488.

Spec: http://www.eki.ee/wgrs/rom1_uk.htm

This system inherits from `un-ukr-cyrl-latn-1998` but contains modifications.

From https://en.wikipedia.org/wiki/Romanization_of_Ukrainian#Ukrainian_National_transliteration:

Luckily we already implemented `bgnpcgn-ukr-Cyrl-Latn-2019` which is identical to the UN system. We ne

[2020-09-29 12:02] ronaldtse commented on #489
This system is also available in https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_L5_Add12.pdf (see the "IRAN" column)

<img width="1016" alt="Screen Shot 2020-09-29 at 8 02 31 PM" src="https://user-images.githubusercontent.com/11865/94555803-b62dd280-028e-11eb-94bf-d0608402fd10.png">

[2020-09-29 12:06] ronaldtse commented on #490
The original spec is available here: https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_L5_Add8.pdf

[2020-09-29 19:52] tsega commented on #488
@ronaldtse Tigrinya and Amharic are very close to each other. I can take that on.

[2020-09-29 23:39] ronaldtse commented on #488
Thanks @AhMohsen46 and @tsega !

[2020-09-30 01:58] ronaldtse commented on #415
And the original test quoted isn't even from the system; it's an example for #482  😭

[2020-09-30 02:03] javkhaanj7 commented on #415
@ronaldtse I'll change all of examples by pinyin version by checking wiki links that I used in the PR. If example's pinyin translation not founds then I'll remove it
![image](https://user-images.githubusercontent.com/3781718/94634916-f4190e00-0303-11eb-8880-6ebd570879fe.png)

[2020-09-30 02:09] ronaldtse commented on #415
@javkhaanj7 thanks. You'll need to be careful because the Pinyin from Wikipedia may be different from the UN system... e.g. the tone marks on the Wikipedia pinyin does not exist in the UN system.

[2020-09-30 02:13] javkhaanj7 commented on #415
@ronaldtse sure. Also I'll research about official translate/convert Chinese to Pinyin system and will check each converted Pinyin characters by matching unicode for double confirms.

[2020-09-30 04:23] ronaldtse opened #493 "Implement missing BGN/PCGN systems"
* #61 `bgnpcgn-amh-ethi-latn-1967` (BGN/PCGN Romanization System -- Amharic (1967)
* #172 `bgnpcgn-bal-arab-latn-2007` (BGN/PCGN Romanization System -- Afghanistan (Unified Agreement) (2007)
* #171 `bgnpcgn-aee-arab-latn-2007` (BGN/PCGN Romanization System -- Afghanistan (Unified Agreement) (2007)
* #169 `bgnpcgn-tuk-cyrl-latn-1979` (BGN/PCGN Turkmen Cyrillic System (1979)
* #167 `bgnpcgn-tir-ethi

[2020-09-30 09:54] javkhaanj7 commented on #482
@ronaldtse I think it's duplicate of alalc-mon-mong-latn-1997 which issued in https://github.com/interscript/interscript/issues/384. Because it's pointing same document https://www.loc.gov/catdir/cpso/romanization/mongolia.pdf

[2020-09-30 09:56] ronaldtse commented on #482
The system is column 1, the Ala-LC system is column 3.

[2020-09-30 15:03] CAMOBAP commented on #149
Done

[2020-09-30 15:03] #149 closed

[2020-09-30 16:22] CAMOBAP commented on #358
@ronaldtse let me know if we have some existing TOKEN variable anme already for this

[2020-09-30 16:28] CAMOBAP commented on #227
@ronaldtse we already have this information https://github.com/interscript/interscript/blob/master/README.adoc#testing-transliteration-systems

Let me know if it's not clear and can be improved

[2020-09-30 16:48] ronaldtse commented on #227
Perfect, thanks @CAMOBAP !

[2020-09-30 16:48] #227 closed

[2020-09-30 16:50] ronaldtse commented on #358
I've added the INTERSCRIPT_CI_PAT for the interscript-ci user.

[2020-09-30 17:09] ronaldtse opened #496 "Implement missing ODNI systems"
We should probably have a page for this too.

* #453 `odni-kur-Cyrl-Latn-standard-2015 ` (ODNI Kurdish Personal Names 2015 System, ICS-630-01 Annex G)
* #452 `odni-kur-Arab-Latn-standard-2015 ` (ODNI Kurdish Personal Names 2015 System, ICS-630-01 Annex G)
* #399 `odni-urd-Arab-Latn-2015` (ODNI Urdu system)
* #305 `odni-ukr-cyrl-latn-2005` (ODNI Ukrainian Personal Names 2004 System)
* #289 `odni-ui

[2020-09-30 17:28] rabinshrestha commented on #484
PR: https://github.com/interscript/interscript/pull/497

[2020-09-30 19:49] bilashsaha commented on #406
I have added a new PR : https://github.com/interscript/interscript/pull/498 for covering `iso-pan-Guru-Latn-15919-2001`

[2020-10-01 02:29] ronaldtse commented on #406
Thanks @bilashsaha ! We're just missing the Pali `pli` ones then.

[2020-10-01 04:58] javkhaanj7 commented on #480
@ronaldtse could you add "mns" prefix in filenames_spec.rb for the file name check test?

Below file names need to pass in the test:

[code]

Current error:
[code]

[2020-10-01 05:07] ronaldtse commented on #480
@javkhaanj7 could you add it directly? Thanks.

[2020-10-01 08:07] CAMOBAP commented on #491
@ronaldtse by "There is a government official system (system authority being: Cabinet of Ministers of Ukraine)" you mean `ua-ukr-Cyrl-Latn-1996` ?

[2020-10-01 10:37] AhMohsen46 opened #500 "inconsistency of transliterating in iso-233-3"
issue from https://github.com/interscript/interscript/issues/450 doc

letter  `‬‬چ‬‬` is once transliterated to c
![image](https://user-images.githubusercontent.com/34799755/94797905-1d5b9c00-03e1-11eb-9e51-90974a68e6b3.png)

and latter transliterated to č
![image](https://user-images.githubusercontent.com/34799755/94798078-61e73780-03e1-11eb-8ce1-4b7f399a4504.png)

I understand shadda doubles the

[2020-10-01 12:07] AhMohsen46 commented on #450
@ronaldtse this https://github.com/interscript/interscript/pull/492 is done, except for shadda, and different transliteration for the same letter mentioned here https://github.com/interscript/interscript/issues/500

[2020-10-01 12:17] AhMohsen46 commented on #98
@ronaldtse is there any document for this fas_Arab2Latn_ODNI_2004 ?

[2020-10-01 12:25] AhMohsen46 commented on #475
@ronaldtse Al Jumhuriyah means `the republic`; but it's also started by `al`, so, if the rule is applied to them all, it's okay, but if not, it'd be hard for normal maps to differentiate between them, as there is nothing like a unique property of these nouns to differentiate between them

[2020-10-01 13:23] AhMohsen46 commented on #288
@ronaldtse the two docs attached, they're like 80% similar
also, each of the docs got two mapping tables, is there a reason we've two docs for this systems?
should I implement a system per doc, or should I compare them and report back while implementing?

[2020-10-01 15:04] #448 closed

[2020-10-01 15:58] rabinshrestha commented on #486
PR: https://github.com/interscript/interscript/pull/504

[2020-10-01 15:59] rabinshrestha commented on #485
PR: https://github.com/interscript/interscript/pull/503

[2020-10-02 05:30] CAMOBAP commented on #491
@ronaldtse I kind of lost, could you please confirm inheritance three

[code]

Am I right?

[2020-10-02 06:15] ronaldtse opened #506 "Add examples for `un-ukr-Cyrl-Latn-2010`"
@CAMOBAP can you help find (or make up) some examples? Thanks.

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/pull/494#discussion_r497619083_

[2020-10-02 06:18] ronaldtse commented on #450
Thank you @AhMohsen46 ! Closing this now.

[2020-10-02 06:18] #450 closed

[2020-10-02 07:29] ronaldtse commented on #491
It's supposed to be, according to Wikipedia:

1996: Its first version was codified in Decision No. 9 of the Ukrainian Committee on Issues of Legal Terminology on April 19, 1996,[6][7] stating that the system is binding for the transliteration of Ukrainian names in English in legislative and official acts.

2007: A new official system was introduced for transliteration of Ukrainian personal names i

[2020-10-02 07:41] ronaldtse commented on #468
I believe the BGN system is correct in itself. The `z` character is used in other systems, but not in BGN's system, so we can close this.

[2020-10-02 07:41] #468 closed

[2020-10-02 08:12] ronaldtse commented on #288
Clarification sought, let's wait for that. Thanks @AhMohsen46 !

[2020-10-02 08:12] ronaldtse commented on #288
The latter is just a revised system. Perhaps only implementing the latter is necessary.

[2020-10-02 13:39] CAMOBAP commented on #358
Done

[2020-10-02 13:39] #358 closed

[2020-10-02 16:53] rabinshrestha commented on #487
PR: https://github.com/interscript/interscript/pull/507

[2020-10-03 12:15] AhMohsen46 commented on #288
great, Thanks!
will go for the second latter one then; after finishing it will quick-compare it with the first one

[2020-10-03 21:45] AhMohsen46 opened #509 "clarifications in odni-fas-Arab-Latn-2015 (ODNI Persian Farsi Dari Personal Names 2015 System, ICS-630-01 Annex J)"
1-transliteration of kasra/damma
in #288 last [doc](https://github.com/interscript/ics-630-01/blob/master/reference-docs/ANNEX%20J%20-%20Persian-Farsi_Dari_Personal_Names_FLTS_2018_Revision%20(U).pdf)
kasra/damma look like they got alternatives
I think this means damma followed by و is transliterated to u; otherwise it's o
and for kasra, if followed by ي is transliterated to i, otherwise it's e

!

[2020-10-04 06:20] ronaldtse commented on #509
1. I believe you are correct. This may be the reason for the revision (2018) since the older one (2015) was confusing.

2. It seems that the note on the Diphthong is just a note.

From Wikipedia: https://en.wikipedia.org/wiki/Persian_phonology
<img width="435" alt="Screen Shot 2020-10-04 at 12 23 21 PM" src="https://user-images.githubusercontent.com/11865/95006940-652a2f80-063c-11eb-9f11-e2c5559b2

[2020-10-04 20:17] AhMohsen46 commented on #509
1-same Hyphens issue, mostly not predictable

![image](https://user-images.githubusercontent.com/34799755/95025724-28862480-068c-11eb-90ba-7630e128224e.png)

2- `should follow the Arabic rules for “sun letter” assimilation in
spoken form and reflect the nominative case`
I can set it for the default estimating that the case will be using "damma"
like `Nezamoddin` , but this may fail
![image](https:

[2020-10-04 21:33] AhMohsen46 commented on #288
https://github.com/interscript/interscript/pull/510/files

[2020-10-05 01:04] ronaldtse commented on #94
Spec: http://catdir.loc.gov/catdir/cpso/romanization/persian.pdf

[2020-10-05 01:04] ronaldtse commented on #98
I will find spec, please hold this for now.

[2020-10-05 01:08] ronaldtse commented on #509
Will seek clarification. The language code for Dari should be `iso-639-3:prs `.

[2020-10-05 03:10] ronaldtse commented on #488
Ping @bilashsaha on these:

Assamese [UN 1972, II/11; 1977, III/12] (we have ALALC's system done)
Gujarati [UN 1972, II/11; 1977, III/12]
Punjabi [UN 1972, II/11; 1977, III/12]
Tamil [UN 1972, II/11; 1977, III/12] (ALALC in #160 , DIN in #456 )
Sinhalese [provisional 1972] (ALALC in #153 )
Malayalam [UN 1972, II/11; 1977, III/12] (ALALC in #131 )

[2020-10-05 11:37] bilashsaha commented on #160
PR: https://github.com/interscript/interscript/pull/513

[2020-10-05 15:13] bilashsaha commented on #153
PR: https://github.com/interscript/interscript/pull/515

[2020-10-05 15:37] ronaldtse commented on #153
#515 merged, thanks @bilashsaha !

[2020-10-05 15:37] #153 closed

[2020-10-05 18:05] #160 closed

[2020-10-06 02:25] ronaldtse commented on #487
Thanks @rabinshrestha !

[2020-10-06 02:25] #487 closed

[2020-10-06 02:25] ronaldtse commented on #486
Thanks @rabinshrestha !

[2020-10-06 02:25] #486 closed

[2020-10-06 02:25] ronaldtse commented on #485
Thanks @rabinshrestha !

[2020-10-06 02:25] #485 closed

[2020-10-06 02:25] ronaldtse commented on #484
Thanks @rabinshrestha !

[2020-10-06 02:25] #484 closed

[2020-10-06 02:25] ronaldtse commented on #413
Thanks @bilashsaha !

[2020-10-06 02:25] #413 closed

[2020-10-06 02:26] ronaldtse commented on #406
@bilashsaha are we able to do these?

[code]

[2020-10-06 02:57] ronaldtse commented on #142
Description: "This system is an amplified restatement of the 1907 version of the Tables for the Transliteration of Burmese into English, published in 1908 by the Office of the Superintendent, Government Printing, Rangoon, Burma."

Notes:

NOTES
1. The symbol ◌ in the tables and in the following notes represents any Burmese
consonant character, and the letter C represents the romanized equivalent o

[2020-10-06 03:41] ronaldtse opened #517 "Implement ISO 15919:2001 Pali in Thai and Burmese script"
Implement the following ISO 15919 systems. Once these systems are implemented all ISO 15919 systems are complete.

[code]

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/issues/406#issuecomment-703990616_

[2020-10-06 03:42] ronaldtse commented on #406
Remaining work moved to #517 . Closing this.

[2020-10-06 03:42] #406 closed

[2020-10-06 08:20] #491 closed

[2020-10-06 12:33] #2 closed

[2020-10-06 12:35] CAMOBAP commented on #506
Done

[2020-10-06 12:35] #506 closed

[2020-10-06 13:15] ronaldtse commented on #483
Merged #519. Thanks @javkhaanj7 !

[2020-10-06 13:15] #483 closed

[2020-10-06 13:15] ronaldtse commented on #482
Merged #518. Thanks @javkhaanj7 !

[2020-10-06 13:15] #482 closed

[2020-10-06 13:15] ronaldtse commented on #481
Merged #499. Thanks @javkhaanj7 !

[2020-10-06 13:15] #481 closed

[2020-10-06 13:16] ronaldtse commented on #415
Merged #477 . Thanks @javkhaanj7 !

[2020-10-06 13:16] #415 closed

[2020-10-06 13:37] CAMOBAP commented on #71
@ronaldtse the spec above http://catdir.loc.gov/catdir/cpso/romanization/azerbaij.pdf isn't Cyrl2Latn but Arabic2Latn

[2020-10-06 13:43] CAMOBAP commented on #85
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/835782/TABLE_OF_CORRESPONDENCES_FOR_CHECHEN.pdf

[2020-10-06 14:58] ronaldtse commented on #71
Ahhh -- sorry for the wrong spec. Can you help find the spec...

[2020-10-06 14:59] ronaldtse opened #520 "Implement alalc-aze-arab-latn-1997"
Here it is: http://catdir.loc.gov/catdir/cpso/romanization/azerbaij.pdf

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/issues/71#issuecomment-660747096_

[2020-10-06 23:19] bilashsaha commented on #517
@ronaldtse The document [ISO 15919:2001](https://www.chatranjali.fr/Scripts/Standards/ISO15919.pdf) does not have enough information to cover `Thai` and `Burmese` transliteration.

[2020-10-06 23:29] bilashsaha commented on #131
PR: https://github.com/interscript/interscript/pull/521

[2020-10-07 02:28] ronaldtse commented on #517
I see!

Yes please, that would be great. Please also add in the description/notes on how the system was built.

------

Also, have you seen the Annexes? How should we approach these?

Clause 10: Uniform tranlsiteration
Clause 11: transliterating scheme for limited character set
Clause 12: Indic schemes <-> Perso-Arabic characters

[2020-10-07 02:29] ronaldtse commented on #202
Additional requirement: conversion systems often have "options", e.g. character set with diacritics, character set without diacritics. Reversible vs non-reversible. We need to support them.

[2020-10-07 02:29] ronaldtse commented on #131
Thanks @bilashsaha !

[2020-10-07 02:29] #131 closed

[2020-10-07 08:18] javkhaanj7 commented on #480
@ronaldtse can we close the issue?

[2020-10-07 09:19] ronaldtse commented on #480
Thanks @javkhaanj7 !

[2020-10-07 09:19] #480 closed

[2020-10-07 10:05] bilashsaha commented on #517
@ronaldtse While doing the transliteration map for the languages. I read and checked the Annexes and extracted important information related to a language from there and put then in the note section. I had also used the Uniform transliteration while mapping the transliteration maps for every languages.

For the Perso-Arabic characters, I think I can extract the corresponding characters for every l

[2020-10-07 14:17] bilashsaha commented on #517
PR : https://github.com/interscript/interscript/pull/522 to cover `iso-pli-thai-latn-15919-2001`

[2020-10-07 19:30] bilashsaha commented on #517
PR: https://github.com/interscript/interscript/pull/523 to cover clauses regarding `Perso-Arabic characters`

[2020-10-08 01:44] ronaldtse opened #524 "Split UN Mongolian system into "pronunciation" vs "general""
The UN system (see Note 2) is actually 2 systems.

The "pronunciation" system uses diacritics for "o-hat" and "u-hat". We have to split the system into two.

<img width="663" alt="Screen Shot 2020-10-08 at 9 43 24 AM" src="https://user-images.githubusercontent.com/11865/95405549-b68f3300-094a-11eb-8430-10633233595d.png">

[2020-10-08 01:55] ronaldtse opened #525 "Add SASM/GNC Romanization of Mongolian"
Title: "少数民族语地名汉语拼音字母音译转写法"
"Transliteration of Place Names in Minority Languages in Chinese Pinyin"

Original spec: http://www.moe.gov.cn/ewebeditor/uploadfile/2015/01/12/20150112161436994.pdf

[20150112161436994.pdf](https://github.com/interscript/interscript/files/5344951/20150112161436994.pdf)

[2020-10-08 02:47] #524 closed

[2020-10-08 02:47] #525 closed

[2020-10-08 02:51] ronaldtse opened #527 "Add mapping between OGC 11-122r1 and Interscript system codes"
e.g. `mon_Cyrl2Latn_BGN_1964` is `bgnpcgn-zho-Hans-Latn-1964`

We need to be able to recognize the OGC 11-122r1 codes, too.

transliteration code | description
-- | --
NOT_TRANSLITERATED | Name has not been transliterated
UNKNOWN | Unknown transliteration method
amh_Ethi2Latn_ALA_1997 | Amharic ALA-Library of Congress 1997 System
amh_Ethi2Latn_BGN_1967 | Amharic Board on Geographic Names/Permanent

[2020-10-08 03:15] ronaldtse opened #528 "Use Secryst for Thai transliteration"
Transliterated text corpus from nectec.or.th available here: [TransliterationCorpusFinal.xml](https://github.com/interscript/interscript-private-references/blob/master/data/thai-nectec.or.th/TransliterationCorpusFinal.xml)

[2020-10-08 03:44] ronaldtse commented on #528
Grapheme to Phoneme dataset: https://github.com/PyThaiNLP/lexicon-thai/tree/master/G2P

[2020-10-08 03:55] ronaldtse commented on #517
Thanks @bilashsaha ! Let's close this ticket then.

[2020-10-08 03:55] #517 closed

[2020-10-08 04:00] ronaldtse opened #529 "Add Pinyin to IPA conversion `var-mul-Latn-Latn-pinyin-ipa`"
<img width="565" alt="Screen Shot 2020-10-08 at 11 58 51 AM" src="https://user-images.githubusercontent.com/11865/95413314-a2a0fc80-095d-11eb-9a90-8a2566ef60ff.png">

From UN E/Conf.74/L.48.
[e_conf_74_L48.pdf](https://github.com/interscript/interscript/files/5345233/e_conf_74_L48.pdf)

[2020-10-08 04:01] ronaldtse opened #530 "Add Uygur Pinyin to IPA conversion `var-uig-Latn-Latn-pinyin-ipa`"
<img width="653" alt="Screen Shot 2020-10-08 at 12 01 26 PM" src="https://user-images.githubusercontent.com/11865/95413435-ff9cb280-095d-11eb-8c52-6d8d2a562100.png">

From UN E/Conf.74/L.48.
[e_conf_74_L48.pdf](https://github.com/interscript/interscript/files/5345233/e_conf_74_L48.pdf)

[2020-10-08 04:02] ronaldtse opened #531 "Add Mongolian Pinyin to IPA conversion `var-mon-Latn-Latn-pinyin-ipa`"
<img width="638" alt="Screen Shot 2020-10-08 at 12 01 52 PM" src="https://user-images.githubusercontent.com/11865/95413453-0fb49200-095e-11eb-8d09-1f98ee047e51.png">

From UN E/Conf.74/L.48.
[e_conf_74_L48.pdf](https://github.com/interscript/interscript/files/5345233/e_conf_74_L48.pdf)

[2020-10-08 04:03] ronaldtse opened #532 "Add Tibetan Pinyin to IPA conversion `var-bod-Latn-Latn-pinyin-ipa`"
<img width="661" alt="Screen Shot 2020-10-08 at 12 02 48 PM" src="https://user-images.githubusercontent.com/11865/95413498-2fe45100-095e-11eb-9ec8-88f0a2d8d0a8.png">
<img width="666" alt="Screen Shot 2020-10-08 at 12 02 54 PM" src="https://user-images.githubusercontent.com/11865/95413505-34106e80-095e-11eb-898e-8acc7ff3501f.png">

From UN E/Conf.74/L.48.
[e_conf_74_L48.pdf](https://github.com/inte

[2020-10-08 04:04] ronaldtse opened #533 "Implement missing systems in OGC 11-122r1"
Dependent on https://github.com/interscript/interscript/issues/527

[2020-10-08 04:06] ronaldtse opened #534 "Implement `un-ell-Grek-Latn-ipa-1987` Greek to IPA"
From E/CONF.79/INF/38

<img width="622" alt="Screen Shot 2020-10-08 at 12 06 26 PM" src="https://user-images.githubusercontent.com/11865/95413723-b13be380-095e-11eb-9015-ba6f7ab7e7e2.png">
[e_conf_79_inf38.pdf](https://github.com/interscript/interscript/files/5345248/e_conf_79_inf38.pdf)

[2020-10-08 11:21] ronaldtse commented on #533
## Arabic systems:

ara_Arab2Latn_BUC_2002	Arabic Tim Buckwalter 2002 System
ara_Arab2Latn_IGN_1973	Arabic Institut Geographique Nationale 1973 System
ara_Arab2Latn_ODNI_2004	Arabic Personal Names Office of the Director Of National Intelligence 2004 System
ara_Arab2Latn_RJGC_1996	Arabic Royal Jordanian Geographic Center 1996 System
fas_Arab2Latn_ALA_1997	Persian 1997 ALA-Library of Congress System

[2020-10-08 11:22] ronaldtse commented on #533
@AhMohsen46  can you help handle the Arabic systems here?

@bilashsaha can you help handle the Bengali and Nepali systems?

@CAMOBAP @andrew2net do you have time for some Cyrillic systems?

Thanks!

[2020-10-08 11:22] ronaldtse commented on #533
@javkhaanj7 can you help handle `mon_Cyrl2Latn_ALA_1997`? Thanks!

[2020-10-08 11:26] CAMOBAP commented on #533
@ronaldtse yep I will work on all assigned to me

[2020-10-08 11:26] AhMohsen46 commented on #533
@ronaldtse yes sure, I've a per system in hand that's almost done, can work on these immediately after it, are there any docs to assist?, if you can drop me a list of them I can create an issue for each and start working

[2020-10-08 14:36] javkhaanj7 commented on #533
@ronaldtse PR created for alalc-mon-Cyrl-Latn-1997 implementation with mon_Cyrl2Latn_ALA_1997 alias and please check https://github.com/interscript/interscript/pull/536

[2020-10-08 21:48] bilashsaha opened #537 "Implement system `alalc-pan-Guru-Latn-2011` (ALA-LC Romanization Table -- Panjabi (2011)"
This issue is to implement the transliteration system of alalc-pan-Guru-Latn-2011.

[2020-10-08 21:52] bilashsaha opened #538 "Implement system `alalc-guj-Gujr-Latn-2011` (ALA-LC Romanization Table -- Gujarati (2011)"
This issue is to implement the transliteration system of alalc-guj-Gujr-Latn-2011.

[2020-10-08 21:53] bilashsaha opened #539 "Implement system `alalc-guj-Gujr-Latn-1997` (ALA-LC Romanization Table -- Gujarati (1997)"
This issue is to implement the transliteration system of alalc-guj-Gujr-Latn-1997.

[2020-10-08 21:54] bilashsaha commented on #488
@ronaldtse I have made issues to add the missing systems:
Gujarati [UN 1972, II/11; 1977, III/12] (ALALC in https://github.com/interscript/interscript/issues/538 and https://github.com/interscript/interscript/issues/539)
Punjabi [UN 1972, II/11; 1977, III/12] (ALALC in https://github.com/interscript/interscript/issues/537)

[2020-10-08 22:43] ronaldtse commented on #533
Thanks @javkhaanj7 ! It's merged.

[2020-10-08 23:04] #527 closed

[2020-10-08 23:47] ronaldtse commented on #488
Thanks @bilashsaha !

[2020-10-08 23:48] ronaldtse commented on #533
When implementing these systems please insert the corresponding OGC code and description in the file, like this:

https://github.com/interscript/interscript/blob/1fd40d06179b0af11cd4b7c4329f640a61718424/maps/alalc-mon-Cyrl-Latn-1997.yaml#L8-L11

[2020-10-09 00:01] ronaldtse opened #541 "Extract "spelling system" code for each system for ISO 24229"
Each Interscript map converts from one spelling system to another spelling system.

Originally, we considered that these maps converts from script to script (as in ISO 15924 script codes), e.g. Arab to Latn, Cyrl to Latn. However, this assumption is broken when we have systems that are Latn to Latn (e.g. table of correspondences).

In addition, the script codes fail to recognize that Arab is a gen

[2020-10-09 00:02] ronaldtse commented on #541
Even if two spelling systems have identical character sets, they may still be encoded as separate systems (e.g. English vs pinyin).

[2020-10-09 00:33] ronaldtse commented on #539
Spec: http://catdir.loc.gov/catdir/cpso/romanization/gujarati.pdf

[2020-10-10 12:21] AhMohsen46 commented on #96
Done in https://github.com/interscript/interscript/pull/511

[2020-10-10 12:21] #96 closed

[2020-10-10 12:32] #288 closed

[2020-10-10 12:44] AhMohsen46 commented on #94
Thanks @ronaldtse , getting this done now

[2020-10-11 17:51] CAMOBAP commented on #148
Found the spec https://geonames.nga.mil/gns/html/Romanization/ROMANIZATION%20OF%20RUSYN.pdf

[2020-10-11 17:54] CAMOBAP commented on #147
The spec https://geonames.nga.mil/gns/html/Romanization/Romanization_Pashto.pdf

@ronaldtse I'm not an expert in the family of Arabian languages, it's interesting for me to have a look, but I may spend more time than an experienced person. But if you give me "green light" I will be more then happy)

[2020-10-11 17:59] CAMOBAP commented on #71
Per Wikipedia https://ru.wikipedia.org/wiki/%D0%90%D0%B7%D0%B5%D1%80%D0%B1%D0%B0%D0%B9%D0%B4%D0%B6%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%BF%D0%B8%D1%81%D1%8C%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D1%8C  :

There is no Cyrl2Latn scheme for 1991, in this year Azerbijian anonced another Arabic2Latn scheme

@ronaldtse  The only official Cyrl2Latn was approved in 1939, have we interested to imple

[2020-10-11 18:10] CAMOBAP commented on #161
The spec https://geonames.nga.mil/gns/html/Romanization/TABLE%20OF%20CORRESPONDENCES%20FOR%20TATAR.pdf

[2020-10-11 18:11] CAMOBAP commented on #163
The spec https://geonames.nga.mil/gns/html/Romanization/ROMANIZATION%20OF%20TAJIK.pdf

[2020-10-11 18:12] CAMOBAP commented on #192
I have found only 2000 https://geonames.nga.mil/gns/html/Romanization/TABLE%20OF%20CORRESPONDENCES%20FOR%20UZBEK.pdf

[2020-10-11 18:15] CAMOBAP commented on #217
Page 30

[2020-10-11 23:30] AhMohsen46 commented on #94
built here https://github.com/interscript/interscript/pull/544
will create an issue for questions, this can be closed

[2020-10-11 23:30] #94 closed

[2020-10-11 23:49] ronaldtse commented on #147
Sorry @CAMOBAP I must have wrongly assigned 😉

@AhMohsen46 this is for you. Thanks!

[2020-10-11 23:49] ronaldtse commented on #148
The spec is correct. Thanks!

[2020-10-11 23:54] ronaldtse commented on #192
The 1979 mapping is found here: http://transliteration.eki.ee/pdf/Uzbek.pdf

[2020-10-11 23:55] AhMohsen46 opened #545 "alalc-per-Arab-Latn-1997 concerns"
https://github.com/interscript/interscript/issues/94
the following needs ML and are not doable with normal maps

Rule 4-d
![image](https://user-images.githubusercontent.com/34799755/95693339-21cb5480-0c2c-11eb-879f-126a68f613e7.png)

Rule 5
![image](https://user-images.githubusercontent.com/34799755/95693595-78855e00-0c2d-11eb-9df3-b5d672b7dda9.png)
I Think detecting phonetic combination isn't pos

[2020-10-12 00:09] AhMohsen46 commented on #174
https://github.com/interscript/interscript/pull/441

[2020-10-12 00:09] #174 closed

[2020-10-12 00:28] ronaldtse commented on #192
@CAMOBAP we will have to implement both 1979 and 2000.

[2020-10-12 00:32] ronaldtse commented on #71
I believe this is the system mentioned here: https://www.rferl.org/a/1097070.html

The government system that converts Cyrillic to Latin in 1991.

[2020-10-12 01:01] ronaldtse commented on #71
https://omniglot.com/writing/azeri.htm

Seems to provide the alphabet but not the mapping. It is possible to infer the mapping by linking the IPA symbols with Cyrillic and Latin.

[2020-10-12 03:03] ronaldtse commented on #541
Omniglot specifies 290 writing systems: https://omniglot.com/writing/

So the output set is limited.

[2020-10-12 19:42] bilashsaha commented on #537
PR: https://github.com/interscript/interscript/pull/546

[2020-10-13 01:55] ronaldtse commented on #537
Thanks @bilashsaha !

[2020-10-13 07:58] bilashsaha commented on #538
PR: https://github.com/interscript/interscript/pull/547

[2020-10-13 07:58] bilashsaha commented on #539
PR: PR: https://github.com/interscript/interscript/pull/547

[2020-10-13 11:09] ronaldtse commented on #539
Thanks @bilashsaha !

[2020-10-13 11:09] #539 closed

[2020-10-13 11:09] ronaldtse commented on #538
Thanks @bilashsaha !

[2020-10-13 11:09] #538 closed

[2020-10-13 12:29] bilashsaha opened #548 "Implement system `alalc-tam-Taml-Latn-2011` (ALA-LC Romanization Table -- Tamil (2011)"

[2020-10-13 14:22] bilashsaha commented on #548
PR: https://github.com/interscript/interscript/pull/549

[2020-10-13 14:47] bilashsaha opened #551 "Implement system `alalc-mal-mlym-latn-2012` (ALA-LC Romanization Table -- Malayalam (2012)"

[2020-10-13 14:48] bilashsaha commented on #488
For Missing systems

Sinhalese [provisional 1972] (ALALC version(2011) in https://github.com/interscript/interscript/issues/551 )
Malayalam [UN 1972, II/11; 1977, III/12] (ALALC version(2012) in https://github.com/interscript/interscript/issues/551 )

[2020-10-14 10:55] bilashsaha commented on #551
PR: https://github.com/interscript/interscript/pull/552

[2020-10-14 13:12] ronaldtse opened #553 "Fix Sequitur Update failure"
Might be due to Sequitur not compatible with the latest Python version 3.9.

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/pull/552#issuecomment-708392389_

[2020-10-14 14:48] bilashsaha commented on #551
PR: https://github.com/interscript/interscript/pull/554

[2020-10-14 14:54] bilashsaha opened #555 "Implement system `alalc-kan-Kana-Latn-2012` (ALA-LC Romanization Table -- Kannada (2012)"

[2020-10-14 14:54] bilashsaha opened #556 "Implement system `alalc-kan-Kana-Latn-1997` (ALA-LC Romanization Table -- Kannada (1997)"

[2020-10-14 15:50] ronaldtse commented on #548
Thanks @bilashsaha !

[2020-10-14 15:50] #548 closed

[2020-10-14 15:50] #537 closed

[2020-10-14 15:50] ronaldtse commented on #551
Thanks @bilashsaha !

[2020-10-14 15:50] #551 closed

[2020-10-14 16:57] ronaldtse commented on #438
Implemented here now:  https://jsdemo.interscript.com .

Closing.

[2020-10-14 16:57] #438 closed

[2020-10-16 19:01] AhMohsen46 opened #564 "concerns on `bgnpcgn-pus-arab-latn-1968` Notes"
in the doc provided in #147

NOTE 5
I know abad and allah, but I don't know these in persian `-khwā, -shahr, -zādah, -zay`, providing them would be great
![image](https://user-images.githubusercontent.com/34799755/96294472-b519d680-0fec-11eb-8d63-f93ffc911e98.png)

NOTE 8 shadda rule here isn't very clear, is there a set  of letter to double and another set not to double and just omit `shadda`?
![

[2020-10-16 19:05] AhMohsen46 commented on #147
issues in https://github.com/interscript/interscript/issues/564
PR https://github.com/interscript/interscript/pull/563

[2020-10-16 19:05] #147 closed

[2020-10-16 19:20] AhMohsen46 commented on #98
any updates on this doc?

[2020-10-16 19:26] AhMohsen46 commented on #489
is this https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_L5_Add12.pdf
equivalent to this http://www.eki.ee/wgrs/v2_2/rom1_fa.htm?

[2020-10-17 01:35] ronaldtse commented on #489
@AhMohsen46 I believe you're right, they are identical.

[2020-10-17 02:52] ronaldtse commented on #147
Thanks @AhMohsen46 !

[2020-10-17 13:03] AhMohsen46 commented on #489
this is almost identical https://github.com/interscript/interscript/issues/96

except for a very very few differences which are in this doc  https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/2nd-uncsgn-docs/E_Conf61_L5_Add12.pdf in the second/third columns

[2020-10-17 13:15] AhMohsen46 opened #569 "concerns in un-prs-Arab-Latn-1967"
1st-is there any specific rule for ta' marboota?
2-a)in this rule, يه is īyeh, is it missing any pointing?, shadda or kasrah?
b)should all sun letters be like "od din"?, with o instead of a?
also, does this mean that normal article definition will be with ol instead of al?
![image](https://user-images.githubusercontent.com/34799755/96337985-55263d00-108b-11eb-81dd-b5dc11e3102e.png)
Thanks!

[2020-10-17 13:15] AhMohsen46 commented on #489
done here https://github.com/interscript/interscript/pull/568
please check the properties in the beginning of the file

concerns https://github.com/interscript/interscript/issues/569

[2020-10-17 17:27] AhMohsen46 commented on #188
@ronaldtse am working on this now, there are two systems in each column, should I implement a map for each?
like in https://github.com/interscript/interscript/pull/441
will kick this off implementing bgnpcgn

[2020-10-18 09:47] AhMohsen46 opened #572 "Concerns in (BGN/PCGN Romanization System -- Urdu (2007)"
in #188
in the following examples ي is transliterated to e
![image](https://user-images.githubusercontent.com/34799755/96363811-ca028100-1136-11eb-9bf1-95d78a218e10.png)
![image](https://user-images.githubusercontent.com/34799755/96363839-f9b18900-1136-11eb-9591-328538e0f049.png)
![image](https://user-images.githubusercontent.com/34799755/96363853-0df58600-1137-11eb-8331-cd651eef8f18.png)

althoug

[2020-10-18 09:49] AhMohsen46 commented on #188
blocked by https://github.com/interscript/interscript/issues/572

[2020-10-19 01:52] ronaldtse commented on #453
This is a duplicate of #280 . Closing

[2020-10-19 01:52] #453 closed

[2020-10-19 15:23] bilashsaha opened #580 "Implement system un-kan-kana-Latn-1972"
Source: https://www.eki.ee/wgrs/rom1_kn.pdf

[2020-10-20 09:18] ronaldtse opened #581 "Run Secryst trained models using ONNXjs"
https://github.com/microsoft/onnxjs

This requires us to provide Interscript-trained Secryst ONNX models.

[2020-10-20 09:22] #411 closed

[2020-10-20 10:49] AhMohsen46 commented on #191
in progress

[2020-10-21 14:52] ronaldtse opened #584 "Fix Sequitur installation in python"
e.g. https://github.com/interscript/interscript/pull/573/checks?check_run_id=1287104884
[code]

[2020-10-21 14:52] ronaldtse commented on #584
@CAMOBAP would you have time to take a look? Thanks!

[2020-10-21 16:17] webdev778 commented on #584
This was happened due to the new version of Python 3.9 has been released 10.5.

[2020-10-21 16:18] webdev778 commented on #584
PR #585

[2020-10-22 03:38] ronaldtse commented on #569
We’ve got clarification from UN:

Are we ready to proceed!

[2020-10-22 08:58] AhMohsen46 commented on #569
@ronaldtse yes sir, this clarifies all what I need, will push the required change for 2a along with https://github.com/interscript/interscript/pull/583

[2020-10-22 09:05] bilashsaha commented on #580
PR: https://github.com/interscript/interscript/pull/586

[2020-10-22 09:26] ronaldtse commented on #569
Thanks @AhMohsen46 !

[2020-10-22 13:02] #584 closed

[2020-10-22 21:21] bilashsaha commented on #556
@ronaldtse PR: https://github.com/interscript/interscript/pull/589

[2020-10-23 08:48] bilashsaha commented on #555
@ronaldtse PR: https://github.com/interscript/interscript/pull/590

[2020-10-23 08:50] bilashsaha opened #591 "Implement un-ori-Orya-Latn-1972"
Source: http://www.eki.ee/wgrs/v2_2/rom1_or.pdf

[2020-10-23 16:32] ronaldtse commented on #555
Thanks @bilashsaha !

[2020-10-23 16:32] #555 closed

[2020-10-23 16:35] ronaldtse commented on #556
Thanks @bilashsaha !

[2020-10-23 16:35] #556 closed

[2020-10-25 12:29] AhMohsen46 commented on #569
done in https://github.com/interscript/interscript/pull/583/commits
Thanks @ronaldtse !

[2020-10-25 12:29] #569 closed

[2020-10-25 14:09] AhMohsen46 commented on #284
done in https://github.com/interscript/interscript/pull/476 except for https://github.com/interscript/interscript/issues/496

[2020-10-25 14:09] #284 closed

[2020-10-25 17:27] ronaldtse commented on #569
Thanks @AhMohsen46 !

[2020-10-27 05:29] ronaldtse commented on #580
Thanks @bilashsaha !

[2020-10-27 05:29] #580 closed

[2020-10-27 05:39] ronaldtse opened #592 "Failure to build JS versions and release"
Running `bundle exec rake all --trace` gives me this.

[code]

[2020-10-27 05:40] ronaldtse commented on #592
Already using the latest gems.

[2020-10-27 05:47] ronaldtse opened #593 "BGN/PCGN Persian transliteration looking funny"
https://jsdemo.interscript.com/bgnpcgn

<img width="248" alt="image" src="https://user-images.githubusercontent.com/11865/97261949-ddaa9780-185a-11eb-95ff-1ab06e3c276c.png">

[2020-10-27 05:54] ronaldtse commented on #572
Clarification sought.

[2020-10-27 06:00] ronaldtse commented on #564
Clarification sought.

[2020-10-27 06:44] AhMohsen46 commented on #593
@ronaldtse sorry this happened
I've 2 questions please
1- is the original word here `اِيران` ?
I added two examples here https://github.com/interscript/interscript/pull/594, they look working to me
2-which file is used for 1956?
I think this one? https://github.com/interscript/interscript//blob/1fd40d06179b0af11cd4b7c4329f640a61718424/maps/bgnpcgn-fas-Arab-Latn-1956.yaml
if yes, this one is not re

[2020-10-27 06:49] AhMohsen46 commented on #593
I also suspect this `fas` should be ara
and this `ara should be `fas` https://github.com/interscript/interscript/issues/60

[2020-10-27 07:40] webdev778 commented on #592
let me check it

[2020-10-27 20:58] bilashsaha commented on #591
@ronaldtse PR: https://github.com/interscript/interscript/pull/595

[2020-10-27 21:19] bilashsaha opened #596 "Implement alalc-ori-Orya-Latn-1997"
Source : http://catdir.loc.gov/catdir/cpso/romanization/oriya.pdf

[2020-10-27 21:20] bilashsaha opened #597 "Implement alalc-ori-Orya-Latn-2011"
Source: https://www.loc.gov/catdir/cpso/romanization/oriya.pdf

[2020-10-28 02:37] ronaldtse commented on #591
Thanks @bilashsaha !

[2020-10-28 02:37] #591 closed

[2020-10-28 06:28] webdev778 commented on #592
This was caused by an bug in opal. Send a [Pr](https://github.com/opal/opal/pull/2133) to the upstream

In the **Opal::BuilderProcessors::Processor**
[code]
Opal::BuilderProcessors::RubyProcessor ([:rb, :opal]) becomes this regex
`\.rb|opal\z`
so the .rb doesn't need to end with \z
From _rbenv_ enviroment, it's failed.

[2020-10-28 06:53] ronaldtse commented on #592
Thanks for detailing the issue!

[2020-10-28 06:57] #592 closed

[2020-10-28 06:58] ronaldtse opened #598 "`rake clean` should remove `aliases.json`"

[2020-10-30 12:25] bilashsaha commented on #597
PR: https://github.com/interscript/interscript/pull/599

[2020-10-30 12:26] bilashsaha commented on #596
PR: https://github.com/interscript/interscript/pull/599

[2020-10-30 12:31] bilashsaha opened #600 "Correct alalc-kan-Kana-Latn-2011"
Source : https://www.loc.gov/catdir/cpso/romanization/kannada.pdf
The year is wrong in this. It has to be `2011` insttead of `2012`

[2020-10-30 13:13] bilashsaha opened #601 "Implement alalc-tel-Telu-Latn-1997"
Source : http://catdir.loc.gov/catdir/cpso/romanization/telugu.pdf

[2020-10-30 13:13] bilashsaha opened #602 "Implement alalc-tel-Telu-Latn-2011"
Source: https://www.loc.gov/catdir/cpso/romanization/telugu.pdf

[2020-10-30 13:15] #601 closed

[2020-10-30 13:16] bilashsaha commented on #162
Source : http://catdir.loc.gov/catdir/cpso/romanization/telugu.pdf

[2020-10-30 13:17] #596 closed

[2020-10-30 13:18] bilashsaha commented on #143
PR: #599

[2020-10-31 13:15] AhMohsen46 opened #604 "bgnpcgn-kur-Arab-Latn-2007 concerns"
in the following screenshot

![image](https://user-images.githubusercontent.com/34799755/97780164-a0f8dc00-1b8b-11eb-9956-11b373cf34ea.png)

  - source: موسەننا
    expected: Musanna
`ە` is transliterated to a, however, in screenshot below, `ە` should be e
![image](https://user-images.githubusercontent.com/34799755/97780206-e2898700-1b8b-11eb-8351-8207747fce4c.png)

[2020-10-31 14:30] AhMohsen46 commented on #593
should we close this?
@ronaldtse

[2020-11-01 17:04] #593 closed

[2020-11-01 17:10] AhMohsen46 commented on #190
is there a doc for this Sir?

[2020-11-01 17:22] #188 closed

[2020-11-01 17:28] AhMohsen46 commented on #493
@ronaldtse the following are missing Docs
https://github.com/interscript/interscript/issues/179
https://github.com/interscript/interscript/issues/178
https://github.com/interscript/interscript/issues/177
https://github.com/interscript/interscript/issues/176
https://github.com/interscript/interscript/issues/175
https://github.com/interscript/interscript/issues/172
https://github.com/interscript/int

[2020-11-01 20:31] AhMohsen46 commented on #572
@ronaldtse exact same issue in https://github.com/interscript/interscript/pull/25
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693687/ROMANIZATION_OF_BALUCHI.pdf

[2020-11-02 03:44] ronaldtse commented on #493
I believe #171 to 179 are available in https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693661/ROMANIZATION_FOR_AFGHANISTAN.pdf

#126 is probably an error described here. The system is supposed to be 2007. The 1931 system is the Edmonds one. https://github.com/interscript/interscript-references/issues/3

[2020-11-02 06:57] ronaldtse commented on #126
This is probably an error: the system is supposed to be 2007. The 1931 system is the Edmonds one. interscript/interscript-references#3

Already implemented in #575, closing.

[2020-11-02 06:57] #126 closed

[2020-11-02 07:26] ronaldtse commented on #493
For #171 #172 #173 #175 #176 #176 #177 #178 , I believe they are all based on the document of #174. For example, there are some particular vowels only in Pashto, but maybe this system should be implemented with the code language `mul` in #570 ?

#126 is closed.

[2020-11-02 16:29] tsega commented on #391
@ronaldtse been working on these for a while now. They have been particularly difficult to implement as the diacritical marks are not easy to get.

Right now, some tests are failing, for example:

[code]

fails

[code]

Do you know how to fix this?

[2020-11-02 16:33] ronaldtse commented on #391
Perhaps @bilashsaha could help with the diacritics?

[2020-11-02 16:43] tsega commented on #391
Alright, figured it out. It was the mark I used for two sets of characters.

I was using `U+02BC ʼ ` and `U+02BD ʽ ` as opposed to `U+02BE ʾ ` and `U+02BF  ʿ ` respectively.

Will raise a PR after rebasing.

[2020-11-02 17:16] tsega commented on #391
**PR** - https://github.com/interscript/interscript/pull/606

**Summary**
- Add `var-amh-Ethi-Latn-eae-2003` and `var-gez-Ethi-Latn-eae-2003`

[2020-11-03 01:10] ronaldtse commented on #391
Closed as #606 has been merged. Thank you @tsega !

[2020-11-03 01:10] #391 closed

[2020-11-03 01:19] ronaldtse commented on #600
Indeed, the PDF itself was created in 2011 :wink:

<img width="366" alt="Screen Shot 2020-11-03 at 9 19 40 AM" src="https://user-images.githubusercontent.com/11865/97936181-b6514e80-1db5-11eb-999f-08721816fffe.png">

[2020-11-03 01:20] ronaldtse commented on #597
#599 Merged and closed. Thanks @bilashsaha !

[2020-11-03 01:20] #597 closed

[2020-11-03 03:13] ronaldtse commented on #531
@javkhaanj7 would you have time for this task? Thanks!

[2020-11-03 03:16] ronaldtse commented on #442
Clarification sought from BGN.

[2020-11-03 03:17] ronaldtse commented on #381
@CAMOBAP could you help handle this?

[2020-11-03 03:17] ronaldtse commented on #378
@CAMOBAP could you help handle this?

[2020-11-03 03:17] ronaldtse commented on #375
@CAMOBAP could you help handle this?

[2020-11-03 03:20] ronaldtse commented on #190
We're not implementing this system for now. We should stick with the latest 2015 system. Thanks!

[2020-11-03 03:22] ronaldtse commented on #84
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:22] ronaldtse commented on #98
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:22] ronaldtse commented on #124
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:23] ronaldtse commented on #305
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:23] ronaldtse commented on #159
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:23] ronaldtse commented on #152
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:23] #152 closed

[2020-11-03 03:23] ronaldtse commented on #135
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:24] ronaldtse commented on #66
We're going to skip all non-current ODNI systems for now. Closing this for now. Thanks!

[2020-11-03 03:26] ronaldtse opened #607 "Check whether these examples work with odni-ukr-Cyrl-Latn-2015"
From #305 we have these two examples.

Новофедірівка => Novofedorivka
Гуляйгородок => Hulyayhorodok

We want to know if they can be added to the `odni-ukr-Cyrl-Latn-2015` system:
https://github.com/interscript/interscript/blob/b7e4d2ec175a66bffcb20e2c5b0808bb4fe63404/maps/odni-ukr-Cyrl-Latn-2015.yaml#L2-L7

If so, add them as examples. Thanks!

[2020-11-03 03:27] ronaldtse commented on #533
Skipping all ODNI 2004/2005 systems for now.

[2020-11-03 10:23] andrew2net commented on #381
@ronaldtse shouldn't it be named "bgnpcgn-**srp**-cyrl-latn-1962"? We have "bgnpcgn-srp-Cyrl-Latn-2005.yaml" so I think it should be similar.

[2020-11-03 11:50] ronaldtse commented on #381
@andrew2net yes you're right, please help fix it, thanks!

[2020-11-03 18:08] #381 closed

[2020-11-03 18:53] bilashsaha commented on #600
@ronaldtse PR is here : https://github.com/interscript/interscript/pull/603 and Its merged. We should close this issue.

[2020-11-03 18:56] bilashsaha commented on #456
@ronaldtse We should close this one as the PR is merged

[2020-11-03 18:57] bilashsaha commented on #412
@ronaldtse We should close this one as the PR is merged

[2020-11-03 18:57] bilashsaha commented on #410
@ronaldtse We should close this one as the PR is merged

[2020-11-03 19:32] bilashsaha commented on #162
@ronaldtse PR: https://github.com/interscript/interscript/pull/608

[2020-11-04 01:09] ronaldtse commented on #456
Thanks @bilashsaha !

[2020-11-04 01:09] #456 closed

[2020-11-04 02:59] ronaldtse commented on #162
Thanks @bilashsaha !

[2020-11-04 03:01] #162 closed

[2020-11-04 03:02] ronaldtse commented on #410
Thanks @bilashsaha !

[2020-11-04 03:02] #410 closed

[2020-11-04 03:02] ronaldtse commented on #412
Thanks @bilashsaha !

[2020-11-04 03:02] #412 closed

[2020-11-04 03:03] ronaldtse commented on #602
Implemented in #608. Closing. Thanks @bilashsaha !

[2020-11-04 03:03] #602 closed

[2020-11-04 08:17] javkhaanj7 commented on #531
@ronaldtse sure, I'll work on it

[2020-11-04 08:33] javkhaanj7 commented on #531
@ronaldtse just confused about on mapping file name. I think `var-mon-Mong-Latn-pinyin-ipa` is the the correct mapping name for the system rather than `var-mon-Latn-Latn-pinyin-ipa`. Am I right?

[2020-11-04 09:34] ronaldtse commented on #531
@javkhaanj7 here we are only changing Pinyin to IPA, so Latn-Latn is correct. Thanks!

[2020-11-04 12:31] webdev778 commented on #426
![image](https://user-images.githubusercontent.com/28761746/98112194-c1eb6500-1edc-11eb-8e63-0b0609a033f5.png)

[2020-11-04 12:32] webdev778 commented on #426
Fixed

[2020-11-04 12:32] #426 closed

[2020-11-04 12:33] #598 closed

[2020-11-04 13:49] webdev778 commented on #368
- Auth code
Stored Auth code list from https://github.com/interscript/interscript/issues/368 as `auth_codes.yaml` in the codebase.

- Lang code
 Found (iso-639)[https://rubygems.org/gems/iso-639]
- Script code
Script and Lang code

[2020-11-04 14:02] ronaldtse commented on #368
Can you rename to `authority_codes.yaml`? `auth` sounds like authentication.

You can add ISO 639-3 codes to this repo: https://github.com/metanorma/iso-639-codes

There are also codes from ISO 639-5, those also need to be added. I don't foresee these codes being added to that particular gem.

This is the file from Unicode, who manages the ISO 15924 list:
[iso15924-utf8-20200424.txt](https://githu

[2020-11-04 14:09] webdev778 commented on #368
Ok, I'll fix the name.
I'll add ISO 639-3 codes to the repo https://github.com/metanorma/iso-639-codes
I'm wondering if we will create a gem for ISO 639-X.

[2020-11-04 14:20] ronaldtse commented on #368
Let's make a gem for `iso-639-data` then.

[2020-11-04 20:22] webdev778 commented on #368
[code]
here I'm not pretty sure about what MNS stands for.

[2020-11-04 21:28] bilashsaha commented on #78
@ronaldtse PR: https://github.com/interscript/interscript/pull/611

[2020-11-04 23:02] #78 closed

[2020-11-04 23:18] ronaldtse commented on #368
MNS should actually be MASM, Mongolian Agency for Standardization and Metrology.

[2020-11-05 06:08] webdev778 commented on #368
PR #612

[2020-11-05 08:11] ronaldtse commented on #368
Thanks @webdev778 , #612 merged.

[2020-11-05 08:16] ronaldtse commented on #509
@AhMohsen46 . I received clarification that only the 2018 version should be implemented, the 2015 version is not in use.

[2020-11-05 08:32] ronaldtse commented on #66
Reopening since we have spec now:
https://github.com/interscript/interscript-private-references/blob/master/odni/Arabic_IC_Standard.doc

[2020-11-05 08:34] ronaldtse opened #613 "Implement system `odni-bel-cyrl-latn-2005` (Intelligence Community (IC) Standard for the Transliteration of Belarusian Personal Names)"
This issue is to implement the transliteration system of `odni-bel-cyrl-latn-2005`.

Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Belarusian_IC_Standard.doc

[2020-11-05 08:35] ronaldtse commented on #84
Spec available now: https://github.com/interscript/interscript-private-references/blob/master/odni/Bulgarian_IC_Standard.doc

[2020-11-05 08:35] ronaldtse commented on #98
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Farsi_(Persian)_%26_Dari_IC_Standards.doc

The spec includes both Farsi and Dari. Dari should be a separate system.

[2020-11-05 08:36] ronaldtse commented on #190
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Hindi_and_Urdu_IC_Standard.doc

[2020-11-05 08:37] ronaldtse opened #614 "Implement system `odni-hin-Deva-latn-2004` (Office of the Director Of National Intelligence Hindi Personal Names 2004 System"
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Hindi_and_Urdu_IC_Standard.doc

[2020-11-05 08:38] ronaldtse opened #615 "Implement system `odni-kor-Hang-Latn-2007` (Intelligence Community Korean Personal Names 2007 System)"
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Korean_IC_Standard.doc

[2020-11-05 08:39] ronaldtse commented on #124
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Korean_IC_Standard.doc

[2020-11-05 08:39] ronaldtse commented on #615
Oops... duplicate of #124. Closing.

[2020-11-05 08:39] #615 closed

[2020-11-05 08:40] ronaldtse commented on #135
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Macedonian_IC_Standard.doc

[2020-11-05 08:40] ronaldtse commented on #159
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Serbian_IC_Standard.doc

[2020-11-05 08:40] ronaldtse commented on #305
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Ukrainian_IC_Standard.doc

[2020-11-05 08:41] ronaldtse opened #616 "Implement system `odni-prs-arab-latn-2004` (Office of the Director Of National Intelligence Dari Personal Names 2004 System)"
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Farsi_(Persian)_%26_Dari_IC_Standards.doc

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/issues/98#issuecomment-722228053_

[2020-11-05 08:43] ronaldtse opened #617 "Implement system `odni-pus-Arab-Latn-2011` (ODNI Pashto Personal Names 2011 System)"
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Pashto%20June%202011.pdf

[2020-11-05 08:45] ronaldtse opened #618 "Implement multiple systems `odni-kur-{Arab-Latn}` (IC Kurdish Personal Names Systems 2011)"
Spec: https://github.com/interscript/interscript-private-references/blob/master/odni/Kurdish%20Transliteration%20Standard%2001%20Dec%202011.pdf

This is related to:
* #280
* #282
* #283
* #452
* #453

[2020-11-05 08:47] ronaldtse commented on #152
Somehow there is no spec for this -- so just in case I'm linking this to #613 (Belarusian).

[2020-11-05 15:46] #159 closed

[2020-11-05 16:00] ronaldtse commented on #159
Thanks @andrew2net !

[2020-11-05 16:48] #135 closed

[2020-11-06 15:36] AhMohsen46 opened #620 "Concerns in bgnpcgn-bal-Arab-Latn-2008"
ي is sometimes transliterated as e, othertimes as y
example as e
![image](https://user-images.githubusercontent.com/34799755/98384271-3695df00-2056-11eb-98f2-99dff63424c2.png)
example as y
![image](https://user-images.githubusercontent.com/34799755/98384492-82e11f00-2056-11eb-9dc8-a45148c39984.png)

و is sometimes transliterated as o, othertimes as w

![image](https://user-images.githubusercontent

[2020-11-06 15:38] AhMohsen46 opened #621 "Add BGNPCGN Baluchi system 2008 bgnpcgn-bal-Arab-Latn-2008"
spec doc
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693687/ROMANIZATION_OF_BALUCHI.pdf

[2020-11-06 15:39] AhMohsen46 commented on #621
implemented in https://github.com/interscript/interscript/pull/605
concerns https://github.com/interscript/interscript/issues/620

[2020-11-06 15:39] #621 closed

[2020-11-07 12:45] AhMohsen46 commented on #616
Working on this now

[2020-11-08 19:42] AhMohsen46 commented on #509
@ronaldtse would you like me to remove the 2015 version files?
they are two https://github.com/interscript/interscript/blob/c9f9ed43b96e022a9f4aa26ba8b8e29d254c9aa2/maps/odni-fas-Arab-Latn-2015.yaml
and https://github.com/interscript/interscript/blob/c9f9ed43b96e022a9f4aa26ba8b8e29d254c9aa2/maps/odni-per-Arab-Latn-2015.yaml

[2020-11-08 19:46] AhMohsen46 commented on #509
@ronaldtse sounds good, as we implemented 2018, have they commented on any of the 3 points in the last comment?
Thanks!

[2020-11-08 21:46] AhMohsen46 commented on #616
Done in https://github.com/interscript/interscript/pull/623, both systems
they are like 99% similar to https://github.com/interscript/interscript/pull/510
concerns are the exact same as https://github.com/interscript/interscript/issues/509
Thanks!

[2020-11-08 21:47] #616 closed

[2020-11-08 21:51] AhMohsen46 commented on #490
done in https://github.com/interscript/interscript/pull/583

[2020-11-08 21:51] #490 closed

[2020-11-08 21:52] #489 closed

[2020-11-08 21:53] AhMohsen46 commented on #98
Done in #623, both systems
they are like 99% similar to #510
concerns are the exact same as #509
Thanks!

[2020-11-08 21:53] #98 closed

[2020-11-08 21:54] AhMohsen46 commented on #67
@ronaldtse any spec for this?

[2020-11-08 21:54] AhMohsen46 commented on #64
any spec for this?

[2020-11-08 21:54] AhMohsen46 commented on #95
any spec for this؟

[2020-11-08 21:55] AhMohsen46 commented on #97
any spec for this?

[2020-11-08 21:55] AhMohsen46 commented on #171
any spec for this?

[2020-11-08 21:55] AhMohsen46 commented on #172
any spec for this?

[2020-11-08 21:55] AhMohsen46 commented on #173
any spec for this?

[2020-11-08 22:02] AhMohsen46 commented on #191
done/merged in https://github.com/interscript/interscript/pull/583

[2020-11-08 22:02] #191 closed

[2020-11-08 22:08] AhMohsen46 commented on #520
next

[2020-11-09 12:34] webdev778 commented on #592
The PR [#2133](https://github.com/opal/opal/pull/2133) to upstream has been successfully merged

[2020-11-12 05:44] #600 closed

[2020-11-12 05:47] #143 closed

[2020-11-12 05:55] bilashsaha commented on #99
Closing as duplicate of https://github.com/interscript/interscript/issues/539

[2020-11-12 05:55] #99 closed

[2020-11-12 06:01] bilashsaha opened #625 "Enhance rules for alalc-hin-Deva-Latn-1997 and alalc-hin-Deva-Latn-2011"
Implement rule 2:
[code]

[2020-11-12 23:17] andrew2net commented on #607
@ronaldtse this example fails because of "i" => "i" (not "o"). We could add special cases like this in the characters section as "Новофедірівка": "Novofedorivka"

[2020-11-13 02:34] ronaldtse commented on #607
In this maybe the text doesn’t come from this system. Can you loop through the systems for Cyrl to see what system this text is generated from?

[2020-11-13 05:28] bilashsaha commented on #614
@ronaldtse PR: #624

[2020-11-13 05:30] bilashsaha commented on #625
@ronaldtse PR: #625

[2020-11-13 11:24] andrew2net commented on #607
@ronaldtse it seems no one Ukr systems can transliterate Новофедірівка to Novofedorivka.
In [Wikipedia](https://en.wikipedia.org/wiki/Novofedorivka), it called Новофедорівка in Ukrainian. Furthermore, Новофедорівка is more used on the Internet then Новофедірівка (41000 vs 2000 results in Google). Maybe we should use Новофедорівка for testing, don't we?

[2020-11-13 18:04] bilashsaha opened #627 "Enhance rules for alalc-san-Deva-Latn-2012"

[2020-11-13 18:52] bilashsaha commented on #627
@ronaldtse PR: https://github.com/interscript/interscript/pull/628

[2020-11-13 21:23] bilashsaha opened #629 "Enhance rules for alalc-asm-Deva-Latn-2012 and alalc-asm-Deva-Latn-1997"

[2020-11-15 22:25] AhMohsen46 commented on #520
WIP: https://github.com/interscript/interscript/pull/630

[2020-11-15 23:56] AhMohsen46 opened #631 "concerns in alalc-aze-arab-latn-1997 #520"
in the doc attached to #520
1-as for damma, kasra and fatha before the initial letter of words, should it be before them?, or just on them?
like these
![image](https://user-images.githubusercontent.com/34799755/99200403-c998ec80-27ad-11eb-99ff-d66f95d1c53a.png)

2-what's the difference between ı and i here
![image](https://user-images.githubusercontent.com/34799755/99200439-fbaa4e80-27ad-11eb-887f

[2020-11-15 23:57] #520 closed

[2020-11-16 00:00] AhMohsen46 commented on #66
next

[2020-11-16 11:52] ronaldtse commented on #620
Clarification sought. Thanks @AhMohsen46 !

[2020-11-16 13:02] #625 closed

[2020-11-16 13:03] #614 closed

[2020-11-16 13:03] #627 closed

[2020-11-16 13:13] ronaldtse commented on #61
Done in #417, closing.

[2020-11-16 13:13] #61 closed

[2020-11-16 13:17] #378 closed

[2020-11-16 13:17] ronaldtse commented on #375
Done in #610, closing.

[2020-11-16 13:17] #375 closed

[2020-11-16 13:20] ronaldtse commented on #167
Ping @tsega, could you help implement this? Thanks!

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693783/ROMANIZATION_OF_TIGRINYA.pdf

[2020-11-16 13:20] ronaldtse commented on #163
Done in #561 , closing.

[2020-11-16 13:20] #163 closed

[2020-11-16 13:21] ronaldtse commented on #161
Done in #558, closing.

[2020-11-16 13:21] #161 closed

[2020-11-16 13:29] ronaldtse opened #632 "Implement "Northern Sámi orthography""
Authority: Saami Council (code: `saami`)
Name: "Saami Council Northern Sámi 1979 orthography"

https://en.wikipedia.org/wiki/Northern_Sami_orthography

Spec: https://en.wikipedia.org/wiki/Northern_Sami_orthography#The_1979_orthography

[code]

[2020-11-16 13:29] ronaldtse commented on #154
This system should inherit directly without modification from the system at #632.

[2020-11-16 13:30] ronaldtse commented on #148
Done in #557.

[2020-11-16 13:30] #148 closed

[2020-11-16 13:30] ronaldtse commented on #137
Spec: https://www.google.com/search?client=safari&rls=en&q=BGN/PCGN+Table+of+Correspondences+--+Moldovan&ie=UTF-8&oe=UTF-8

[2020-11-16 13:31] ronaldtse commented on #119
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/816663/ROMANIZATION_OF_KYRGYZ.pdf

[2020-11-16 13:32] ronaldtse commented on #116
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/811511/ROMANIZATION_OF_KAZAKH.pdf

[2020-11-17 02:15] ronaldtse commented on #106
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693794/ROMAN-SCRIPT_SPELLING_CONVENTIONS.pdf

![Uploading Screen Shot 2020-11-17 at 10.15.14 AM.png…]()

[2020-11-17 02:19] ronaldtse commented on #106
This is tricky because this system introduces conditions:
1. If the output supports those characters, edh and thorn are not converted (need to define concept of "character set")
2. If the output doesn't support edh/thorn, then transliterate them to "dh" and "th".

In the meantime, let's have this system "implemented" by inheriting the 1964 version, overriding the rules so they don't change any cha

[2020-11-17 02:20] ronaldtse commented on #154
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693794/ROMAN-SCRIPT_SPELLING_CONVENTIONS.pdf

<img width="864" alt="Screen Shot 2020-11-17 at 10 15 51 AM" src="https://user-images.githubusercontent.com/11865/99337767-df95d280-28bd-11eb-95ea-e6ab5f6787da.png">

Similar to https://github.com/interscript/interscript/issues/106#issuecomment-7286427

[2020-11-17 02:21] ronaldtse commented on #632
Actually this is incorrect. We only encode conversion systems, not orthographies. Closing.

[2020-11-17 02:21] #632 closed

[2020-11-17 02:26] ronaldtse commented on #86
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693794/ROMAN-SCRIPT_SPELLING_CONVENTIONS.pdf

<img width="866" alt="Screen Shot 2020-11-17 at 10 25 21 AM" src="https://user-images.githubusercontent.com/11865/99338454-32bc5500-28bf-11eb-9e67-32d8f648812f.png">

Similar to #154 #106 the system depends on the condition of the output character set.

[2020-11-17 02:28] ronaldtse commented on #93
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693794/ROMAN-SCRIPT_SPELLING_CONVENTIONS.pdf

<img width="860" alt="Screen Shot 2020-11-17 at 10 27 17 AM" src="https://user-images.githubusercontent.com/11865/99338607-78791d80-28bf-11eb-9ef0-6bac265a468e.png">

Similar to #154 #106 #86 there is an output character set condition.

[2020-11-17 02:35] ronaldtse opened #633 "Introduce concept of "output character set""
The systems of #154 #106 #86 #93 all offer conditions:

1. If the output character set supports X, do not convert X.
2. If the output character set does not support X, transliterate X to Y.

This means we need to incorporate the concept of "output character set", which is an attribute of an orthography. This means we need to differentiate "supported characters in a system" (to convert), "unsupport

[2020-11-17 02:37] ronaldtse opened #634 "Implement system `bgnpcgn-chv-Cyrl-Latn-2011`"
Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/835784/ROMANIZATION_OF_CHUVASH.pdf

[2020-11-17 02:38] ronaldtse commented on #85
Merged in #543.

[2020-11-17 02:38] #85 closed

[2020-11-17 02:47] ronaldtse opened #635 "Implement `itk-iku-Cans-Latn-1976` and `bgnpcgn-iku-Cans-Latn-2013`"
New authority: `itk` => "Inuit Cultural Institute"

Metadata:
itk-iku-Cans-Latn-1976:
[code]

Metadata:
bgnpcgn-iku-Cans-Latn-2013
(inherits from `itk-iku-Cans-Latn-1976` directly)
[code]

[2020-11-17 02:49] ronaldtse opened #636 "Implement system `bgnpcgn-kbd-Cyrl-Latn-2011`"
BGN/PCGN Romanization of Kabardian 2011 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829201/ROMANIZATION_OF_KABARDIAN.pdf

[2020-11-17 02:50] ronaldtse opened #637 "Implement `bgnpcgn-krc-Cyrl-Latn-2008`"
BGN/PCGN Karachay-Balkar Table of Correspondences Cyrillic--Roman 2008 Agreement

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829206/TABLE_OF_CORRESPONDENCES_FOR_KARACHAY-BALKAR.pdf

[2020-11-17 02:52] ronaldtse opened #638 "Implement `bgnpcgn-oss-Cyrl-Latn-2009`"
BGN/PCGN Romanization of Ossetian 2009 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/835785/ROMANIZATION_OF_OSSETIAN.pdf

[2020-11-17 02:53] ronaldtse opened #639 "Implement `bgnpcgn-shn-Mymr-Latn-2011` BGN/PCGN Romanization of Shan 2011 System"
BGN/PCGN Romanization of Shan 2011 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693772/ROMANIZATION_OF_SHAN.pdf

[2020-11-17 02:55] ronaldtse opened #640 "Implement `bgnpcgn-syr-Syrc-Latn` BGN/PCGN Syriac 2011 system"
BGN/PCGN Romanization of Modern Syriac Script 2011 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693736/ROMANIZATION_OF_MODERN_SYRIAC.pdf

[2020-11-17 02:58] ronaldtse opened #641 "Implement `bgnpcgn-udm-Cyrl-Latn-2011`"
BGN/PCGN Romanization of Udmurt 2011 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829204/ROMANIZATION_OF_UDMURT.pdf

[2020-11-17 02:59] ronaldtse opened #642 "Implement `bgnpcgn-sah-Cyrl-Latn-2012`"
BGN/PCGN Romanization of Yakut 2012 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829202/ROMANIZATION_OF_YAKUT.pdf

[2020-11-17 03:52] ronaldtse opened #643 "Implement `bgnpcgn-ava-Cyrl-Latn-2011`"
BGN/PCGN Romanization of Avar 2011 System

Spec: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/811508/ROMANIZATION_OF_AVAR.pdf

[2020-11-17 04:01] ronaldtse commented on #607
I will report the problem with (Новофедірівка to Novofedorivka).

How about Гуляйгородок => Hulyayhorodok ?

[2020-11-17 05:39] ronaldtse commented on #475
Received clarification:

General:

1. Hyphenation

2. Overlapping target characters

@AhMohsen46 are we all set? Thanks!

[2020-11-17 06:11] ronaldtse commented on #509
Clarification received.

Original question:

Answer:

Additional Romanization examples provided for BGN Persian:

سیٌد Seyyed
میدان Meydān
فردوسی Ferdowsī (if this was romanized "Ferdosī", we would reverse render it as فردسی) The "o" would suggest a short vowel, not represented in written script.

@AhMohsen46 can we:

* Implement the diphthongs "ei" (just like BGN "ey") and "ow" (just like BGN "ow

[2020-11-17 06:15] ronaldtse commented on #386
Clarification received!

Original questions:

Response 1: “The sokoon here is implied by the diacritic on the previous letter (fat.ha = ‘a’). The letter combination of ل followed by ي can only result in two possible transliterations: “lay” or “lī”. “Laī” does not comply with Arabic orthography.”

Response 2: “The Arabic diacritic known as the sukūn​ is not always written and is therefore not incor

[2020-11-17 06:18] ronaldtse commented on #386
Also, we are also meant to add these examples to the Arabic (1956) system:

سیٌد Seyyed
میدان Meydān
فردوسی Ferdowsī (if this was romanized "Ferdosī", we would reverse render it as فردسی) The "o" would suggest a short vowel, not represented in written script.

(originally from https://github.com/interscript/interscript/issues/509#issuecomment-728710139)

[2020-11-18 18:07] bilashsaha commented on #87
@ronaldtse PR: https://github.com/interscript/interscript/pull/644

[2020-11-18 18:08] bilashsaha commented on #629
@ronaldtse PR: https://github.com/interscript/interscript/pull/644

[2020-11-20 10:08] andrew2net commented on #607
This test passes. I added it to this system.

[2020-11-20 10:22] ronaldtse commented on #607
Thanks @andrew2net !

[2020-11-20 10:22] #607 closed

[2020-11-20 10:25] #629 closed

[2020-11-20 21:48] #116 closed

[2020-11-21 03:32] ronaldtse commented on #116
Thanks @andrew2net !

[2020-11-21 15:49] #119 closed

[2020-11-22 15:23] bilashsaha commented on #87
@ronaldtse https://github.com/interscript/interscript/pull/645

[2020-11-22 16:24] AhMohsen46 commented on #475
Thanks for the clarification Sir!
1-Removed all Hyphenation
2-does this apply to all of these, they are all with under-dots in BGN?
"ص,س" > "s"
"ت,ط" > "t"
"د,ض" > "d"

so they be like that?
'ṣ'  # ص
'ḍ'  # ض
'ṭ'  # ط
'ẓ'  # ظ

[2020-11-22 16:35] AhMohsen46 commented on #475
https://github.com/interscript/interscript/pull/646

this includes the fixes along with ODNI Arabic 2004
taking into consideration these
'ṣ' # ص
'ḍ' # ض
'ṭ' # ط
'ẓ' # ظ

is they are not like that, please let me know and I will push it back to what it was, but I think it is, mapping the case in 'ḍ' # ض
to the others, since they are all roughly same pronunciation

[2020-11-22 16:36] AhMohsen46 commented on #66
Done in https://github.com/interscript/interscript/pull/646

[2020-11-22 16:36] #66 closed

[2020-11-22 20:40] AhMohsen46 commented on #386
from what he said for the first question
`he Arabic diacritic known as the sukūn​ is not always written and is therefore not incorrect as written in the example`
this means either with sokoon or without, will be done the same way?
https://github.com/interscript/interscript/pull/647/files

@ronaldtse sorry to bother you if that's gonna take too long
as for the 3 examples below am not sure they are

[2020-11-22 21:34] AhMohsen46 commented on #640
next

[2020-11-22 21:36] AhMohsen46 commented on #617
Next

[2020-11-23 06:07] ronaldtse commented on #631
@AhMohsen46 is this 1997 system identical with this? Thanks.
https://www.loc.gov/catdir/cpso/romanization/azerbaij.pdf

[2020-11-23 07:59] #87 closed

[2020-11-23 08:02] ronaldtse commented on #87
Thanks @bilashsaha!

[2020-11-23 09:01] ronaldtse commented on #475
@AhMohsen46 clarification sought. Thanks!

[2020-11-23 10:46] ronaldtse commented on #119
Thanks @andrew2net !

[2020-11-23 14:52] andrew2net commented on #306
It's implementd in `maps/ua-ukr-Cyrl-Latn-2010.yaml`

[2020-11-23 14:52] #306 closed

[2020-11-23 22:12] #277 closed

[2020-11-24 02:15] ronaldtse commented on #306
Thanks @andrew2net !

[2020-11-24 02:23] ronaldtse commented on #277
Thanks @andrew2net !

[2020-11-24 02:24] ronaldtse commented on #496
9 down, 16 to go!

[2020-11-24 17:42] #17 closed

[2020-11-25 14:32] ronaldtse commented on #442
Clarification received, in this case we have two responses.

Response 1:

Response 2:

[2020-11-25 17:57] ronaldtse commented on #572
Received clarification from BGN.

@AhMohsen46 hope this is of sufficient use. If we are able to apply proper pointing for this language, we may be able to automate this to acceptable quality.

The key here is, as suggested, to have a catalog/glossary of terms -- in fact, also sentences because context is important -- so a good training data set on Urdu. It's something to do in the future, perhaps.

[2020-11-25 18:09] ronaldtse commented on #564
Clarification received.

Note 5:

Note 8:

[2020-11-25 20:25] ronaldtse commented on #475
@AhMohsen46 it is clarified that all ODNI systems do not use diacritics, so this is correct:
"ص,س" > "s"
"ت,ط" > "t"
"د,ض" > "d"

[2020-11-28 10:16] bilashsaha commented on #89
@ronaldtse I did not find any reference document for this system. The [documentation](https://geonames.nga.mil/gns/html/Romanization/ROMANIZATION%20OF%20MALDIVIAN.pdf) says that `An official system was submitted to PCGN by the Maldivian government in 1987 and approved by BGN and PCGN in 1988` Should we follow this for this system ?

[2020-11-28 10:17] bilashsaha commented on #88
@ronaldtse I had implemented `bgnpcgn-div-Thaa-Latn-1988` at https://github.com/interscript/interscript/pull/649. From the [documentation](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/816778/ROMANIZATION_OF_MALDIVIAN.pdf) it says this system supersedes the one that was approved by BGN and PCGN in 1972. I did not find any documentation for BGN and

[2020-11-29 18:11] CAMOBAP commented on #301
We can close this task because the only transliteration affected is https://github.com/interscript/interscript/issues/84#issuecomment-636496470 and test data will be generated in the scope of it

[2020-11-29 18:11] #301 closed

[2020-11-30 05:53] ronaldtse commented on #84
Merged in #650 . Thanks @CAMOBAP !

[2020-11-30 05:53] #84 closed

[2020-11-30 05:53] ronaldtse commented on #301
Thanks @CAMOBAP !

[2020-11-30 07:39] ronaldtse commented on #386
I think "Response 1" means that the "sokoon" can be inferred from the "itic on the previous letter (fat.ha = ‘a’)" so we should add the sokoon that way?

I think you are right -- I Googled these places and they are all Persian. They probably belong to the BGN/PCGN Persian system.

[2020-11-30 07:42] ronaldtse commented on #89
@bilashsaha agree that https://www.eki.ee/wgrs/rom2_dv.htm is the spec for the Maldivian Government System. And it's apparently 1987 not 1988. 1988 seems to be the date adopted by BGN/PCGN, which is different.

If the Government and the BGN systems are identical, we should make BGN inherit from the Government one.

[2020-12-01 20:01] bilashsaha commented on #88
closing this with https://github.com/interscript/interscript/pull/649

[2020-12-02 01:16] ronaldtse commented on #88
Actually let’s keep this open for now, will find out the 1972 version.

[2020-12-02 18:03] bilashsaha commented on #89
@ronaldtse Government and the BGN systems are not fully identical. I am implementing the rules separately.

[2020-12-02 19:26] bilashsaha commented on #89
@ronaldtse PR: https://github.com/interscript/interscript/pull/651

[2020-12-02 19:43] bilashsaha opened #652 "Implement UN Malayalam system [UN 1972, II/11; 1977, III/12] `un-mal-Mlym-Latn-1972`"
Source : https://www.eki.ee/wgrs/rom1_ml.htm

[2020-12-02 19:45] bilashsaha opened #653 "Implement UN Gujarati system [UN 1972, II/11; 1977, III/12] `un-guj-Gujr-Latn-1972`"
Source: https://www.eki.ee/wgrs/rom1_gu.htm

[2020-12-02 19:47] bilashsaha opened #654 "Implement UN Punjabi system [UN 1972, II/11; 1977, III/12] `un-pan-Guru-Latn-1972`"
Source: https://www.eki.ee/wgrs/rom1_pa.htm

[2020-12-02 19:49] bilashsaha opened #655 "Implement UN Assamese system [UN 1972, II/11; 1977, III/12] `un-asm-Beng-Latn-1972`"
Source: https://www.eki.ee/wgrs/rom1_as.htm

[2020-12-02 19:51] bilashsaha opened #656 "Implement UN Sinhalese system [provisional 1972] `un-sin-sinh-latn-1972`"
Source: https://www.eki.ee/wgrs/rom2_si.htm

[2020-12-02 19:57] bilashsaha opened #657 "Implement UN Tamil [UN 1972, II/11; 1977, III/12] system `un-tam-Taml-Latn-1972`"
Source: https://www.eki.ee/wgrs/rom1_ta.htm

From #488

[2020-12-02 19:58] bilashsaha opened #658 "Implement un-tel-Telu-Latn-1972"
Source: https://www.eki.ee/wgrs/rom1_te.htm

[2020-12-04 07:48] bilashsaha commented on #658
@ronaldtse PR: https://github.com/interscript/interscript/pull/659

[2020-12-04 08:05] #89 closed

[2020-12-04 08:07] #658 closed

[2020-12-04 10:52] ronaldtse opened #660 "Implement UN Tamil [UN 1972, II/11; 1977, III/12] system"
https://www.eki.ee/wgrs/rom1_ta.htm

From #488

[2020-12-06 05:35] ronaldtse opened #661 "Implement UN Assamese system [UN 1972, II/11; 1977, III/12]"
Implement UN Assamese system [UN 1972, II/11; 1977, III/12]

ALALC system in #69

[2020-12-06 05:38] ronaldtse opened #662 "Implement UN Bulgarian system [UN 1977, III/10]"
Implement UN Bulgarian system [UN 1977, III/10]

BGN: #373
BGNA: #257

And others.

[2020-12-06 05:39] ronaldtse opened #663 "Implement UN Burmese system [BGN/PCGN 1970]"
Implement UN Burmese system [BGN/PCGN 1970]

BGN #142
ALALC #140

[2020-12-06 05:40] ronaldtse opened #664 "Implement UN Dzongkha system [national 1997]"
Implement UN Dzongkha system [national 1997]

BGN done #26

[2020-12-06 05:42] ronaldtse opened #665 "Implement UN Gujarati system [UN 1972, II/11; 1977, III/12]"
Implement UN Gujarati system [UN 1972, II/11; 1977, III/12]

ALALC 1997 done #99
ALALC 2011 done #538

[2020-12-06 05:43] ronaldtse opened #666 "Implement UN Kazakh system [BGN/PCGN 1979]"
Implement UN Kazakh system [BGN/PCGN 1979]

BGN done: #116

[2020-12-06 05:58] ronaldtse opened #667 "Implement UN Khmer system [UN 1972, II/10]"
Implement UN Khmer system [UN 1972, II/10]

ALALC system in #117 not completed.

[2020-12-06 06:00] ronaldtse opened #668 "Implement CNT (Lao Commission Nationale de Toponymie) Lao national system 1966"
This is identical to the BGN #130 system.

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693731/ROMANIZATION_OF_LAO.pdf

The BGN system should inherit from this CNT system.

[2020-12-06 06:01] ronaldtse opened #669 "Implement UN Macedonian Cyrillic system [UN 1977, III/11]"
Implement UN Macedonian Cyrillic system [UN 1977, III/11]

ALALC: #247
BGN: #133

[2020-12-06 06:03] ronaldtse opened #670 "Implement UN Malayalam system [UN 1972, II/11; 1977, III/12]"
Implement UN Malayalam system [UN 1972, II/11; 1977, III/12]

ALALC: #131

[2020-12-06 06:08] ronaldtse opened #671 "Implement UN Punjabi system [UN 1972, II/11; 1977, III/12]"
Implement UN Punjabi system [UN 1972, II/11; 1977, III/12]

https://www.eki.ee/wgrs/rom1_pa.htm

[2020-12-06 06:10] ronaldtse opened #672 "Implement UN Serbian system [UN 1977, III/11; 2002, VIII/14]"
Implement UN Serbian sytsem [UN 1977, III/11; 2002, VIII/14]

http://www.eki.ee/wgrs/rom1_sr.htm

BGN: #158
ALALC: #248

(BGNPCGN 1964 in #381 , ODNI, ALALC, BGNPCGN 2005 all done)

[2020-12-06 06:12] ronaldtse opened #673 "Implement UN Sinhalese system [provisional 1972]"
ALALC in #153, #550

http://www.eki.ee/wgrs/rom2_si.htm

[2020-12-06 06:56] ronaldtse opened #674 "Implement UN Thai system [UN 1967, I/14]"
Implement UN Thai system [UN 1967, I/14]

* ALALC #164
* Royal #165 / #168 / #259
* BGN done
* ISO 11940 #436

[2020-12-06 07:28] ronaldtse commented on #656
ALALC in #153, #550

[2020-12-06 07:28] ronaldtse commented on #673
This is a duplication of #656. Closing.

[2020-12-06 07:28] #673 closed

[2020-12-06 07:43] ronaldtse commented on #660
Duplicate of #657.

[2020-12-06 07:43] #660 closed

[2020-12-06 07:44] ronaldtse commented on #661
Duplicate of #655.

[2020-12-06 07:44] #661 closed

[2020-12-06 07:44] ronaldtse commented on #655
ALALC system in #69

[2020-12-06 07:44] ronaldtse commented on #671
Duplicate of #654

[2020-12-06 07:44] #671 closed

[2020-12-06 07:46] ronaldtse commented on #652
ALALC: #131

[2020-12-06 07:46] ronaldtse commented on #670
Duplicate of #652

[2020-12-06 08:24] #670 closed

[2020-12-06 08:35] ronaldtse commented on #665
Duplicate #653

[2020-12-06 08:35] #665 closed

[2020-12-06 08:35] ronaldtse commented on #653
ALALC 1997 done #99
ALALC 2011 done #538

[2020-12-07 21:16] bilashsaha commented on #655
@ronaldtse PR: https://github.com/interscript/interscript/pull/675

[2020-12-08 03:35] #655 closed

[2020-12-08 15:27] #654 closed

[2020-12-10 08:19] ronaldtse opened #677 "Add BGN examples for Pashto `bgnpcgn-pus-Arab-Latn-1968`"
Add BGN Dari transliteration examples. This applies to the system:
`bgnpcgn-pus-Arab-Latn-1968`

Examples available here:
https://github.com/interscript/interscript-private-references/blob/master/bgn/ara-dari-pashto-turkic-samples.xlsx

[2020-12-10 08:20] ronaldtse opened #678 "Add BGN examples for Dari: `bgnpcgn-prs-Arab-Latn-2007`"
Add BGN Dari transliteration examples. This applies to the system:
`bgnpcgn-prs-Arab-Latn-2007`

Examples available here:
https://github.com/interscript/interscript-private-references/blob/master/bgn/ara-dari-pashto-turkic-samples.xlsx

[2020-12-11 07:39] ronaldtse commented on #88
@bilashsaha we've received the 1972 version from BGN (thanks!) This is ready to be implemented 👍

![bgnpcgn-maldivian-1972](https://user-images.githubusercontent.com/11865/101876181-f8e12480-3bc6-11eb-8679-c328a7c35ddf.jpg)

[2020-12-11 07:45] bilashsaha commented on #653
@ronaldtse PR: https://github.com/interscript/interscript/pull/679

[2020-12-11 12:31] #653 closed

[2020-12-14 11:39] ronaldtse commented on #620
Received clarification from BGN:

@AhMohsen46 I believe this means that the transliteration produced by this system is meant to -disambiguate the underlying pronunciation (just like English), so we will need to have the proper rules to differentiate them. Could you help find those specific rules and conditions?

[2020-12-14 12:50] AhMohsen46 commented on #620
@ronaldtse yes, this makes sense, I will try to check if there is something specific for this, or if we should search for phonetics of the words, not sure if there is something like that, but will take a look, and tell you what I find

[2020-12-15 09:46] #657 closed

[2020-12-15 22:35] bilashsaha commented on #652
@ronaldtse PR: https://github.com/interscript/interscript/pull/681

[2020-12-16 02:35] #652 closed

[2020-12-16 02:49] ronaldtse opened #682 "Bump version of interscript gem"
Many new systems now available. @webdev778 can you help bump the gem? Thanks.

[2020-12-16 04:25] webdev778 commented on #682
sure

[2020-12-16 05:35] webdev778 commented on #682
I updated `release.yml` GHA withi this commit [74e27](https://github.com/interscript/interscript/commit/74e27867a8984ec580d26b22cbbf82d96ff5e3e3)

![image](https://user-images.githubusercontent.com/28761746/102309247-b4310100-3fab-11eb-9e2e-aaa35a243dca.png)

[2020-12-16 05:52] webdev778 opened #683 "Failure to update interscript-js repo on gem release"
Automatically, update interscript-js repo with new systems on gem release

Currently, it's not updating interscript-js repo
![image](https://user-images.githubusercontent.com/28761746/102311219-cdd44780-3faf-11eb-9696-77ec6ea15510.png)

I'd like to take your attention to here, @camobap.

One thing to consider, they have different version.
### Interscript GEM
![image](https://user-images.githubuser

[2020-12-16 16:11] ronaldtse opened #684 "Failure to trigger interscript-api in gem release flow"
From @webdev778.

I updated **release.yml** GHA with this commit [74e27](https://github.com/interscript/interscript/commit/74e27867a8984ec580d26b22cbbf82d96ff5e3e3)

v0.1.9 has been successfully released.
![image](https://user-images.githubusercontent.com/28761746/102309247-b4310100-3fab-11eb-9e2e-aaa35a243dca.png)

### ISSUE
**release** GHA have some errors
![image](https://user-images.githubuser

[2020-12-16 16:11] ronaldtse commented on #682
Thanks @webdev778 ! Remaining work moved to #684.

[2020-12-16 16:11] #682 closed

[2020-12-16 16:27] ronaldtse commented on #684
Ah, this is a duplicate of #683 . Closing this.

[2020-12-16 16:27] #684 closed

[2020-12-17 06:00] bilashsaha commented on #656
@ronaldtse PR: https://github.com/interscript/interscript/pull/686

[2020-12-17 06:24] #656 closed

[2020-12-17 06:42] ronaldtse opened #687 "Investigate Interscript maps for ISO 24229 spelling system codes"
ISO 24229 was the basis for Interscript system codes.

With the progress of Interscript we are now aware that the original code "system" doesn't quite work:
i.e. the pattern `"{authority code}-{lang}-{source script}-{target-script}-{id}"`

We now know there are systems that span multiple languages, or support different character sets (same script code, e.g. Latn, but different characters, e.g. dia

[2020-12-20 17:59] AhMohsen46 commented on #386
as for response one, I think yes, this might be what he meant, am going to add a pre-processing rule to add sokoon over ي in case it's preceded by fatha and ل

adding to PR: https://github.com/interscript/interscript/pull/647/files
as for second reply, sounds great, Thanks!

[2020-12-20 17:59] #386 closed

[2020-12-20 21:20] AhMohsen46 commented on #564
added rules for note 5 in https://github.com/interscript/interscript/pull/647/files

am wondering, is this glossary he's talking about something we can reach?, this might be super helpful
Thanks @ronaldtse

[2020-12-20 21:35] AhMohsen46 commented on #572
@ronaldtse the more we create the systems, the more we discover the serious need of a glossary
I will fully concentrate on this starting next week, since I'm going to be off for xmas vacation and I'll have plenty of time to get this done

[2020-12-20 21:37] AhMohsen46 commented on #572
assigning myself to reach later, and closing
Thanks for your effort @ronaldtse !

[2020-12-20 21:37] #572 closed

[2020-12-20 21:44] AhMohsen46 commented on #631
@ronaldtse they are "almost" identical
I can see they perfectly match in consonant letters, vowels are slightly different
and special rules are a little bit different too

if you'd like me to inherit and update the differences in another system this shouldn't take alot of time

[2020-12-20 23:05] AhMohsen46 commented on #442
issue 1/3: one more highlight of getting a glossary ready very soon for Farsi as well as arabic
issue 2: yes!, it makes perfect sense that the fatha is a kasra, will checkout the glossary -- updating in PR https://github.com/interscript/interscript/pull/647

I will try to read more about persian next week, maybe this will be helpful gathering data and building a good glossary for our purpose

Than

[2020-12-20 23:05] #442 closed

[2020-12-21 03:05] ronaldtse commented on #631
Yes please inherit and encode the differences. Thanks!

[2020-12-21 05:17] ronaldtse commented on #442
Thanks @AhMohsen46 !

[2020-12-21 05:18] ronaldtse commented on #572
Thanks!

[2020-12-21 09:18] bilashsaha commented on #687
@ronaldtse I had wriiten a script to extract the character set of all the mapping we have. The script is as follows :

[code]
The output of this script is as follows :

[code]
The file is big so I had pasted a chunk of it above.
Let me know how we should process it further.

[2020-12-21 09:23] ronaldtse commented on #687
Thanks @bilashsaha !

For `output_character_set: va,ra,a,ā,i,ī,u,ū,ṛ,ṝ,ḻ,ḹ...` can we have it broken down per char (but with diacritics): i.e. `va,ra,a,ā,i,ī,u,ū,ṛ,ṝ,ḻ,ḹ` => `v,r,a,ā,i,ī,u,ū,ṝ,ḻ,ḹ...`

[2020-12-22 19:29] bilashsaha commented on #687
@ronaldtse I had further normalized and made readable(i.e. converted he Unicode to readable characters) the output character set as well as the input character set.
The scripts now looks like as follows:
[code]

The output of the script looks like as follows :
[code]

[2020-12-24 09:12] ronaldtse commented on #687
@bilashsaha the output looks good, but this row seems a bit strange?

[code]
It contains `\\`?

[2020-12-24 10:37] bilashsaha commented on #687
@ronaldtse Yes I have investigated and found that `bgnpcgn-bul-Cyrl-Latn-2013` is inheriting `bgnpcgn-bul-Cyrl-Latn-1952` and `bgnpcgn-bul-Cyrl-Latn-1952` there exists a mapping `'\u042c': "\\'"` at line : https://github.com/interscript/interscript/blob/master/maps/bgnpcgn-bul-Cyrl-Latn-1952.yaml#L79

[2020-12-25 11:16] bilashsaha commented on #88
@ronaldtse PR: https://github.com/interscript/interscript/pull/688

[2021-01-10 23:48] AhMohsen46 commented on #617
done in  #648

[2021-01-10 23:48] #617 closed

[2021-01-10 23:55] AhMohsen46 commented on #678
next

[2021-01-10 23:56] AhMohsen46 commented on #677
next

[2021-01-11 00:22] ronaldtse opened #689 "Fix macOS builds with Ruby 2.5"
macOS Ruby 2.5 builds have been failing. Strangely it's the only combo that breaks.

[2021-01-11 17:12] webdev778 commented on #689
this issue is related to this [issue](https://github.com/ruby-debug/debase/issues/91)

[2021-01-11 17:15] webdev778 commented on #689
the problem was **debase** gem installing error on the latest macOSX since Nov 2020.
I recommend to remove a couple of gems of dependency from **gemspec**

- debase
- ruby-debug-ide

[2021-01-14 02:22] #689 closed

[2021-01-27 13:34] ronaldtse opened #691 "Convert systems into new language"
We have created a new transliteration system definition language at https://github.com/interscript/lcs.

It is meant to be a implementation independent language for defining a transliteration system. It is based on an explicit information model so the systems defined using it are reproducible.

This language is now ready for feedback and migration from the interscript YAML definitions.

I would li

[2021-01-27 20:53] antonsviridenko commented on #691
I looked through existing documentation, was unable to find instructions how to make test runs, i.e what and how to run to convert source text into the destinations script. Is it a Ruby program?

[2021-01-28 02:11] AhMohsen46 commented on #691
I want to try running this for an arabic map
I can't say I 100% understood it, i will try to re-examine it tomorrow asap
but am wondering if this is gonna work with transliteration we do using lookbehind/ahead regex
and if it's gonna work as well with collisions between letters "different non latin letters, mapping to the exact same latin letter" and "same non latin letter, mapping to different la

[2021-01-28 02:38] webdev778 commented on #691
please check this [documentation](https://github.com/interscript/lcs/blob/main/Interscript_Map.adoc)

[2021-01-28 02:57] webdev778 commented on #691
this is missing, right

[2021-01-28 02:59] webdev778 commented on #691
yes, you have a syntax `sub "from", "to", before: "lookbehind", after: "lookahead" which would compile to `.gsub(/(?=lookbehind)from(?>=lookahead)/)`

[2021-01-28 03:18] ronaldtse commented on #691
We have a Ruby interpreter and @webdev778 is working on a Javascript interpreter. @webdev778 can you provide documentation? Thanks.

[2021-01-28 03:28] webdev778 commented on #691
ok

[2021-01-28 04:05] webdev778 commented on #691
to be clear, we have a Ruby interpreter and a Ruby compiler which differ in one small way - Ruby interpreter executes the map directly and Ruby compiler compiles the map to Ruby code. this means that the Ruby interpreter executes maps more slowly, but "builds" them faster, and Ruby compiler executes maps about 2x faster but takes its time to build them. that's not a big difference, only those who

[2021-01-29 10:02] webdev778 commented on #691
we have documentation ready. please consult the readme:

https://github.com/interscript/lcs/blob/main/README.adoc

the maps referenced in this readme may not be ready yet. only those maps are ported already:

https://github.com/interscript/lcs/tree/main/maps/maps

[2021-01-29 15:30] webdev778 opened #692 "Question to @bilashsaha"
there are a lot of maps written like this
`    - pattern: ([ක]=?)(?=[\u0dcf\u0dd0\u0dd1\u0dd2\u0dd3\u0dd4\u0dd6\u0dd8\u0df2\u0dd9\u0dda\u0ddb\u0ddc\u0ddd\u0dde\u0dca])
      result: 'k'`

of course, it works.
`([ක]=?)(?=[\u0dcf\u0dd0\u0dd1\u0dd2\u0dd3\u0dd4\u0dd6\u0dd8\u0df2\u0dd9\u0dda\u0ddb\u0ddc\u0ddd\u0dde\u0dca])`
this syntax can be simplified to
`ක(?=[\u0dcf\u0dd0\u0dd1\u0dd2\u0dd3\u0dd4\u0d

[2021-01-30 04:03] ronaldtse commented on #692
@bilashsaha just wondering if the rule can be simplified as proposed. Thanks!

[2021-01-30 09:03] bilashsaha commented on #692
@webdev778 You are right. I did not have a second look at these codes. I will take care of these.

[2021-01-30 12:40] chaaklau commented on #691
I am looking at the Korean maps. I managed to run these maps on my machine:
`var-kor-Hang-Hang-jamo.imp`, `var-kor-Kore-Hang-2013.imp`

These maps return an error due to a missing dependency `var-kor`:
`moct-kor-Hang-Latn-2000.imp`, `iso-kor-Hang-Latn-1996-method1.imp`, `bgnpcgn-kor-Kore-Latn-rok-2011.imp`

---

The new `sub` syntax and `parallel` blocks look fine, but there is one potential issue

[2021-01-30 15:44] webdev778 commented on #691
var-kor is a library, it's located in maps/libs/. your code probably doesn't load it because you don't load "interscript-maps" gem somehow (do you run `bundle exec` or `Bundler.setup`?) - this gem is loaded in the `maps/` directory of the repository. setting up this gem is essential for setting correct paths to maps and libs. otherwise, there is another way to add the necessary directories to the

[2021-01-31 12:25] ronaldtse commented on #687
@bilashsaha in this particular map bgnpcgn-bul-Cyrl-Latn-1952, the rule is supposed to be:

[code]

Can you help fix this?

<img width="594" alt="image" src="https://user-images.githubusercontent.com/11865/106383625-1631b280-6402-11eb-9a61-8271e13ef3aa.png">

[2021-01-31 21:30] CAMOBAP commented on #106
@ronaldtse regarding the comment above https://github.com/interscript/interscript/issues/106#issuecomment-728642790

To me, it seems that we can reuse the current naming approach, but first, we need to determine what do we mean by `Latn` as the value of `source_script` and `destination_script`?

Initially, I thought that it should be a synonym for `ASCII` but in fact, it doesn't because contains c

[2021-02-01 01:56] ronaldtse commented on #106
@CAMOBAP the code `Latn` is ISO 15924 which includes all diacritical characters (and diacritic modifiers) and is definitely not meant to be ASCII.

This is indeed raising a good point, which is being investigated in #687 . ASCII does not currently have any mapping inside ISO 15924. Unicode does provide "Character Sets" but they are more expansive (more codes) and less specific (cannot identify an

[2021-02-01 02:06] ronaldtse opened #695 "bgnpcgn-bul-Cyrl-Latn-1952 character conversion rule for `'` wrong"
In the map bgnpcgn-bul-Cyrl-Latn-1952, the rule is supposed to be:

[code]

not
[code]

Original spec:
<img width="594" alt="image" src="https://user-images.githubusercontent.com/11865/106383625-1631b280-6402-11eb-9a61-8271e13ef3aa.png">

_Originally posted by @ronaldtse in https://github.com/interscript/interscript/issues/687#issuecomment-770374312_

[2021-02-01 07:07] CAMOBAP commented on #192
Done

[2021-02-01 07:07] #192 closed

[2021-02-01 07:57] ronaldtse commented on #695
Closed in b191380. Thanks @CAMOBAP !

[2021-02-01 07:57] #695 closed

[2021-02-05 11:25] CAMOBAP opened #697 "Improve GOST 16876-71"
- [ ] Implement  GOST 16876-71 Table 2
 - [ ] Once https://github.com/interscript/interscript/pull/570 merged, implement `mul` version of GOST 16876-71 Table 1 and GOST 16876-71 Table 2 to support languages

---

Original notes for this GOST

[code]

[2021-02-06 11:56] CAMOBAP commented on #687
Regarding top message:

We have proof-of-concept for multi-language systems https://github.com/interscript/interscript/pull/570

#### Proposed approach

I propose a similar approach for "output characters":
 - Allow `destination_script` property to accept a hash of values
 - Each of values `destination_script` can be an alias: `Latin`, `Cyrl` or an array of characters that are accepted (as shown i

[2021-02-06 17:04] #692 closed

[2021-02-10 12:48] manuel489 commented on #30
This task was done by other folks.

[2021-02-10 19:24] ronaldtse commented on #30
Thanks @manuel489 !

[2021-02-10 19:24] #30 closed

[2021-02-10 19:24] ronaldtse commented on #9
Thanks @manuel489 !

[2021-02-10 19:24] #9 closed

[2021-02-22 02:02] ronaldtse commented on #691
@webdev778 can we make sure that this is described in documentation for system writers? Thanks.

[2021-02-23 14:49] webdev778 opened #699 "Maps lacking tests"
We are in the process of porting the maps to interscript/lcs. The problem is, some maps lack tests. Below is a list of maps and their git history so we can see better who made them and contact them to provide those tests possibly.

## alalc-bul-Cyrl-Latn-1997
Alexande B (1):
* #80 #81 #82 #83 #84 #256 #257 add Bulgarian more maps

Ronald Tse (2):
* Provide namespaces for iso-639-x codes, fixes #47

[2021-02-23 14:59] webdev778 commented on #699
Some pings: @andrew2net @CAMOBAP @opoudjis

[2021-02-23 15:04] CAMOBAP commented on #699
@webdev778 I always added tests for mappings that contain any samples. In case if there are no samples, I tried to find/google. I decided to not generate the test on my own because this is a bad approach IMHO because if implementation contains bugs/issues we will just 'support' those issues with tests. Let me know if you disagree (I'm open to change my mind).

[2021-02-23 18:02] webdev778 commented on #699
@CAMOBAP As far as I can see, there's only 1 map of yours on this list. I used an approach to sometimes generate my own tests based on what's described in the notes. This ensures that the notes are implemented correctly.

[2021-02-23 18:46] andrew2net commented on #699
@webdev778 I've added tests whenever I was able to do it. Unfortunately, I'm not good in all languages for that I've implemented maps (some of the languages I don't know at all). Try to ask @ronaldtse, he had an intention to find experts.

[2021-02-23 21:14] webdev778 commented on #691
I have changed the behavior slightly. Because there were possible regular expression in character sections, the best way was to actually allow advanced expressions in parallel{} sections. For the basic ones we can use a fast track mode, but for the advanced ones we construct a "mega regexp". Today saw a bigger improvement which allowed us to port a lot of Arabic maps. I will fill in the documentat

[2021-02-28 19:16] AhMohsen46 commented on #287
in progress -- new language

[2021-03-04 12:56] opoudjis commented on #699
* elot-ell-Grek-Latn-743-2001-tl.yaml inherits from iso-ell-Grek-Latn-843-1997-t1: they are identical, so no additional tests are needed.
* bgnpcgn-ell-Grek-Latn-1996.yaml inherits from elot-ell-Grek-Latn-743-1982-ts, ditto
* elot-ell-Grek-Latn-743-2001-tl.yaml inherits from iso-ell-Grek-Latn-843-1997-t1, ditto
* un-ell-Grek-Latn-1987-ts.yaml inherits from elot-ell-Grek-Latn-743-1982-ts, ditto

If

[2021-03-05 03:03] ronaldtse commented on #699
@webdev778 can you help copy those tests for the Greek maps? Thanks.

@CAMOBAP still we would like to encode some tests because we are switching to a new language mapping approach, we need to ensure the new output is identical to old output.

@AhMohsen46 can you help create the tests?

@CAMOBAP can you do this?

@ni4 would you be able to help?

@andrew2net I believe you can make tests for this?

[2021-03-05 12:35] ni4 commented on #699
@ronaldtse Sure. At first glance `icao-ukr-Cyrl-Latn-9303` has some extra symbols, which are not present in Ukrainian, and doesn't include some rules (like, when some letter is first in the word then it is transliterated with 2 symbols instead of 1).  I assume that I should fix these things as well?

[2021-03-07 17:24] AhMohsen46 commented on #699
working on this: icao-fas-Arab-Latn-9303 now, will push it in an hour at max

[2021-03-08 07:31] opoudjis commented on #691
https://github.com/interscript/lcs/blob/main/docs/Interscript_Map_Format.adoc

That is... an odd constraint, given that you're doing transliteration from non-ASCII scripts; we cannot presuppose that these expressions will always work on ASCII. It would be preferable to use the Unicode properties related to word characters, such as `[[:alpha:]]` or `[[:word:]]` or `\p{Alnum}` or `/\p{L}/`. The catc

[2021-03-08 07:37] opoudjis commented on #691
https://github.com/interscript/lcs/blob/bfffb20f25a40b3d36eb0908afe275e0759f290a/maps/maps/alalc-ell-Grek-Latn-2010.imp

I think it's a shame that the multi-line test at the start is rendered as a continuous string, and not with human-readable line wrapping.

But so long as my tests are working, I'm happy with where this has gotten to.

[2021-03-15 18:15] webdev778 commented on #691
I agree. We found out the hard way that boundary was implemented differently between JS (where it had \w semantics) and Ruby (where it had \p{L} semantics). We polyfilled it with an ugly and inefficient regexp which tanked performance twofold (still better than the Opal implementation).

I think that the new approach is good, because we can gradually deprecate some old behaviors and fix them all i

[2021-03-16 02:34] ronaldtse opened #700 "Integrate LCS repository to main interscript repository"
We will migrate to the new interscript language instead of YAML maps.

Related to interscript/lcs#13

[2021-04-24 03:54] jacky778 commented on #700
Successfully integrated, closed

[2021-04-24 03:58] webdev778 commented on #700
Successfully integrated, need to be closed

[2021-04-24 04:17] #700 closed

[2021-04-30 08:27] ronaldtse opened #702 "Polish Romanization"
https://unstats.un.org/unsd/geoinfo/ungegn/docs/11th-uncsgn-docs/E_Conf.105_63_CRP.63_14_Romanization%20rules%20in%20Poland.pdf

http://ksng.gugik.gov.pl/english/tgp.php

[2021-04-30 08:27] ronaldtse commented on #687
Ping @ribose-jeffreylau to follow up on this.

[2021-05-08 21:29] CAMOBAP opened #705 "Investigate and fix macos tests failure"
- https://github.com/interscript/interscript/runs/2536163185?check_suite_focus=true

[2021-05-09 07:57] ronaldtse opened #706 "Reinstate GHA CI tests"
Somehow they were lost during the repo migration to v2.

This issue is to reinstate all the tests.

[2021-05-09 08:02] ronaldtse commented on #706
From @CAMOBAP

* windows blocked because sqreen/ruby-libv8-node#9
* macOS some tests failed will be investigated in the scope of #705

[2021-05-13 03:55] ribose-jeffreylau opened #709 "Implement markup tags for entities"
GeoNames, Person Names, Currency, etc.

[2021-05-13 03:58] ribose-jeffreylau opened #710 "Implement support for specification of pre-processing engines"
A way to specify pre-processing engines, e.g. use module ABC to preprocess (normalize, segment, tag name entities) the text before performing transliteration tasks below

_Originally: https://github.com/interscript/lcs/issues/2#issuecomment-578096993_

[2021-05-13 03:58] ribose-jeffreylau opened #711 "Support separate transliteration rules for different types of entity"
Allow separate transliteration rules for different types of entity, e.g. title case for spans marked as GeoNames, hyphenate syllables within Person Names, etc.

_Originally: https://github.com/interscript/lcs/issues/2#issuecomment-578096993_

[2021-05-13 03:59] ribose-jeffreylau opened #712 "Support rules to specify unhandled cases"
_E.g._ combinations not supported by the transliteration system

_Originally: https://github.com/interscript/lcs/issues/2#issuecomment-578096993_

[2021-05-13 04:00] ribose-jeffreylau opened #713 "Implement functions to support loose transliteration systems"
_Originally: https://github.com/interscript/lcs/issues/2#issuecomment-578096993_

[2021-05-13 04:01] ribose-jeffreylau opened #714 "Support option of returning best guess or all possible transliterations"
_Originally: https://github.com/interscript/lcs/issues/2#issuecomment-578096993_

[2021-05-13 04:37] ronaldtse commented on #714
Premise:
- sometimes there are ambiguous conversion rules, such as 1 character converting to 1 out of 2 characters
- in these cases we currently only return the result for the 1st conversion, the 2nd+ rules are ignored

This issue requires implementation of an option to return either a single instance of the conversion result, or all instances of the results.

One can consider that the conversion

[2021-05-13 04:39] ronaldtse commented on #709
We need to implement detection (via machine-learning) to find out entity names (geonames, person name, currency...). This can be used in an interscript "stage" so that we can apply different script conversion systems on these.

[2021-05-13 04:39] ronaldtse commented on #710
Requires #709 to be used here.

[2021-05-13 04:39] ronaldtse commented on #711
Requires implementation of #709

[2021-05-13 04:41] ronaldtse commented on #712
A "default" conversion for things that fall out of the target character class.

For example, in a Japanese (script) to Latin (script) conversion, if we miss a particular Japanese rule, the leaked Japanese character will violate the target character class. We will need a way to indicate what to do in such case (because we don't want to break the reader).

[2021-05-13 05:12] ronaldtse commented on #713
This links to https://github.com/interscript/interscript/issues/39

[2021-05-13 07:40] ronaldtse commented on #683
@webdev778 is this still relevant? Thanks.

[2021-05-13 07:42] ronaldtse commented on #581
@webdev778 can you help make this work with the Thai model? Thanks.

[2021-05-13 07:42] ronaldtse commented on #553
Closing this since we don't use it anymore.

[2021-05-13 07:42] #553 closed

[2021-05-13 08:17] ronaldtse opened #715 "Review Unicode’s LDML from v35"
https://www.unicode.org/reports/tr35/tr35-general.html#Transforms

This was given by Unicode in the recent TC46/WG 3 meeting chat.

This issue is to review the document to ensure our mapping language supports all the necessary features supported by LDML.

[2021-05-28 02:01] ronaldtse commented on #474
Superseded by #351

[2021-05-28 02:01] #474 closed

[2021-05-28 02:02] ronaldtse commented on #349
Done in #707

[2021-05-28 02:02] #349 closed

[2021-05-28 03:00] ronaldtse commented on #310
Something like the Unicode CLDR Transformation Charts:
https://www.unicode.org/cldr/cldr-aux/charts/32/transforms/index.html
<img width="921" alt="Screenshot 2021-05-28 at 11 00 17 AM" src="https://user-images.githubusercontent.com/11865/119923238-ebb4c800-bfa3-11eb-9c58-5bca1e8f3d59.png">

e.g. https://www.unicode.org/cldr/cldr-aux/charts/32/transforms/Latin-Hangul.html

<img width="938" alt="Scr

[2021-05-28 03:07] ronaldtse commented on #715
One feature that we don't have is the indication of whether a rule can be reversed (bidirectional).

[2021-05-28 08:02] ronaldtse commented on #667
http://www.eki.ee/wgrs/v2_2/rom1_km.pdf

[2021-05-28 08:33] ronaldtse opened #716 "Support specification of reverse script conversion"
One feature that we don't have is the indication of whether a rule can be reversed (bidirectional).

This feature is supported by Unicode's LDML.

This is also related to the functionality described by #465, as a pivot point to convert scripts across a pair of scripts that have a common convertible system but not a direct system.

_Originally posted by @ronaldtse in https://github.com/interscript/

[2021-05-28 08:33] ronaldtse commented on #465
In the second case, we can use a pivot system to convert scripts across a pair of scripts that have a common convertible system but not a direct system.

[2021-06-02 03:32] ronaldtse commented on #700
This has been done in #701

[2021-06-03 02:59] ronaldtse commented on #718
Moved this issue back to main interscript/interscript since the interscript/lcs repo is being archived.

[2021-06-04 11:16] AhMohsen46 opened #719 "Adding diacritics to unpointed Arabic text"
Diacritics in Arabic are Latin short vowels.
examples:
َ  : a
ُ  : w/o
ِ  : i/e
ّ  : doubling the letter
ْ  : omitted
Mostly, in Arabic text, diacritics are omitted from writing, but still affecting the pronunciation, and consequently, the transliteration of it to Latin script
example:
فلسطين‎ is transliterated to Filasṭīn
ف = F
ل = L
س = S
ط = T
ي = Y
ن = N

note that if this is transliterated, i

[2021-06-04 15:45] ronaldtse commented on #719
Regarding @AhMohsen46 's comment about fixed-length outputs, my potential solution was here:
https://github.com/secryst/data-arabic-pointing/issues/1

[2021-06-05 02:25] ronaldtse commented on #719
Ping @gilgameshjw this is the task at hand.

[2021-06-06 19:57] gilgameshjw commented on #719
### Summary
Hello, over the last days, I have reviewed some literature, mainly this [article](https://arxiv.org/pdf/1905.01965.pdf). I have also run tests with **shakkala** and **mishkal** libraries on both yours and the shakkala benchmark datasets.

### Findings on diacritisation
1. [shakkala](https://github.com/Barqawiz/Shakkala) library not only crushes other libraries, but it is relatively eas

[2021-06-06 22:09] AhMohsen46 commented on #719
@gilgameshjw Thanks for the effort investigating!
1-I'm in favor of shakkala, it's also the most widely used of the available ones, most Started on Github too, but I remember a discussion I had with Ronald about it, and he said that we wanna avoid installing neural network libraries and have it in ONNX format instead, and I frankly didn't have enough knowledge in Neural networks to talk about that

[2021-06-06 23:33] gilgameshjw commented on #719
A few things to mention here:
* I could run shakkala on my slow cpu's...
*  it was a few times faster than mishkal to run on realistic examples of the dataset.
* Also, you don't need to train anything, the model can be loaded.
* Accuracy is much better  (see article above, 6% vs 26% WER... for Shakkala vs Mishkal...)

Their is a complication with large sentences that would need to be cut into smal

[2021-06-06 23:48] gilgameshjw commented on #719
* In term of WER it means 70% for shakkala and 100% for mishkal on the dataset without collision...?
* If the pbm is the deployment of NNs, there are container technologies. My guess is that anything not NNs is not near to do the job compared to NNs here.

[2021-06-07 04:36] ronaldtse commented on #719
Our goal is to have the "diacritiziation model" realized in ONNX, which allows the user to directly utilize the model without any development ML/NN code installed (e.g. libtorch).

It looks like Shakkala (at least its dataset) is the way to go due to the low error rate as they demonstrated (also better than Mishkal):
<img width="778" alt="Screenshot 2021-06-07 at 12 32 12 PM" src="https://user-ima

[2021-06-07 11:05] gilgameshjw commented on #719
Hello,

1. **model to pytorch:** perfectly doable given that the model precise specs are available if you load the model. I think it is around one week at the current rate to get the model replicated, maybe not with the same rates (I have only access to a 8 cores CPU machine currently, which might be enough but slow...).
2.  **improvements:** we can try for another week or two after 1. I would nee

[2021-06-07 12:50] ronaldtse commented on #719
That's excellent. Let's try out with what

GPU: of course, we can provide AWS access.

Probably @AhMohsen46 would have an idea.

The database to use here is the [GeoNames database](http://geonames.nga.mil), it is accurate as I understand.

[2021-06-08 09:40] ronaldtse opened #720 "Setup auto-release for interscript Ruby gem"
As title.

[2021-06-08 09:42] ronaldtse commented on #720
Apparently this was implemented here but mistakenly removed:
https://github.com/interscript/interscript/pull/319/files

@phuonghuynh will reinstate this.

[2021-06-08 10:04] phuonghuynh opened #721 "Restore GHA workflows for testing and release (was: Need to look into PR #701)"
All release workflows are deleted on "master" for some reasons, we need to get it back and update them all to reflect current site status, i.e. site `-js`, `-api`

Git log command bellow route to this PR contains latest version of release workflow, #701
[code]

/cc @ronaldtse
/cc @webdev778

[2021-06-08 19:50] gilgameshjw commented on #719
@AhMohsen46  @ronaldtse I found and read new ressources, **2020 benchmarks!**:
[article](https://arxiv.org/pdf/1905.01965.pdf) and [code](https://github.com/Hamza5/Pipeline-diacritizer)

[2021-06-09 07:15] ronaldtse commented on #719
This looks really impressive! The code isn’t long either.

This particular system claims to work better than Shakeela, and uses Tensorflow together with some post-DL cleaning. We could implement the training part with PyTorch, and maybe @gilgameshjw can improve on the results as well, which I suspect can be done. (In this paper they separate the shadda as a second dimension, but maybe it doesn’t n

[2021-06-09 09:42] gilgameshjw commented on #719
We just had a long chat with @AhMohsen46 .

As we discover, it seems that this code (unlike shakkala) is complete and has the data encoding and preprocessing bits made available. It looks like one can just take the tensorflow NNets and just transform it into its pytorch equivalent.

If that were to go without problem as it should, we discussed about the most straightforward improvements we could m

[2021-06-09 09:52] ronaldtse commented on #719
Thanks guys! This looks like a good plan. After all this we might also be able to use AraBERT for named entity detection...

[2021-06-09 10:42] gilgameshjw commented on #719
@AhMohsen46 I am happy to help for the last point.

For using AraBERT, obviously we won't be able to use it as it is as we are working without harakat, but there are several potential ideas to use it somehow to enrich the arabic without harakat.

[2021-06-09 14:29] ronaldtse commented on #721
@webdev778 please have a look, thanks.

[2021-06-14 09:37] gilgameshjw commented on #719
Hello, I do think I have a running version in pytorch on my computer. After one epoch, results and score are promising.
I am finishing to wrap up a slightly better version of the scripts and a few plots and compute with the std benchmarks.

As mentionned above, it would be good to have a meeting with @ronaldtse  @AhMohsen46  at this point.
There are various points to be addressed, among others:
*

[2021-06-15 08:19] webdev778 commented on #721
Done
[here](https://github.com/interscript/interscript/blob/master/.github/workflows/release.yml)

[2021-06-15 08:20] webdev778 commented on #706
Restored

[2021-06-15 08:21] webdev778 commented on #720
Done

[2021-06-16 11:28] ronaldtse commented on #719
The work will be continually developed at https://github.com/interscript/arabic-diacritization .

[2021-06-16 14:23] phuonghuynh commented on #721
Thanks @webdev778

[2021-06-16 14:23] #721 closed

[2021-06-16 14:28] phuonghuynh opened #723 "List out softwares / libraries need to install for interscrip v2"
As title

/cc @ronaldtse , you could assign this issue to someone that can answers this to help to implement GraphQuery API on AWS Lambda

[2021-06-17 03:49] #720 closed

[2021-06-17 03:49] #706 closed

[2021-06-17 03:50] #705 closed

[2021-06-17 03:58] webdev778 commented on #723
Please refer [this guide](https://github.com/interscript/interscript/blob/master/docs/Integration_with_Ruby_Applications.adoc)

[2021-06-17 04:00] webdev778 commented on #723
Hope you check this guide together.
[Usage with Secryst](https://github.com/interscript/interscript/blob/master/docs/Usage_with_Secryst.adoc)

[2021-06-17 05:24] #723 closed

[2021-06-17 05:24] ronaldtse commented on #723
Thanks @webdev778 !

[2021-06-17 05:48] phuonghuynh commented on #723
Thanks @webdev778

[2021-06-17 05:50] ronaldtse commented on #723
I think we need to provide a sample repository on how to use `Secrystfile` though. Let's create an "interscript demo with secryst"?

[2021-06-23 08:23] gilgameshjw commented on #719
# Where are we?
## Benchmarks:
* benchmark [datasets](https://github.com/interscript/arabic-diacritization/tree/master/tests-benchmarks):
	* tashkeela benchmark data
	* ahmad practical examples
	* data arabic pointing
* Benchmarks are WER and DER with and without endings.
* [helpers](https://github.com/interscript/arabic-diacritization/tree/master/tests-benchmarks) to clean up arabic from diacriti

[2021-06-24 06:55] ronaldtse commented on #719
@gilgameshjw the plan looks good, let's proceed!

Is it possible to prune the larger model down to the smaller model, e.g. https://stackoverflow.com/questions/62326683/prunning-model-doesnt-improve-inference-speed-or-reduce-model-size ?

Or is the better approach to train a smaller model from the beginning? I guess the time/cost is similar...

[2021-06-29 06:34] webdev778 opened #725 "Make the metadata format consistent across all systems"
### Description
Checking the present systems, we can easily notice that metadata's properties and content types and formats vary from system to system a little bit.
A few of them have some special keys like `special_rules original_description original_notes implementation_notes` that others don't have.
Also regarding `Description` there are two standards.
One is
[code]
another is
[code]
Further, t

[2021-06-30 02:00] ronaldtse commented on #725
We should develop a data model in LutaML for this:
https://github.com/lutaml/lutaml-uml

i.e.
[code]

=> in LutaML syntax:

[code]

[2021-06-30 09:22] ronaldtse commented on #117
Spec: https://www.loc.gov/catdir/cpso/romanization/khmer.pdf

[2021-06-30 15:58] ronaldtse commented on #667
@monyoudom could you help implement this system like the other `*.imp` files under `maps/`? Thanks.

[2021-07-04 03:25] ronaldtse opened #726 "Make `maps` and `js` not submodules"
`maps` and `js` folders should not be submodules. They are independent projects that should be released and versioned independently.

On changes to this current repo, it can clone in the latest release of `maps` to test.

[2021-07-04 04:21] ronaldtse opened #727 "`interscript-maps` as a gem should be able to be independently updated and released"
Without a dependency on the Ruby runtime.

The syntax of maps should be decoupled from the version of the Ruby runtime (i.e. new runtime features should not break old maps, new maps using new features should not be loaded with old runtime versions).

[2021-07-04 23:52] ronaldtse opened #728 "Add functionality to detect transliteration system(s) used for a given phrase"
Input: string
Output: what transliteration systems have output that match this phrase. List out exact matches and close matches (based on edit distance?)

[2021-07-04 23:55] ronaldtse commented on #728
One sample process is to be able to correct the transliteration entries in the GNDB. It seems that quite a number of the transliteration pairs do not use the correct system.

[2021-07-05 11:03] gilgameshjw commented on #719
# To do list + approximate schedule

## NNets and Python Code
### update readme's, about usage and data
@gilgameshjw
##### 5 July
### test nnets
@gilgameshjw  @AhMohsen46
##### 5-6 July
* test nnets on other datasets and check again with ahmad examples
* test nnets model on single words collisions/not collisions

### add business rules
@gilgameshjw  @AhMohsen46
##### 7-9 july
* add business rules